<div class="FeedContainer">
	<div class="TopContainer" data-dojo-attach-point="TopContainerNode">
		<div class="ssvc-toolbar">
			<div>
				<label></label>
				<div class="ssvc-toolbar-buttons">
					<span title="Refresh" class="MarkupButton RefreshFeedButton"></span>
					<div class="MarkupButton ssvc-preferences-button">
						<div class="ssvc-preferences-button-icon" title="Preferences"></div>
						<div class="ssvc-preferences-popup">
							<div class="ssvc-preferences-popup-title"></div>
							<div class="ssvc-preferences-property">
								<input type="checkbox" class="arasCheckboxOrRadio" id="enable_in_app_notifications">
								<label class="ssvc-preferences-popup-label" for="enable_in_app_notifications"></label>
							</div>
							<div class="ssvc-preferences-property">
								<input type="checkbox" class="arasCheckboxOrRadio" id="enable_immediate_notifications">
								<label class="ssvc-preferences-popup-label" for="enable_immediate_notifications"></label>
							</div>
							<div class="ssvc-preferences-property">
								<input type="checkbox" class="arasCheckboxOrRadio" id="enable_email_digest_notification">
								<label class="ssvc-preferences-popup-label" for="enable_email_digest_notification"></label>
							</div>
						</div>
					</div>
					<div class="ssvc-toolbar-search">
						<input data-dojo-attach-point="ftFilterByMessageText" type="text" />
						<span title="Search" class="MarkupButton LoupeButton"></span>
						<span class="MarkupButton MoreOptionsButton"></span>
					</div>
					<div class="MarkupButton ssvc-display-settings-button aras-form">
						<div class="ssvc-display-settings-icon" title="Display Settings"></div>
						<div class="ssvc-display-settings-popup">
							<div class="ssvc-display-setting">
								<span class="ssvc-toolbar-sortingLabel"></span>
								<div class="ssvc-display-setting-field">
									<select class="ssvc-toolbar-sorting" data-dojo-attach-point="ftSortingSelector"></select>
								</div>
							</div>
							<div class="ssvc-display-setting">
								<span class="ssvc-toolbar-modeLabel"></span>
								<div class="ssvc-display-setting-field">
									<select class="ssvc-toolbar-mode"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ssvc-toolbar-addComment">
				<div class="ssvc-toolbar-addComment-container">
					<div class="ssvc-toolbar-addComment-area" data-text="Enter a comment…&#xa;Use @ to mention people" contenteditable="true"></div>
					<span class="ssvc-toolbar-addComment-resize"></span>
				</div>
				<input type="button" class="btn" disabled>
				<div style="margin-top: 5px; display:none;">
					<input class="arasCheckboxOrRadio" type="checkbox"/>
					<label>Include snapshot</label>
				</div>
			</div>
		</div>
		<div class="ssvc-filter"><span></span><a></a></div>
	</div>
	<div class="MessageContainerParent">
		<div class="MessageContainer" data-dojo-attach-point="MessageContainer" tabindex="0"></div>
		<div id="visibilityIndicatorPopup"></div>
	</div>
	<input type="button" data-dojo-attach-point="ShowMoreMessages" value="Show more messages" class="ssvc-show-more-messages btn" />
	<div data-dojo-attach-point="UserInfoContainer" class="UserInfoContainer"></div>
	<div id="FilteringPopupContainer" data-dojo-attach-point="FilteringPopupContainer" style="display: none;"></div>
</div>
