<div id="FilteringPopupContainerInner" data-dojo-attach-point="FilteringPopupContainerInnerNode" class="aras-form">
	<div class="fpRowGroup">
		<div class="fpLabelColumn">${TypeLabel}</div>
		<select id="cmbMessageType" data-dojo-attach-point="cmbMessageType"></select>
	</div>
	<div class="fpRowGroup">
		<div class="fpLabelColumn">${SourceLabel}</div>
		<select id="cmbSourceType" data-dojo-attach-point="cmbSourceType" class="sourceTypeSelect"></select>
	</div>
	<div class="fpRowGroup">
		<div class="fpLabelColumn">${FromLabel}</div>
		<input id="edtFromUserName" data-dojo-attach-point="edtFromUserNameNode" type="text" placeholder="${FromDefValue}" />
	</div>
	<div class="fpRowGroup">
		<div class="fpLabelColumn">${TimeframeLabel}</div>
		<select id="cmbTimeFrame" data-dojo-attach-point="cmbTimeFrame"></select>
	</div>
	<div id="TimeframeLast" data-dojo-attach-point="TimeframeLastNode" class="fpRowGroup" style="display: none;">
		<div class="fpLabelColumn">&nbsp;</div>
		<div class="fpEditHalfSize">
			<input id="edtDateCount" data-dojo-attach-point="edtDateCountNode" type="text" />
			<select id="cmbDateUnits" data-dojo-attach-point="cmbDateUnits"></select>
		</div>
	</div>
	<div id="TimeframeRange" data-dojo-attach-point="TimeframeRangeNode" class="fpRowGroup" style="display: none;">
		<div class="fpLabelColumn">&nbsp;</div>
		<div class="fpEditHalfSize">
			<div class="date">
				<input id="edtDateStart" data-dojo-attach-point="edtDateStartNode" class="fpEditHalfMoreSize" type="text" />
				<span id="btnDStartCalendarShow" data-dojo-attach-point="btnDStartCalendarShowNode" class="fpButtonShowDate"></span>
			</div>
			<div class="fpTo">${ToLabel}</div>
			<div class="date">
				<input id="edtDateFinish" data-dojo-attach-point="edtDateFinishNode" class="fpEditHalfMoreSize" type="text" />
				<span id="btnDFinishCalendarShow" data-dojo-attach-point="btnDFinishCalendarShowNode" class="fpButtonShowDate"></span>
			</div>
		</div>
	</div>
	<div class="fpRowGroup">
		<div class="fpLabelColumn">${RevisionLabel}</div>
		<input id="edtRevision" data-dojo-attach-point="edtRevisionNode" type="text" placeholder="${RevisionDefValue}" />
	</div>
	<div class="fpRowGroup">
		<div class="fpLabelColumn">${StateLabel}</div>
		<input id="edtState" data-dojo-attach-point="edtStateNode" type="text" placeholder="${StateDefValue}" />
	</div>
	<div class="fpButtons">
		<input id="btnSearch" data-dojo-attach-point="btnSearchNode" class="aras-btn" type="button" value="${SearchButtonLabel}" />
		<input id="btnCancel" data-dojo-attach-point="btnCancelNode" class="aras-btn btn_cancel" type="button" value="${CancelButtonLabel}" />
	</div>
</div>
