<div data-dojo-attach-point="ReplyToolbarContainerNode" class="ssvc-toolbarReply ssvc-toolbar-addComment">
	<div class="ssvc-toolbar-addComment-container">
		<div class="ssvc-toolbar-addComment-area" data-text="Enter a comment…&#xa;Use @ to mention people" contenteditable="true"></div>
		<span class="ssvc-toolbar-addComment-resize"></span>
	</div>
	<input type="button" class="btn" data-dojo-attach-point="btReplyNode" value="Reply" disabled />
	<div style="margin-top: 5px; margin-bottom:5px; display:none; position: relative;" data-dojo-attach-point="ftIncludeImage">
		<input class="arasCheckboxOrRadio" type="checkbox" data-dojo-attach-point="ftIncludeImageChk" />
		<label>Include snapshot</label>
	</div>
</div>