<!DOCTYPE html>
<!-- (c) Copyright by Aras Corporation, 2004-2013. -->
<html>
<head>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules"></script>
	<script type="text/javascript" src="../../../../javascript/include.aspx?classes=/dojo.js"
			data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl: '../../../javascript/dojo', packages: [{ name: 'ES', location: '../../../Modules/aras.innovator.ES' }]"></script>
	<link rel="stylesheet" href="../../../styles/common.min.css">

	<link rel="stylesheet" href="../Styles/Dialogs.min.css">
	<script type="text/javascript" src="../Scripts/Apps/AddPropertiesDialogApp.js"></script>
	<script>
		window.aras = window.frameElement.dialogArguments.aras;
	</script>
</head>
<body id="addPropertiesDialog">
	<div id="dialogContent">
		<div id="availablePropsContainer">
			<div class="content">
				<span class="subtitle" data-ml="dialog.add_props.unindexed_props"></span>
				<iframe id="searchSpinner" src="../../../scripts/spinner.html" class="hidden"></iframe>
				<aras-toolbar id="gridToolbar"></aras-toolbar>
				<div id="gridContainer"></div>
			</div>
		</div>
		<div id="selectedPropsContainer">
			<span class="subtitle" data-ml="dialog.add_props.props_to_index"></span>
			<div id="propsContainer" class="listbox"></div>
		</div>
	</div>
	<div id="buttonsContainer">
		<button id="okButton" autofocus="" class="aras-button aras-button_primary" disabled>
			<span class="aras-button__text" data-ml="buttons.ok"></span>
		</button>
		<button id="cancelButton" class="aras-button aras-button_secondary-light">
			<span class="aras-button__text" data-ml="buttons.cancel"></span>
		</button>
	</div>
</body>
</html>