<!DOCTYPE html>
<!-- (c) Copyright by Aras Corporation, 2004-2013. -->
<html>
<head>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules"></script>
	<link rel="stylesheet" href="../../../styles/common.min.css">

	<link rel="stylesheet" href="../Styles/Dialogs.min.css">
</head>
<body id="addPropertiesWarnDialog" class="hidden">
	<div id="dialogContent">
		<img id="warnIcon" class="aras-button__icon" src="../../../../Images/Warning.svg">
		<span id="warnMessage" data-ml="dialog.add_props_warn.message"></span>
	</div>
	<div id="buttonsContainer">
		<button id="acceptButton" autofocus="" class="aras-button aras-button_primary">
			<span class="aras-button__text" data-ml="dialog.add_props_warn.accept"></span>
		</button>
		<button id="backButton" class="aras-button aras-button_secondary-light">
			<span class="aras-button__text" data-ml="dialog.add_props_warn.back"></span>
		</button>
	</div>
</body>
</html>