<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../../styles/common.min.css">
		<link rel="stylesheet" href="../../../javascript/include.aspx?classes=dijitClaro.css">
		<link rel="stylesheet" href="../Styles/Main.min.css">

		<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules"></script>
		<script type="text/javascript" src="../../../javascript/include.aspx?classes=/dojo.js"
				data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl: '../../../javascript/dojo', packages: [{ name: 'ES', location: '../../Modules/aras.innovator.ES' }]"></script>
		<script type="text/javascript" src="../Scripts/App.js"></script>
	</head>
	<body class="claro">
		<iframe id="searchSpinner" src="../../../scripts/spinner.html" class="searchSpinner hidden"></iframe>
		<div id="layoutContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false, design: 'sidebar'" class="hidden">
			<div id="filtersContainer" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'"></div>
			<div id="searchContainer" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'"></div>
			<div id="resultsContainer" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
			<div id="paginatorContainer" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'"></div>
		</div>
		<div id="messageContainer" class="hidden"></div>
	</body>
</html>