<AdHocSettings>
	<Property Name="PrintMode" Value="Html2PdfAndHtml" />
	<Property Name="AllowHtmlOutputsInScheduledReports" Value="False" />
	<Property Name="TabsCssUrl" Value="Resources/css/tabs.css" />
	<Property Name="ReportCssUrl" Value="Resources/css/Report.css" />
	<Property Name="GenerateThumbnails" Value="False" />
	<Property Name="ShowSimpleModeViewer" Value="True" />
	<Property Name="ShowFiltersInReportViewer" Value="False" />
	<Property Name="ShowDesignLinkInReportViewer" Value="False" />
	<Property Name="ReportsPath" Value="C:\inetpub\iReporting\Reports" />
	<Property Name="TemplatesPath" Value="C:\inetpub\iReporting\Reports" />
	<Property Name="ShowLinkFormats" Value="False" />
	<Property Name="ShowSaveInReportViewer" Value="False" />
	<!--<Property Name="HiddenCategories" />-->
	<Property Name="FieldValueCssUrl" Value="rp.aspx?css=FieldValue" />
	<Property Name="ShowAddFieldInReportViewer" Value="False" />
	<Property Name="ShowRemoveFieldInReportViewer" Value="False" />
	<Property Name="GaugeStyles" />
	<Property Name="ShowSummaryLine" Value="False" />
	<Property Name="NoDataSourcePage" Value="Settings.aspx" />
	<Property Name="ShowDataWhenParametersBlank" Value="False" />
	<Property Name="PreviewColumnLimitMessage" Value="Reports with more than 100 fields must be exported to CSV.  Please check CSV Export to view data." />
	<Property Name="ReportsSharedByDefault" Value="False" />
	<Property Name="AllowSelfJoin" Value="False" />
</AdHocSettings>