<replication status="disabled">
  <!-- 
    Put information required for starting replication queue processing thread:
      * db - name of the database (required attribute)
      * user - name of a special user that is used by the processing thread for login ('vadmin' by default)
      * interval - interval in seconds between sending the queue processing requests (60 by default)
      * max_batch - maximum transactions that could be processed in a single processing cycle (25 by default)
      * max_pending - maximum pending transactions allowed at any time (50 by default)
      * vault_timeout - vault timeout in milliseconds (5000 by default)
    In order to start the queue processing thread change the attribute 'status' on the parent
    node to 'enabled' and restart the IIS.
  -->
  <rnode db="{database name}" user="{user}" interval="{interval}" max_batch="{max_batch}" max_pending="{max_pending}" vault_timeout="{vault_timeout}"/>
</replication>