<?xml version="1.0" encoding="utf-8"?>
<oauth>
	<client id="AgentService">
		<secret type="JwtBearerAssertionClientSecret">
			<certificate filePath="App_Data/Certificates/AgentService.pfx" password="innovator"></certificate>
			<tokenLifetime assertionTokenLifetime="300"></tokenLifetime>
		</secret>
	</client>
	<tokenValidation>
		<cache enabled="true" duration="300"></cache>
		<certificate filePath="App_Data/Certificates/OAuthServer.cer"></certificate>
	</tokenValidation>
</oauth>
