<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath=".\bin\ConversionService.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" requestTimeout="02:00:00">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" /><!-- Use "Development" for errors diagnostics. -->
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>