.longFormatKnot {
	position:absolute;
	overflow:hidden;
	border: 1px solid #CCCCCC !important;
	border-right: 0;
	border-bottom: 0;
	background-color: #F6F6F6;
	text-align: center;
	vertical-align: middle;
}
.shortFormatKnot {
	position:absolute;
	overflow:hidden;
	border: 1px solid #CCCCCC !important;
	border-right: 0;
	background-color: #F6F6F6;
	font-size: 9px;
}

.ganttWbs {
	position: absolute;
	z-index : 10;
	border  : 0;
}

.chartFormatKnot {
	position:absolute;
	z-index: 2;
	border-width: 0px 0px 0px 1px;
	border-style: dotted;
	border-color: black;
}

.ganttHorizontalLine {
	position:absolute;
	border: 1px dotted black;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}

.ganttSelectedItem {
	background-color: #F8EEC0;
}

.ganttWbs::after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: #000000 transparent transparent #000000;
	border-width: 3px;
}

.ganttWbs::before {
	top: 100%;
	left:100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color:#000000  #000000 transparent transparent;
	border-width: 3px;
	margin-left: -6px;
}

.ganttTask {
	position: absolute;
	z-index : 10;
	border  : 1px solid black;
}

.ganttTaskHover:hover {
	-webkit-box-shadow: 2px 2px 4px #808080;
	-moz-box-shadow: 2px 2px 4px #808080;
	box-shadow: 2px 2px 4px #808080;
}

.ganttTaskProgress {
	position: absolute;
	z-index : 10;
}

.ganttTaskFloat {
	position: absolute;
	z-index : 10;
	border-width: 0px 2px 2px 2px;
	border-color: #404040;
	border-style: solid;
}

.ganttDependenceLink {
	position:absolute;
	z-index: 10;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right:0;
	border-bottom:0;
	padding:0px;
	margin:0px;
}

.ganttDependenceLinkArrow {
	position: absolute;
	z-index : 10;
	height  : 0px;
	width   : 0px;
}

.arrowBottom {
	margin-top: -9px;
	margin-left: -3px;
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	border-style: solid;
	border-width: 10px 3px 0px 3px;
}

.arrowTop {
	margin-top: -1px;
	margin-left: -3px;
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	border-style: solid;
	border-width: 0px 3px 10px 3px;
}

.arrowRight {
	margin-top: -3px;
	margin-left: -9px;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-style: solid;
	border-width: 3px 0px 3px 10px;
}

.arrowLeft {
	margin-top: -3px;
	margin-left: -1px;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-style: solid;
	border-width: 3px 10px 3px 0px;
}