.aras-hide {
	display: none !important;
}

.grid-section {
	display: flex;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	flex-direction: column;
	position: relative;
}

.grid-section-left-column {
	display: flex;
	flex-direction: column;
}

.outlined-button .dijitIcon {
	outline: 1px solid rgb(54, 104, 177);
	outline-offset: 2px;
}

.outlined-button > .dijitButtonNode {
	padding-top: 2px !important;
}

.property-select-block {
	width: 250px;
	height: inherit;
	flex-shrink: 0;
	border-left: 1px solid rgb(212, 212, 212);
	border-top: 1px solid rgb(212, 212, 212);
	display: flex;
	flex-direction: column;
}

.property-select-block.hidden {
	display: none;
}

.property-select-block .toolbar {
	width: 100%;
}

.property-select-block .buttons {
	height: 30px;
	padding: 5px 0;
	text-align: center;
	flex-shrink: 0;
}

.property-select-block .buttons {
	border-top: 1px solid rgb(212, 212, 212);
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.property-select-block .aras-grid-header {
	display: none;
}

.property-select-block .aras-grid-head-cell,
.property-select-block .aras-grid-row-cell {
	border: none;
}

.property-select-block .aras-grid-row-cell_boolean {
	text-align: left;
}

.property-select-block .checkbox-title {
	display: inline-block;
}

.property-select-block .aras-treegrid-cell-container .checkbox-title {
	display: inline-block;
}

.property-select-block
	.aras-grid-row:not(.aras-grid-row_selected):not(:hover):nth-child(2n + 1) {
	background: none;
}

.property-select-block .aras-filter-list {
	border: 1px solid #505050;
	box-sizing: border-box;
}

.property-select-block .aras-filter-list input {
	border: none;
}

.property-select-block .selected-value-img {
	width: 25px;
}

.property-select-block .selected-value-img:before,
.property-select-block .selected-value-img:after,
.property-select-block .aras-filter-list-tree-label:after,
.property-select-block
	.aras-filter-list-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after,
.property-select-block
	.aras-itemProperty-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after {
	content: '';
	display: block;
	position: absolute;
	background-image: radial-gradient(
		circle at 0 0,
		#9c9c9c 1px,
		transparent 1px,
		transparent 100%
	);
	background-size: 2px;
}
.property-select-block .selected-value-img:before {
	background-repeat: repeat-x;
	background-position: 0 11.5px;
	height: 100%;
	left: 0.5rem;
	top: 0;
	width: 1rem;
}
.property-select-block .selected-value-img:after {
	background-size: 1px 2px;
	background-repeat: repeat-y;
	background-position: 4.5px;
	height: 25%;
	top: 7px;
	width: 1.5rem;
}
.property-select-block .aras-filter-list-tree-branch,
.property-select-block .aras-filter-list-tree-leaf {
	background: none;
}
.property-select-block .aras-filter-list-tree-label {
	padding-left: 3px;
}
.property-select-block
	.aras-filter-list-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after,
.property-select-block
	.aras-itemProperty-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after {
}
.property-select-block .aras-filter-list-tree-label:after,
.property-select-block
	.aras-filter-list-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after,
.property-select-block
	.aras-itemProperty-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after {
	background-size: 1px 2px;
	background-repeat: repeat-y;
	background-position: 4.5px;
	height: 25%;
	left: -1.5rem;
	top: 7px;
	width: 1.5rem;
}
.property-select-block .aras-form-boolean > span {
	line-height: 1.3333rem;
}
.property-select-block .aras-filter-list__dropdown.delimitered > ul:after {
	content: '';
	display: block;
	position: absolute;
	top: 72px;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid;
}
.property-select-block .aras-filter-list-tree-label {
	white-space: nowrap;
	padding-right: 5px;
}
.property-select-block .aras-filter-list__dropdown {
	left: auto;
	right: 0;
	min-width: 100%;
	width: auto;
}
.property-select-block .aras-grid-active-cell,
.property-select-block .aras-grid-active-cell_showed {
	display: none;
}
.property-select-block .tree.search-mode .aras-treegrid-expand-button,
.tree.search-mode .aras-grid-row .aras-grid-row-levelpad:after {
	display: none;
}
.property-select-block .aras-treegrid-expand-button.aras-icon-minus {
	width: 0px;
	height: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgb(47, 47, 47);
	border-top: none;
	transform: rotate(180deg);
}
.property-select-block .aras-filter-list .dropdown-arrow {
	background: transparent url('../../../images/dropdown-arrow.svg') no-repeat
		scroll center center;
}
.property-select-block .aras-filter-list:hover .dropdown-arrow {
	background: transparent url('../../../images/dropdown-hover.svg') no-repeat
		scroll center center;
}
.property-select-block .aras-treegrid-expand-button.aras-icon-plus {
	width: 0px;
	height: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgb(47, 47, 47);
	border-top: none;
	transform: rotate(90deg);
	margin-bottom: 1px;
}
.property-select-block .aras-treegrid-expand-button.aras-icon-plus::after {
	border: none;
}
.property-select-block .tree {
	margin: 0px 5px;
	padding-top: 5px;
}
.property-select-block .no-properties {
	text-align: center;
	flex-grow: 1;
	padding-top: 10px;
}
.property-select-block .properties-selector-block {
	margin: 0 10px;
	padding: 10px 0;
	border-bottom: 1px solid rgb(212, 212, 212);
}
.property-select-block .properties-selector-block-upper {
	display: flex;
}
.property-select-block .properties-selector-block-upper label {
	flex-grow: 0;
	font-size: 12px;
	line-height: 20px;
}
.property-select-block .properties-selector-block .property-types {
	width: 150px;
	flex-grow: 1;
	margin-left: 10px;
}
.property-select-block .search-switch {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	margin: 0 3px;
	text-align: center;
	background-color: rgb(255, 192, 0);
	background-clip: content-box;
	padding: 2px;
}
.property-select-block .search-switch.enabled {
	outline: 1px solid #5e86c1;
}
.property-select-block .side-header .search-block {
	display: inline-block;
	width: 115px;
	position: relative;
	border: 1px solid #d4d4d4;
	height: 24px;
	box-sizing: border-box;
	margin-left: 2px;
}
.property-select-block #searchBox {
	padding: 0 0 0 5px;
	height: 100%;
	border-width: 0;
	font-size: 12px;
	position: relative;
	width: calc(100% - 30px);
}
.property-select-block #searchBtn {
	position: absolute;
	background: url(../../../images/Loupe.svg) no-repeat center;
	background-size: 22px;
	width: 22px;
	height: 22px;
	right: 1px;
	top: 0;
}
.property-select-block #myBookmarksLabel {
	font-size: 14px;
	flex-grow: 1;
}
.property-select-block .border-box {
	border-bottom: 1px solid rgb(212, 212, 212);
	margin: 0 10px;
	padding: 5px 0;
	display: flex;
}
