/VaultServerConfig.xml
/InnovatorServerConfig.xml
/ConversionServerConfig.xml
/SelfServiceReportConfig.xml

AgentService/App_Data/Certificates/AgentService.pfx
AgentService/App_Data/Certificates/OAuthServer.cer
AgentService/AgentService.config
AgentService/appsettings.json
AgentService/conversion.config
AgentService/OAuth.config
ConversionServer/App_Data/Certificates/ConversionServer.pfx
ConversionServer/App_Data/Certificates/OAuthServer.cer
ConversionServer/ConversionServer.xml
ConversionServer/OAuth.config
Innovator/Client/Innovator.xml
Innovator/Client/OAuth.config
Innovator/Client/jsBundles
Innovator/Client/.eslintrc.json
Innovator/Server/App_Data/Certificates/InnovatorServer.pfx
Innovator/Server/App_Data/Certificates/OAuthServer.cer
Innovator/Server/Innovator.xml
Innovator/Server/OAuth.config
OAuthServer/App_Data/Certificates/AgentService.cer
OAuthServer/App_Data/Certificates/ConversionServer.cer
OAuthServer/App_Data/Certificates/InnovatorServer.cer
OAuthServer/App_Data/Certificates/OAuthServer.cer
OAuthServer/App_Data/Certificates/OAuthServer.pfx
OAuthServer/App_Data/Certificates/SelfServiceReporting.cer
OAuthServer/App_Data/Certificates/VaultServer.cer
OAuthServer/App_Data/OAuthServer.sqlite
OAuthServer/OAuth.config
OAuthServer/OAuthServer.config
OAuthServer/Web.config
OAuthServer/App_Data/key-*.xml
Scheduler/InnovatorServiceConfig.xml
SelfServiceReporting/App_Data/Certificates/OAuthServer.cer
SelfServiceReporting/App_Data/Certificates/SelfServiceReporting.pfx
SelfServiceReporting/SelfServiceReport.xml
SelfServiceReporting/OAuth.config
VaultServer/App_Data/Certificates/OAuthServer.cer
VaultServer/App_Data/Certificates/VaultServer.pfx
VaultServer/vault.config
VaultServer/OAuth.config

AML-packages/core_imports.mf
AML-packages/solutions_imports.mf

AutomatedProcedures/src/DeploymentProcedure/obj/
AutomatedProcedures/src/packages/
AutomatedProcedures/TemplatesOfSettingFiles/**/*.cer
AutomatedProcedures/TemplatesOfSettingFiles/**/*.pfx
AutomatedProcedures/tools/.nuget/NuGet.exe
AutomatedProcedures/tools/7-Zip.CommandLine/
AutomatedProcedures/tools/Aras.Deployment.Tool/
AutomatedProcedures/tools/ArasUpdateCmd/logs/
AutomatedProcedures/tools/NAnt/
AutomatedProcedures/tools/NAnt.Contrib.Portable/
AutomatedProcedures/tools/NodeJS/node_modules
AutomatedProcedures/tools/Microsoft.Experimental.IO/
AutomatedProcedures/tools/MSBuild.Microsoft.VisualStudio.Web.targets/
AutomatedProcedures/tools/PackageImportExportUtilities/Export/config.xml
AutomatedProcedures/tools/PackageImportExportUtilities/Export/log
AutomatedProcedures/tools/PackageImportExportUtilities/Import/config.xml
AutomatedProcedures/tools/PackageImportExportUtilities/Import/log
AutomatedProcedures/tools/Aras.DeltaExtraction.CommandLine/

ATF
AutomatedProceduresOutput

Deployment-Package-From-*
Log-Package-From-*

Innovator/Client/jsBundles/compile.log
Innovator/Client/.eslintignore

Innovator/Server/bin/Aras.Common.*
Innovator/Server/dll
Innovator/Server/temp

Innovator/Server/Data/FeatureTreeInfo.xml

Instances

src/**/obj/
src/**/bin/
src/**/packages/
src/**/Output/

Tests/.vs/
Tests/**/obj/
Tests/packages/
Tests/Output/
Tests/TestResults/
Tests/CSharpMethods.UnitTests.VisualState.xml
Tests/IntegrationTests.VisualState.xml

Tests/PackageMethods/CSharpMethods/CompiledMethods/
Tests/PackageMethods/CSharpMethods/CompilationBackup/
Tests/PackageMethods/JavascriptMethods/
Tests/STAF/**/bin/

Tests/ClientTests/reporters/

/*.nupkg

*.suo
*.user

.vs