<?xml version="1.0" encoding="utf-8"?>
<package>

	<!-- Basic Package Info -->
	<info>
		<name>CRT</name>
		<label>Customer Repository Template</label>
		<version>1.0.0</version>
		<type>aia</type>
		<owner>Aras Corporation</owner>
		<description>Customer Repository Template.</description>
		<copyright>©2020 Aras Corporation</copyright>
		<tool_minimal_version_required>1.6</tool_minimal_version_required>
	</info>

	<!-- Installation Process -->
	<installation>

		<!-- Aras Innovator Code Tree Updates -->
		<module id="AG" label="@{Pkg.AG.Label}" description="@{Pkg.AG.Desc}" required_properties="InstallationPath">

			<!-- Copy files into the code tree -->
			<exec program="powershell" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ExecRobocopy.ps1" "${Package.Dir}\AgentService" "${InstallationPath}"' />

		</module>

		<!-- Aras Innovator Code Tree Updates -->
		<module id="CS" label="@{Pkg.CS.Label}" description="@{Pkg.CS.Desc}" required_properties="InstallationPath">

			<exec program="powershell" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ExecRobocopy.ps1" "${Package.Dir}\ConversionServer" "${InstallationPath}"' />

		</module>

		<!-- Aras Innovator Code Tree Updates -->
		<module id="IS" label="@{Pkg.IS.Label}" description="@{Pkg.IS.Desc}" required_properties="InstallationPath">

			<property name="Client.WebConfig" value="${InstallationPath}\Client\web.config" />
			<if test="${file::exists(Client.WebConfig)}" >
				<property name="Files.Revision.Xpath" value="/configuration/cachingModule/@filesRevision" />
				<property name="New.Files.Revision" value="" />

				<xmlpeek file="${Client.WebConfig}" xpath="${Files.Revision.Xpath}" property="Old.Files.Revision" />

				<if test="${Old.Files.Revision == 'std'}">
					<property name="New.Files.Revision" value="2" />
				</if>
				<if test="${Old.Files.Revision != 'std'}">
					<property name="New.Files.Revision" value="${int::parse(Old.Files.Revision) + 1}" />
				</if>

				<xmlpoke file="${Client.WebConfig}" xpath="${Files.Revision.Xpath}" value="${New.Files.Revision}" />
				<echo message="Updating files revision from '${Old.Files.Revision}' to '${New.Files.Revision}' for client web.config" />
			</if>

			<exec program="powershell" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ExecRobocopy.ps1" "${Package.Dir}\Innovator" "${InstallationPath}"' />

		</module>

		<!-- Aras Innovator Code Tree Updates -->
		<module id="OAS" label="@{Pkg.OAS.Label}" description="@{Pkg.OAS.Desc}" required_properties="InstallationPath">

			<exec program="powershell" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ExecRobocopy.ps1" "${Package.Dir}\OAuthServer" "${InstallationPath}"' />

		</module>

		<!-- Aras Innovator Code Tree Updates -->
		<module id="SSR" label="@{Pkg.SSR.Label}" description="@{Pkg.SSR.Desc}" required_properties="InstallationPath">

			<exec program="powershell" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ExecRobocopy.ps1" "${Package.Dir}\SelfServiceReporting" "${InstallationPath}"' />

		</module>

		<!-- Aras Innovator Code Tree Updates -->
		<module id="VS" label="@{Pkg.VS.Label}" description="@{Pkg.VS.Desc}" required_properties="InstallationPath">

			<exec program="powershell" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ExecRobocopy.ps1" "${Package.Dir}\VaultServer" "${InstallationPath}"' />

		</module>

		<!-- Aras Innovator Code Tree Updates -->
		<module id="SC" label="@{Pkg.SC.Label}" description="@{Pkg.SC.Desc}" required_properties="InstallationPath">

			<exec program="powershell" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ExecRobocopy.ps1" "${Package.Dir}\Scheduler" "${InstallationPath}"' />

		</module>

		<!-- Database Updates -->
		<module id="DB" label="@{Pkg.DB.Label}" description="@{Pkg.DB.Desc}" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password|Pre.Aml.Deployment.Scripts.Name|Post.Aml.Deployment.Scripts.Name|Path.To.IOM.dll|Path.To.Language.Packs|Path.To.Language.Tool|Server|Language.Pack.Innovator.Username|Language.Pack.Innovator.Password">
			<property name="Shared.Args" value='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ApplyAml.ps1" -InnovatorUrl "${Innovator.URL}" -DatabaseName "${Innovator.DB}" -DatabaseUser "${Innovator.Username}" -DatabasePassword "${Innovator.Password}" -PathToIomDll "${Path.To.IOM.dll}"' />

			<echo message="Applying pre-deployment AML script"/>
			<exec program="powershell" failonerror="true" commandline='${Shared.Args} -PathToAmlScripts "${Package.Dir}\${Pre.Aml.Deployment.Scripts.Name}"' />

			<import dir="${Package.Dir}\AML-packages" failonerror="false" />

			<exec program="powershell" failonerror="true" commandline='-File "${Package.Dir}\AutomatedProcedures\PowershellScripts\ApplyLanguagePacks.ps1" -PathToLanguageTool "${Path.To.Language.Tool}" -PathToLanguagePacks "${Path.To.Language.Packs}" -Server "${Server}" -DatabaseName "${Innovator.DB}" -DatabaseUser "${Language.Pack.Innovator.Username}" -DatabasePassword "${Language.Pack.Innovator.Password}"' />

			<echo message="Applying post-deployment AML script"/>
			<exec program="powershell" failonerror="true" commandline='${Shared.Args} -PathToAmlScripts "${Package.Dir}\${Post.Aml.Deployment.Scripts.Name}"' />
		</module>

	</installation>
</package>
