/* Configurable Grid*/
.arasExcelDataGrid.dojoxGrid .dojoxGridContent .dojoxGridCellFocus {
	padding: 0px 2px!important;
}

.arasExcelDataGrid .dojoxGridView div.dojoxGridRowSelected .dojoxGridRowTable tr .dojoxGridCell:not([bginvert="false"]), .arasExcelDataGrid .dojoxGridView div.dojoxGridRowSelected .dojoxGridRowTable tr .dojoxGridCell:not([bginvert="false"]) a, .arasExcelDataGrid .dojoxGridView div.dojoxGridRowOver tr .dojoxGridCell, .arasExcelDataGrid .dojoxGridView div.dojoxGridRowSelected tr .dojoxGridCell, .arasExcelDataGrid .dojoxGridRowSelected, .arasExcelDataGrid .dojoxGridView div.dojoxGridRowOver .dojoxGridRowTable tr .dojoxGridCell:not([bginvert="false"]), .arasExcelDataGrid .dojoxGridView div.dojoxGridRowOver .dojoxGridRowTable tr .dojoxGridCell:not([bginvert="false"]) a {
	background-color: transparent !important;
}

.arasExcelDataGrid .dojoxGridRowTable tr {
	height: 26px;
}

.arasExcelDataGrid .dojoxGridCell .dijitComboBox .dijitInputInner {
	height: 21px !important;
}

/* Special hack for IE10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.arasExcelDataGrid .dijitTextArea { 
		min-height: 21px !important;
		margin-top: 3px !important;
	}

	.arasExcelDataGrid .dijitTextArea:focus::selection {
		background: #3399FF;
		color: #fff;
	}
}

/* Hack for Microsoft Edge 12+*/
@supports (-ms-ime-align:auto) {
	.arasExcelDataGrid .dijitTextArea { 
		min-height: 21px !important;
		margin-top: 3px !important;
	}

	.arasExcelDataGrid .dijitTextArea:focus::selection {
		background: #3399FF;
		color: #fff;
	}
}

.arasExcelDataGrid .cellMultilineNode, .arasExcelDataGrid .cellFirstMultilineNode {
	font: 12px/17px Tahoma, Arial, Helvetica, sans-serif;
	overflow: hidden;
	word-break: keep-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.arasExcelDataGrid .dojoxGridCellFocus .cellFirstMultilineNode {
	margin-top: -1px;
}

.arasExcelDataGrid .dojoxGridCell .dijitTextArea {
	font: 12px/17px Tahoma, Arial, Helvetica, sans-serif;
	margin-top: -1px;
	padding: 0px !important;
	overflow-x: hidden !important;
	word-break: keep-all;
	word-wrap: break-word;
	resize: none;
}

.claro .arasExcelDataGrid .dojoxGridRowOdd .dojoxGridRowTable tr {
	background: none;
}
/* end of Configurable Grid*/