/* Grid */

.grid_icon_fix {
	background-image: url('../../images/InfoActions.svg'),
		url('../../images/InfoActionsHover.svg'),
		url('../../images/checkbox-unchecked.svg'),
		url('../../images/checkbox-checked.svg');
}

/* Header */
.claro .dojoxGrid {
	border-width: 0px;
}

.claro .dojoxGridSortNode {
	width: 99%;
}

.claro .dojoxGridSortNode,
.claro .dojoxGridColCaption {
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.claro .dojoxGridMasterHeader {
	min-height: 28px;
	filter: ; /* remove blue area presents next to the Grid Header (IR-023289) */
	border-style: none none solid solid;
}

div.dojoxGridHeader table.dojoxGridRowTable,
.claro .dojoxGridMasterHeader {
	border-collapse: collapse;
	background: none repeat scroll 0 0 #ffffff;
}

div.dojoxGridHeader table.dojoxGridRowTable tbody {
	background-color: #f6f6f6 !important;
}

.claro .dojoxGridHeader {
	border-top: 1px solid #ccc !important;
}

.claro .dojoxGridHeader .dojoxGridCell {
	position: relative;
	border-width: 0px 1px 1px 0px;
	border-color: #cccccc;
	border-style: solid;
	font-size: 13px;
	padding: 4px 3px 4px 2px !important;
	text-align: center;
}

.claro .dojoxGridContent .dojoxGridCell,
.claro .dojoxGridTreeModel .dojoxGridContent .dojoxGridCell {
	padding: 3px 2px 3px 3px !important;
	border-right: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
}

/* Search bar */
tr.SearchBar td {
	background-color: #dde7f5 !important;
	border-width: 0px 1px 1px 0px !important;
	border-color: #ccc !important;
	border-style: solid !important;
	font-size: 9pt;
}

tr.SearchBar td .dijitTextBox {
	height: 22px;
	width: 100%;
}

tr.SearchBar td input {
	padding-bottom: 3px !important;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-color: transparent;
	margin-top: 2px;
}

tr.SearchBar td input:focus {
	box-shadow: none;
}

.SearchBar .dijitSelect .dijitInputField,
.SearchBar .dijitTextBox .dijitInputField,
.claro .dijitSelect .dijitInputField,
.claro .dijitTextBox .dijitInputField {
	padding: 0px 2px;
}

.SearchBar.dijitTextBoxFocused .dijitInputContainer,
.SearchBar .dijitTextBoxFocused,
.claro .dijitTextBoxFocused {
	background: none repeat scroll 0 0 #fff;
}

.SearchBar span.dijitArrowButtonInner {
	background-image: url('../../images/arrow-blue-b.svg');
	background-position: -7px center !important;
}

.SearchBar span.dijitArrowButtonInner:hover,
.SearchBar td:first-child:hover span.dijitArrowButtonInner {
	background-image: url('../../images/arrow-blue-b-hover.svg');
}

.SearchBar span.dijitButtonNode,
.claro .dojoxGridHeader .dojoxGridCellOver,
.claro .dojoxGridCellOver .dojoxGridSortNode {
	background-color: transparent !important;
}

.SearchBar .dijitValidationTextBoxError .dijitValidationContainer {
	height: 20px;
}

.SearchBar .dijitComboBox .dijitArrowButtonInner:hover {
	background-image: url('../../images/dropdown-hover.svg');
}

.SearchBar .dijitComboBox .dijitArrowButtonInner,
.SearchBar .dojoxCheckedMultiSelect .dijitArrowButtonInner {
	max-height: 22px !important;
	max-width: 22px !important;
	width: 22px !important;
	height: 22px !important;
	background-size: 22px 22px;
	border: 0px none !important;
}

.SearchBar .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.SearchBar .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
	background-position: 0 center;
}

.dojoxGridContent .dijitComboBox .dijitArrowButtonInner,
.dojoxGridContent .dojoxCheckedMultiSelect .dijitArrowButtonInner {
	width: 17px !important;
	height: 17px !important;
	max-height: 17px !important;
	max-width: 17px !important;
	background-size: 17px 17px;
}

.SearchBar .InputHelper .dijitComboBox .dijitArrowButtonInner {
	max-height: 22px !important;
	max-width: 22px !important;
	width: 22px !important;
	height: 22px !important;
	border: 0 none !important;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.SearchBar .InputHelper .dijitComboBox .dijitArrowButtonInner,
.dojoxGrid .InputHelper .dijitComboBox .dijitArrowButtonInner {
	background-image: url('../../images/ellipsis.svg');
}

.SearchBar .InputHelper .dijitComboBox .dijitArrowButtonInner:hover,
.dojoxGrid .InputHelper .dijitComboBox .dijitArrowButtonInner:hover {
	background-image: url('../../images/ellipsis-hover.svg');
}

.SearchBar .dijitSelect .dijitArrowButtonInner {
	background-position: 0px 0px;
	background-image: url('../../images/dropdown-arrow.svg');
}
/* end of Search bar */

.claro .dijitComboBox input:focus {
	box-shadow: none !important;
}

.claro .dijitTextBoxHover {
	background-position: 0px 0;
	background-image: none !important;
}

.dijitSpinner .dijitSpinnerButtonContainer,
.dijitComboBox .dijitArrowButtonContainer {
	border-width: 0px !important;
}

.claro .dojoxGridArrowButtonNode {
	background: url('../../images/arrow-b.svg') no-repeat;
	padding: 0px !important;
	margin-left: 3px !important;
	height: 5px;
	width: 8px;
	float: none !important;
	display: inline-block;
}

.claro .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: 0px 0;
	background: url('../../images/arrow-t.svg') no-repeat scroll left center
		transparent;
}

.claro .dojoxGridHeader:first-child {
	margin-left: -2px;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #f6f6f6;
}

.claro .dojoxGridRowOver .dojoxGridCell,
.claro .dojoxGridRowSelected .dojoxGridRowTable tr {
	background: none;
	border-top: 0 none;
	background-color: #f8eec0;
}

div.dojoxGridRowOver
	.dojoxGridRowTable
	tr
	.dojoxGridCell:not([bginvert='false']),
div.dojoxGridRowOver
	.dojoxGridRowTable
	tr
	.dojoxGridCell:not([bginvert='false'])
	a,
div.dojoxGridRowSelected
	.dojoxGridRowTable
	tr
	.dojoxGridCell:not([bginvert='false']),
div.dojoxGridRowSelected
	.dojoxGridRowTable
	tr
	.dojoxGridCell:not([bginvert='false'])
	a {
	background-color: #f8eec0 !important;
}
div.dojoxGridRowOver
	.dojoxGridRowTable
	tr
	.dojoxGridCell:not([bginvert='false']) {
	background-color: #fcf7de !important;
}
div.dojoxGridRowOver.dojoxGridRowSelected
	.dojoxGridRowTable
	tr
	.dojoxGridCell:not([bginvert='false']) {
	background-color: #f2e3a0 !important;
}
/* Special hack for IE10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	div.dojoxGridRowOver
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false']),
	div.dojoxGridRowOver
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false'])
		a,
	div.dojoxGridRowSelected
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false']),
	div.dojoxGridRowSelected
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false']) {
		background: transparent !important;
		background-clip: padding-box !important;
		background: #F8EEC0\9 !important;
	}
	div.dojoxGridRowOver
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false']),
	div.dojoxGridRowSelected
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false']) {
		background-color: #f8eec0 !important;
	}
	div.dojoxGridRow.dojoxGridRowSelected table.dojoxGridRowTable {
		background-color: #f8eec0;
	}

	tr.SearchBar td:first-child {
		border-top-color: #dde7f5 !important;
	}
	div.dojoxGridRowOver
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false']) {
		background-color: #fcf7de !important;
	}
	div.dojoxGridRowOver.dojoxGridRowSelected
		.dojoxGridRowTable
		tr
		.dojoxGridCell:not([bginvert='false']) {
		background-color: #f2e3a0 !important;
	}
}

.dojoxGridView {
	margin-left: -1px !important;
	top: -1px !important;
}

.dojoxGridView table td {
	font: 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
}

.dojoxGridRowTable td {
	border: 0 none !important;
}

.claro .dijitCheckBox,
.claro .dijitCheckBoxIcon {
	margin: 0 2px 0 0;
	padding: 0;
	width: 15px;
	height: 15px;
	background-size: 15px 15px !important;
}

.claro .dijitCheckBox,
.claro .dijitToggleButton .dijitCheckBoxIcon {
	background-position: 0px none;
	background: url('../../images/checkbox-unchecked.svg') 0 0 no-repeat;
}

.claro .dijitCheckBoxChecked,
.claro .dijitToggleButtonChecked .dijitCheckBoxIcon {
	background-position: 0 none;
	background-image: url('../../images/checkbox-checked.svg');
}

.claro .dijitCheckBoxDisabledChecked,
.claro .dijitToggleButtonDisabledChecked .dijitCheckBoxIcon {
	background-position: 0 none;
	background-image: url('../../images/checkbox-disabled-checked.svg');
}

.DropDownArrowButtonInner,
.dojoxGrid .dijitComboBox .dijitArrowButtonInner {
	background: url('../../images/dropdown-arrow.svg') transparent 0 center
		no-repeat;
	background-size: 22px 22px !important;
	margin: 0px !important;
	padding: 0px !important;
	max-height: 22px !important;
	max-width: 22px !important;
	padding: 0px !important;
	height: 22px !important;
	width: 22px !important;
}

.DropDownArrowButtonInner:hover,
.dojoxGrid .dijitComboBox .dijitArrowButtonInner:hover {
	background-image: url('../../images/dropdown-hover.svg');
}

.dojoxGrid {
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* Special hack for IE10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.dijitInputInner:focus::selection {
		background: #3399ff;
		color: #fff;
	}
}

.dojoxGrid .dijitSelectFocused,
.dojoxGrid .dijitSelectFocused .dijitButtonContents,
.dojoxGrid .dijitTextBoxFocused,
.dojoxGrid .dijitTextBoxFocused .dijitButtonNode {
	border: 0px none !important;
	background-color: #fff !important;
}

.dojoxGrid .dijitSelect,
.dojoxGrid .dijitSelect .dijitButtonContents,
.dojoxGrid .dijitTextBox,
.dojoxGrid .dijitTextBox .dijitButtonNode {
	border: 0px none !important;
	background-color: transparent;
	background-image: none;
}

.dojoxGrid div.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCellFocus,
.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	.dojoxGridCellFocus
	.dijitComboBox
	.dijitInputInner:hover,
.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	.dojoxGridCellFocus
	.dijitComboBox:hover,
.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	.dojoxGridCellFocus
	.dijitTextBox:hover,
.dojoxGrid .dojoxGridContent .dijitComboBox .dijitArrowButtonInner:hover,
.dojoxGrid .dijitComboBox .dijitDownArrowButtonHover,
.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	.dojoxGridCellFocus
	.dijitComboBox
	.dijitInputInner:hover,
.claro .dojoxGridRowOver .dojoxGridRowEditing .dojoxGridCell {
	background-color: #fff !important;
}

.claro .dojoxGridRowEditing td {
	background-color: #fff !important;
}

.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	.dojoxGridCellFocus
	.dijitInputInner,
.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	.dojoxGridCell
	.dijitInputInner {
	margin-left: -2px !important;
	margin-top: 1px !important;
	margin-left: -2px \0 / IE9 !important;
	margin-top: -2px \0 / IE9 !important;
}

/* Special hack for IE10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.dojoxGrid
		div.dojoxGridRowEditing
		.dojoxGridRowTable
		tr
		.dojoxGridCellFocus
		.dijitInputInner,
	.dojoxGrid
		div.dojoxGridRowEditing
		.dojoxGridRowTable
		tr
		.dojoxGridCell
		.dijitInputInner {
		margin-left: -2px !important;
	}
}

.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	.dojoxGridCellFocus
	.dijitComboBox
	.dijitInputInner {
	margin-top: 0px \0 / IE9 !important;
}

.dojoxGrid .dojoxGridContent .dojoxGridCell,
.claro .dojoxGridTreeModel .dojoxGridContent .dojoxGridCell {
	padding: 0px 2px 0px 3px !important;
	position: relative;
}

/* Special hack for IE10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.dojoxGrid .dojoxGridContent .dojoxGridCell,
	.claro .dojoxGridTreeModel .dojoxGridContent .dojoxGridCell {
		padding: 1px 2px 0px 3px !important;
		padding: 0px 2px 0px 3px\9 !important;
	}
}

.dojoxGrid .redlineDeletedRow::after {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	top: 11px;
	height: 2px;
	background-color: #b83b1d;
}

.dojoxGrid .redlineNewRow {
	color: #2b5ea5;
}

.dojoxGrid .redlineDivLine {
	position: absolute;
	left: -2px;
	right: -2px;
	height: 2px;
	top: 50%;
	background-color: #b83b1d;
}

.dojoxGrid .redlineValueContainer {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	text-align: center;
}

.dojoxGrid .checkBoxContainer {
	position: relative;
	display: inline-block;
}

.dojoxGrid .redlineValueContainer img {
	opacity: 0.6;
}

.dojoxGrid .redlineValue {
	color: #b83b1d;
	text-decoration: line-through;
}

.claro .dijitSelectHover {
	color: #3668b1 !important;
	background-color: transparent !important;
	background-image: none !important;
	border-color: #6b6b6b !important;
}

.claro .dijitSelectHover .DropDownArrowButtonInner,
.claro .dijitSelectFocused .DropDownArrowButtonInner {
	background-image: url('../../images/dropdown-hover.svg') !important;
}

.claro .dijitSelectLabel {
	margin-bottom: 1px;
}

.claro .dijitSelectFocused .dijitArrowButton {
	border: medium none;
	padding: 0px;
}

.dijitSelectDisabled .DropDownArrowButtonInner,
.dijitSelectDisabled .DropDownArrowButtonInner:hover {
	background-image: url('../../images/dropdown-disabled.svg') !important;
}

.dijitSelectDisabled {
	border-color: #cccccc !important;
}

.claro .dijitMenu {
	background-color: #ffffff;
	border: 1px solid #6b6b6b;
	color: #6e6e6e;
	padding: 0 0 1px;
	color: #6e6e6e;
}

.claro .dojoxGrid input[type='checkbox'].arasCheckboxOrRadio {
	display: block;
}

#search table + div.dijitContentPane {
	padding-left: 0px !important;
}

.claro .dojoxGridHeader tr:first-child .dojoxGridCell {
	border-top: 0px none;
}

.claro th.dojoxGridCellFocus {
	border-width: 0px 1px 1px 0px !important;
	border-color: #ccc !important;
	border-style: solid !important;
}

.dojoxGrid .dojoxGridContent td.dojoxGridCellFocus {
	border: 1px dashed #0000ff !important;
	padding: 2px !important;
	padding-top: 0px \0 / IE9 !important;
}

/* Special hack for IE10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.dojoxGrid .dojoxGridContent td.dojoxGridCellFocus {
		padding: 2px 2px 2px 3px !important;
		padding: 2px\9 !important;
		padding-top: 0px\9 !important;
		border-left: 1.01px dashed #0000ff !important;
		border-left-width: 1px\9 !important;
		border-left-style: dashed\9 !important;
		border-left-color: #0000FF\9 !important;
	}
	.dojoxGrid .dojoxGridContent tr td.dojoxGridCellFocus:first-child {
		padding: 1px 2px !important;
	}

	.dojoxGrid .dojoxGridContent tr td.dojoxGridCellFocus:first-child:empty {
		padding: 2px !important;
	}
}

@-moz-document url-prefix() {
	.dojoxGrid .dojoxGridContent td.dojoxGridCellFocus a {
		display: inline-block;
		margin-bottom: 2px;
	}
}

.dojoxGrid div.dojoxGridRowEditing td.dojoxGridCellFocus {
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	td.dojoxGridCell
	.dijitComboBox
	.dijitInputInner {
	height: 21px !important;
	margin-top: 0px !important;
	padding-bottom: 0px !important;
}

.dojoxGrid
	div.dojoxGridRowEditing
	.dojoxGridRowTable
	tr
	td.dojoxGridCell
	.dijitInputInner {
	padding-bottom: 1px !important;
	padding-top: 0px !important;
	margin-top: -1px !important;
	margin-top: 0px \0 / IE9 !important;
	margin-bottom: 1px \0 / IE9 !important;
	padding-bottom: 2px \0 / IE9 !important;
}

.dojoxGrid .dojoxGridContent .dijitComboBox .dijitArrowButtonInner {
	width: 16px !important;
	height: 16px !important;
	max-height: 16px !important;
	max-width: 16px !important;
	background-size: 16px 16px !important;
	background-position: 0px 0px;
	margin-top: 1px !important;
	margin-top: 2px \0 / IE9 !important;
	background-color: #fff !important;
}

.dojoxGrid
	.SearchBar
	.dijitDateTextBox
	.dijitDownArrowButton
	.dijitArrowButtonInner,
.dojoxGrid .InputHelperDate .dijitDownArrowButton .dijitArrowButtonInner {
	background-image: url('../../images/calendar.svg');
}

.dojoxGrid
	.SearchBar
	.dijitDateTextBox
	.dijitDownArrowButton
	.dijitArrowButtonInner:hover,
.dojoxGrid
	.InputHelperDate
	.dijitDownArrowButton
	.dijitArrowButtonInner
	:hover {
	background-image: url('../../images/calendar-hover.svg');
}

.dijitDateTextBox .dijitDownArrowButton:hover {
	background-color: transparent !important;
}

.hideArrowButton .dijitArrowButtonInner {
	display: none;
}

.dojoxGridView .dojoxGridContent .dojoxGridRow .dojoxGridRowTable {
	height: 26px;
}

/* Multi value list */
.claro .SearchBar .dojoxCheckedMultiSelect,
.claro .dojoxGridCell .dojoxCheckedMultiSelect {
	width: 100%;
}

.claro .dojoxCheckedMultiSelectMenuCheckBoxItemIcon {
	display: block;
}

.claro .dojoxCheckedMultiSelect tr {
	background-color: transparent !important;
}

.claro .dojoxCheckedMultiSelect .dijitArrowButton,
.claro .dojoxCheckedMultiSelect .dijitArrowButtonInner {
	margin: 0px !important;
	padding: 0px !important;
	background-position: 0px 0px !important;
}

.claro .dojoxCheckedMultiSelect .dijitArrowButtonInner {
	background-image: url('../../images/dropdown-arrow.svg') !important;
}

.claro .dojoxCheckedMultiSelectHover .dijitArrowButtonInner {
	background-image: url('../../images/dropdown-hover.svg') !important;
}

.claro .dojoxCheckedMultiSelectButton,
.claro .dojoxCheckedMultiSelect .dijitButtonNode,
.claro .dojoxCheckedMultiSelect .dijitButtonNode .dijitButtonContents {
	border: 0px none !important;
	background-color: transparent;
	background-image: none;
	outline: 0px !important;
}

.claro .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton {
	width: 100%;
	table-layout: fixed;
}

.claro .dojoxCheckedMultiSelect .dijitButtonText {
	width: 99%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.claro .dojoxCheckedMultiSelect .dijitArrowButton {
	width: 22px;
	outline: 0px !important;
}

.claro .dojoxCheckedMultiSelectMenu table {
	width: 100%;
}

.claro .dojoxCheckedMultiSelectMenu .dijitMenuItem .dijitMenuItemIcon {
	background-image: url('../../images/checkbox-unchecked.svg') !important;
	background-position: 0px 0px !important;
	width: 16px !important;
	height: 16px !important;
	background-size: 16px 16px !important;
}

.claro
	.dojoxCheckedMultiSelectMenu
	.dojoxCheckedMultiSelectMenuItemChecked
	.dijitMenuItemIcon {
	background-image: url('../../images/checkbox-checked.svg') !important;
}
/* end of Multi value list */

.claro .dropDownInputRow .dijitButtonNode,
.claro .safeIFrameButton .dijitButtonNode {
	height: 100%;
	padding: 0;
	background-image: none;
}

.claro .dropDownInputRow .dijitButtonNode {
	border-width: 0;
	box-shadow: none;
}

.claro .dojoxGridCell img {
	height: 100%;
	width: 100%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.claro .languageDirection_ltr .dojoxGridCell {
	direction: ltr;
}

.claro .languageDirection_rtl .dojoxGridCell {
	direction: rtl;
}

.claro td.dojoxGridCell {
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gridLink {
	color: #3668b1;
	text-decoration: underline;
}

.aras_grid_checkbox {
	z-index: 1;
	width: 14px;
	height: 14px;
	margin-right: 4px;
	margin-bottom: 2px;
	vertical-align: -5px;
	display: inline-block;
	background-color: inherit;
	background-repeat: none;
	background-position: 0 0;
	background-size: 14px 14px;
}

.aras_grid_input_checkbox {
	width: 14px;
	height: 14px;
	margin-top: 2px;
	width: 13px \9;
	height: 13px \9;
	margin-top: 0px \9;
}

.aras_grid_checkbox,
.aras-dialog_search .dojoxGridCellFocus .aras_grid_checkbox {
	margin-top: 2px;
}

/* IE9 specific rule */
.dojoxGridCellFocus .aras_grid_checkbox {
	margin-top: 3px \0 / IE9;
}

.aras_grid_checkbox.checked {
	background-image: url('../../images/checkbox-checked.svg');
}

.aras_grid_checkbox.unchecked {
	background-image: url('../../images/checkbox-unchecked.svg');
}
/* ValidationContainer*/
.claro .dijitValidationTextBoxError .dijitValidationContainer {
	border-width: 1px;
	width: 8px;
}

.claro .dijitValidationTextBox .dijitValidationContainer {
	padding: 0px;
	background-position: 0px -1px;
}

.claro .dijitComboBox.dijitValidationTextBox .dijitValidationContainer {
	margin-top: 3px;
}

.claro .dijitComboBoxHighlightMatch {
	background-color: #f9eec0;
}

#structureTreeParent .dojoxGridView {
	top: 0px !important;
}

.dojoxGridRow {
	width: 100%;
}
.dojoxGridContent {
	overflow: visible;
}
/* end of Grid */

/* ExternalCellWidget */
.dojoxGridCell .externalWidget {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dojoxGridCell .externalExcelWidget {
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.dojoxGridCellFocus .externalWidget {
	margin: -1px 0px 0px -1px;
}

.dojoxGridCellFocus .externalExcelWidget {
	margin: -1px 0px 0px 0px;
}

.externalWidget .imageButton,
.externalExcelWidget .imageButton {
	display: inline-block;
	cursor: pointer;
	width: 22px;
	height: 22px;
	max-width: 22px;
	max-height: 22px;
	vertical-align: middle;
	background-size: 22px 22px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.externalWidget .textLink,
.externalExcelWidget .textLink {
	cursor: pointer;
	font-size: 11px;
	color: #3668b1;
	text-decoration: underline;
}

.externalWidget.widgetDisabled .textLink,
.externalExcelWidget.widgetDisabled .textLink {
	cursor: default;
	font-size: 12px;
	color: #404040;
	text-decoration: none;
}

.externalWidget.restricted .textLink,
.externalExcelWidget.restricted .textLink {
	cursor: default;
	font-size: 12px;
	color: #ff0000;
	text-decoration: none;
	vertical-align: middle;
}

.filePropertyManager .selectButton {
	margin-left: 2px;
	background-image: url('../../images/Upload.svg');
}

.filePropertyManager .selectButton:hover {
	background-image: url('../../images/UploadHover.svg');
}

.filePropertyManager.widgetDisabled .selectButton {
	display: none;
}

.filePropertyManager .manageButton {
	margin-left: 2px;
	background-image: url('../../images/FileProperty.svg');
}

.filePropertyManager .manageButtonUnsaved {
	margin-left: 2px;
	background-image: url('../../images/FilePropertyUnsaved.svg');
}

.filePropertyManager .manageButton:hover {
	background-image: url('../../images/FilePropertyHover.svg');
}

.filePropertyManager.widgetDisabled .manageButton {
	display: none;
}
/* end of ExternalCellWidget */
