/* Menu */
.claro .dijitMenuItem, .claro .dijitTreeRow, .claro .dijitTreeNode .dojoDndItemBefore, .claro .dijitTreeNode .dojoDndItemAfter, .claro .dijitTreeRow {
	color: #444444;
}

.menu-block div {
	cursor: default !important;
}

.menu {
	margin: 0;
	padding-left: 0;
	background-color: #fff !important;
	background-image: none !important;
	white-space: nowrap;
}

.claro .menu.dijitMenuBar div.dijitMenuItem {
	padding: 5px 8px;
	height: 11px;
	margin:0;
}

.menu div span {
	font-size: 15px;
	line-height: 10px;
	vertical-align: top;
}

/* is used to hide menu (item), order is important because of same specificity with .menu > div */
div.not_displayed {
	display: none !important;
}

.menu > div:hover {
	color: #3668b1 !important;
	background-color: #fff !important;
	background-image: none !important;
	background-repeat: repeat-x;
	border: none !important;
	border-color: none !important;
}

.menu > div.dijitMenuItemSelected {
	background-color: #3668b1 !important;
	color: #fff !important;
	background-image: none !important;
	background-repeat: repeat-x;
	border: none !important;
	border-color: none !important;
}

.menu > div.dijitMenuItemSelected.dijitMenuItemDisabled, .menu > div.dijitMenuItemDisabled:hover {
	background-color: #fff !important;
	cursor: default !important;
	color: #444444 !important;
}

.claro .menu.dijitMenuBar div.dijitMenuItem.itg_viewer_menu {
	background-color: #f8eec0 !important;
	border-top: 2px solid #e78e46 !important;
	padding-top: 3px;
}

.claro .menu.dijitMenuBar div.dijitMenuItem.itg_viewer_menu:hover {
	color: #e78e46 !important;
}

.claro .menu.dijitMenuBar div.dijitMenuItem.itg_viewer_menu.dijitMenuItemSelected {
	background-color: #e78e46 !important;
	color: #fff !important;
}

.claro .dijitMenu .dijitMenuItemHover td, .claro .dijitMenu .dijitMenuItemSelected td, .claro .dijitMenuItemHover, .claro .dijitComboBoxMenu .dijitMenuItemHover, .claro .dijitMenuItemSelected {
	background-color: #dde7f5;
	background-image: none;
	background-repeat: none;
	border-color: #979797;
	position:relative;
}

.claro .dijitMenuSeparatorTop {
	border-bottom: 1px solid #979797;
}

.claro .dijitMenuExpand {
	background-image: url("../../images/arrow-r.svg");
	background-position: 0px 0 !important;
	height: 8px;
	margin-bottom: 4px;
	margin-right: 3px;
	width: 8px;
}

.menu_dropdown {
	background-color: #fff;
	color: #000;
	font-size: 12px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
	border: 1px solid #979797 !important;
}

.menu_dropdown tr {
	position: relative;
	border-top: 1px solid #fff;
	margin-right: 1px;
}

.claro .dijitCheckedMenuItem .dijitMenuItemIcon, .claro .dijitRadioMenuItem .dijitMenuItemIcon, .claro .dijitMenuItemIcon.arasMenuIcon {
	height: 20px;
	width: 20px;
	max-height: 20px;
	max-width: 20px;
	background-position: 0 0;
	background-size: 20px 20px;
}

.claro .dijitMenu .dijitMenuItem td, .claro .dijitComboBoxMenu .dijitMenuItem {
	border-color: #FFFFFF;
	border-style: none;
	border-width: 0px 0;
	padding: 1px 2px 2px;
	height: 23px;
}

.claro .dijitCheckedMenuItem .dijitMenuItemIcon, .claro .dijitRadioMenuItem .dijitMenuItemIcon {
	background-image: none;
}

.claro .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-image: url("../../images/check.svg");
}

.claro .dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon {
	background-image: url("../../images/RadioDot.svg");
}

.menu_doprdown tr.dijitMenuItem.dijitMenuItemDisabled td {
	padding-left: 0px;
}

.claro .dijitMenuItemDisabled .dijitMenuItemIconCell , .dijitMenuItemDisabled *, .dj_ie .dijitMenuItemDisabled *{
	color:#808080 !important;
	opacity:1;
	filter: alpha(opacity=100);
}
/* end of Menu */