.popupMessages{
	background: rgba(225, 225, 225, .1);
	cursor: default;
}

.popupMessages > div:hover{
	background:  rgba(255, 238, 194, 1) !important;
}
.popupMessages img{
	margin-right: 5px;
/* 	width: 16px;
	height: 16px; */
	width: auto;
	height: auto; 
	display: block; 
	max-width: 16px;
	max-height: 16px; 
}