/* Status bar */
#statusBar td {
	border-right: none;
}

#statusBar div {
	margin-top: 3px;
	border: none;
	cursor: default;
	float: left;
	overflow: hidden;
}

#statusBar span {
	margin: 0;
}

#statusBar #page_status img {
	display: inline;
}

.status-column {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	display: -moz-grid;
	width: 100%;
	padding: 1px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 12px/1.4 Tahoma,Arial,Helvetica,sans-serif;
}

#statusBar .status-column .page-count {
	padding: 1px 10px 1px 10px;
	border: 1px solid #828282;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;
}

#statusBar .status-column .page-count:hover {
	background-color: #828282;
	cursor: pointer;
}

#statusBar div:last-child {
	text-align: right;
}

#statusBar div#messages #messageCounter{
	padding: 0 3px;
}

#statusBar div#messages.hasAcknowledgeOnceMessages #messageCounter{
	background-color: #ec1010;
	border-radius: 2px;
}

#statusBar {
	width: 100%;
}

.claro #bottom {
	background-color: #515151;
	color: #fff;
}
/* end of Status bar */