.claro .dojoxGridInput {
	border: 1px solid #000000;
}

.claro div.dojoxGridContent .dojoxGridRow.dojoxGridRowSelected.dojoxGridRowEditing .dojoxGridRowTable tr td.dojoxGridCell.dojoxGridCellFocus {
	background-color: #F8EEC0 !important;
}

.dojoxGrid div.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCellFocus, .dojoxGrid div.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCellFocus .dijitComboBox .dijitInputInner:hover, .dojoxGrid div.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCellFocus .dijitComboBox:hover, .dojoxGrid div.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCellFocus .dijitTextBox:hover, .dojoxGrid .dojoxGridContent .dijitComboBox .dijitArrowButtonInner:hover, .dojoxGrid .dijitComboBox .dijitDownArrowButtonHover, .dojoxGrid div.dojoxGridRowEditing .dojoxGridRowTable tr .dojoxGridCellFocus .dijitComboBox .dijitInputInner:hover, .claro .dojoxGridRowOver .dojoxGridRowEditing .dojoxGridCell {
	background-color: #F8EEC0 !important;
}