/* Tabs */
.claro .dijitTabContainerTop-tabs .dijitTab {
	border-radius: 0;
	font-size: 14px;
	padding: 1px 9px 3px;
	background-image: none;
	background-color: #fff;
	border: 1px solid transparent;
	box-shadow: none;
	min-width: 0px;
}

.claro .dijitTabContainerTop-tabs .dijitTabChecked , .claro .dijitTabContainerTop-tabs .dijitTab:hover {
	color: #3668b1;
}

.claro .dijitTabContainerTop-tabs .dijitTabDisabled, .claro .dijitTabContainerTop-tabs .dijitTabDisabled:hover {
	color: #444444;
	cursor: default;
	opacity: 0.5;
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked {
	padding-bottom: 4px;
	border-color: #d4d4d4;
	border-bottom-color: transparent;
}

.claro .dijitSplitContainer-child, .claro .dijitBorderContainer-child {
	border: none;
}

.claro .dijitTabListContainer-top .tabStripButton {
	background: #fff;
	border: 1px solid #8a8a8a;
	cursor: default;
	font-size: 15px;
	margin-top: 1px;
	margin-right: 2px;
	padding: 0px;
	height: 24px !important;
}

#centerMiddle_relTabbar_tablist:before, #centerMiddle_relTabbar_tablist:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: inherit;
	border-bottom: 1px solid #B5BCC7;
}

#centerMiddle.centerMiddle__hidden {
	visibility: hidden;
}

#centerMiddle.centerMiddle__hidden #centerMiddle_relTabbar_tablist {
	visibility: hidden;
}

.relTabbar_tablist_menuBtn_border:hover, .claro .dijitTabListContainer-top .tabStripButton:hover {
	background-color: #DDE7F5;
}

.relTabbar_tablist_menuBtn {
	background-image: url("../../images/arrow-b.svg") !important;
	background-position: center center !important;
}

.tabStripButton .ic-left, .tabStripButton .ic-right {
	vertical-align: 3px;
}

.tabStripButton .ic-top {
	vertical-align: 0;
}

.claro .tabStripButton .dijitButtonText {
	padding: 0;
	line-height: 1;
	text-align: center;
}

table#centerMiddle_relTabbar_menu tr { 
	position: relative;
	border-top: 1px solid #fff;
	margin-right: 1px;
}

table#centerMiddle_relTabbar_menu {
	border: 1px solid #979797 !important;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	color: #000000;
	display: block;
	font-size: 12px;
	left: 0;
}
.claro .tabStripButtonDisabled .dijitTabStripSlideRightIcon, .claro .dijitTabStripSlideRightIcon {
	background-image: url("../../images/arrow-r.svg");
	background-position: 6px center;
	background-repeat: no-repeat;
}

.claro .tabStripButtonDisabled .dijitTabStripSlideLeftIcon, .claro .dijitTabStripSlideLeftIcon {
	background-image: url("../../images/arrow-l.svg");
	background-position: 4px center;
	background-repeat: no-repeat;
}

.claro .dijitTabStripIcon {
	height: 8px;
	margin: 0 auto;
	width: 15px;
}
/* end of Tabs */