/* Toolbar */
.claro #top_toolbar.dijitContentPane {
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
	display: table;
	width: 100%;
	min-height: 29px;
}
.claro #top_toolbar.dijitContentPane .dijitToolbar {
	display: table-row;
	margin: 1px 0 1px 1px !important;
}

.toolbar-item {
	display: inline-block;
	text-align: center;
	margin: 1px 0 1px 1px !important;
	padding-top: 0px;
}

.claro .dijitToolbarPopup[id*="popup"] .dijitButton {
	display: block;
}
.claro .dijitToolbarPopup[id*="popup"] .dijitToolbar {
	display: block;
	border: none;
	width: auto !important;
	padding: 0 1px 1px;
}

.claro .dijitToolbarPopup[id*="popup"] .dijitToolbar .dijitButton {
	display: block;
	margin: 1px 0 0 !important;
	width: auto;
}

.claro .dijitToolbarPopup[id*="popup"] .dijitToolbar .dijitButton .dijitButtonNode {
	box-sizing: border-box;
	width: 100%;
	text-align: left;
}

.claro .dijitToolbarPopup[id*="popup"] .dijitToolbar .toolbar-separator {
	display: none;
}

.claro .dijitToolbarSeparator {
	background-image: none;
}

.claro .dijitToolbar, .claro .dijitMenuBar {
	background-color: #fff;
	padding: 0;
}

#searchbar_toolbar .dijitToolbar, #searchbar_toolbar .dijitMenuBar {
	background-color: #fff;
	padding: 1px 0px 0px;
	border-bottom: 0px none;
}

.dijitDropDownButton {
	width: auto !important;
}

.claro #top_toolbar.dijitContentPane .dijitButton[widgetId*="ssvc_discussion_button"] {
	display: table-cell;
	width: 1px;
}

.claro #top_toolbar.dijitContentPane .ssv-button-activeDisscussion.dijitButton img,
.claro #top_toolbar.dijitContentPane .ssv-button-activeDisscussion.dijitButton svg,
.claro .dijitToolbarPopup[id*="popup"] .ssv-button-activeDisscussion.dijitButton img,
.claro .dijitToolbarPopup[id*="popup"] .ssv-button-activeDisscussion.dijitButton svg {
	visibility: hidden;
}
.claro #top_toolbar.dijitContentPane .ssv-button-activeDisscussion.dijitButton .dijitIcon,
.claro .dijitToolbarPopup[id*="popup"] .ssv-button-activeDisscussion.dijitButton .dijitIcon {
	background-image: url("../../images/DiscussionPanelOn.svg");
	background-size: 22px 22px;
	background-repeat: no-repeat;
}

.claro div#top_toolbar div span.toolbar-item.ssv-button-activeDisscussion span.dijitButtonNode, .claro .dijitToolbarPopup[id*="popup"] .ssv-button-activeDisscussion span.dijitButtonNode{
	padding: 2px 2px 1px !important;
	border: 1px solid #3668b1 !important;
}

.claro .dijitToolbar span.toolbar-item.ssv-button-activeDisscussion.dijitButtonFocused:not(.dijitButtonDisabled) span.dijitButtonNode {
	background: none !important;
}

.claro .dijitToolbar span.toolbar-item.ssv-button-activeDisscussion:hover:not(.dijitButtonDisabled) span.dijitButtonNode {
	background-color: #dde7f5 !important;
}

#top_mainMenu {
	/* cad_ff page */
	padding: 4px 5px 1px;
}

.toolbar {
	background-color: #fff;
	padding: 1px 0;
	white-space: nowrap;
}

.toolbar-item img {
	display: inline-block;
	max-width: 20px;
	max-height: 20px;
}

.toolbar-separator {
	display: inline-block;
	height: 22px;
	background-color: #d4d4d4 !important;
	width: 1px;
	padding: 0px;
	margin-left: 1px;
}

.claro .dijitToolbarSeparator + .dijitDropDownButton {
	margin-left: 1px;
	padding: 0;
}

.claro .dijitToolbar .dijitButtonHover .dijitButtonNode, .claro .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode, .claro .dijitToolbar .dijitToggleButtonHover .dijitButtonNode, .claro .dijitToolbar .dijitComboButtonHover .dijitButtonNode, .claro .dijitToolbar .dijitButtonActive .dijitButtonNode, .claro .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode, .claro .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
	background-color: #dde7f5 !important;
	background-image: none !important;
	background-repeat: no-repeat !important;
	border-width: 0px !important;
	padding: 2px;
	border-radius: 0px !important;
}

.claro .toolbar-item:hover:not(.dijitButtonDisabled) .dijitButtonNode {
	background-color: #dde7f5;
}

.claro .dijitSelectFocused {
	outline: none;
}

.claro .dijitToolbar .dijitButtonFocused .dijitButtonContents {
	outline: none !important;
}

.claro .dijitArrowButtonInner {
	background-image: url("../../images/arrow-b.svg");
	background-position: 0px;
	background-repeat: no-repeat;
	max-height: 5px;
	max-width: 7px;
	margin: 8px 0 8px -1px;
	padding: 0 4px;
	height: 15px;
	width: 20px;
}

.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	border-color: #3668b1;
	border-radius: 0px !important;
	padding: 2px 2px 1px !important;
}

.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode:hover {
	border: 1px solid #3668b1 !important;
}

.claro .dijitToolbar .dijitButton .dijitButtonNode, .claro .dijitToolbar .dijitDropDownButton .dijitButtonNode, .claro .dijitToolbar .dijitComboButton .dijitButtonNode, .claro .dijitToolbar .dijitToggleButton .dijitButtonNode, .claro .dijitToolbar .dijitComboBox .dijitButtonNode {
	border-radius: 0px !important;
	padding: 3px 3px 2px;
} 

.claro .dijitToolbar div.advancedTextBox {
	display: inline-block;
}

.claro .dijitToolbar div.advancedTextBox label {
	padding: 0;
}

.claro .dijitToolbar .dijitTextBox .dijitInputInner {
	padding-top: 0px !important;
}

.dijitMenuPopup .aras_toolbar_input {
	margin: 0px !important;
}

.grayImage {
	filter: url('../grayscale.svg#grayscale');
	-webkit-filter: grayscale(100%);
	-webkit-opacity: 0.5;
	filter: alpha(opacity=50), gray;
	opacity:0.5;
}

.aras_toolbar_input {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

div.dijitToolbarSeparator + div.advancedTextBox, div.advancedTextBox + div.dijitToolbarSeparator {
	margin-left: 7px;
}

div.grayImage > svg > g, div.grayImage > svg > path {
	 filter: url(#ToolBarGrayFilter);
}

.dijitToolbar.toolbar .dijitButtonContents {
	padding: 0px 1px;
}

.advancedTextBox input::-moz-placeholder {
	font-style: italic;
	color: #333;
}

.advancedTextBox input::-webkit-input-placeholder {
	font-style: italic;
	color: #8a8a8a;
}

.advancedTextBox input:-ms-input-placeholder {
	font-style: italic;
	color: #8a8a8a;
}

.advancedToolBarSelect {
	display: inline-block;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.advancedToolBarSelect[disabled] label {
	color: #818181;
}

.advancedToolBarSelect label {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0px;
	padding-left: 3.6px;
	padding-right: 3.6px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
}

/* end of Toolbar */