/*Created with Adobe RoboHelp 2015.*/
BODY {
	font-family: "Century Gothic", Verdana, sans-serif;
}
H1 {
	margin-left: -0.5pt;
	margin-top: 0pt;
	background-color: Transparent;
	font-style: normal;
	font-size: 22pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-weight: bold;
	margin-bottom: 14pt;
	color: #2d373c;
	x-next-class: ;
	x-next-type: P;
}
H2 {
	margin-left: -0.5pt;
	margin-bottom: 10pt;
	background-color: Transparent;
	font-style: normal;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-weight: bold;
	font-size: 16pt;
	margin-top: 12pt;
	color: #2d373c;
	x-next-class: ;
	x-next-type: P;
}
H3 {
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 5pt;
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 5pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-weight: bold;
	font-size: 11pt;
	color: #2d373c;
	x-next-class: ;
	x-next-type: P;
}
H4 {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 5pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-weight: bold;
	color: #2d373c;
	x-next-class: ;
	x-next-type: P;
}
H5 {
	font-size: 11pt;
	font-weight: Normal;
	margin-left: -0.25pt;
	margin-top: 20pt;
	margin-bottom: 10pt;
	text-indent: 1pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	color: #2d373c;
	x-next-class: ;
	x-next-type: P;
}
H6 {
	font-size: 10pt;
	font-weight: Normal;
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	color: #2d373c;
	x-next-class: ;
	x-next-type: P;
}
P {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-weight: normal;
}
P.Normal-Single {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	color: #2d383b;
}
P.TableHeading {
	margin-top: 0pt;
	margin-bottom: 5pt;
	padding-bottom: 2pt;
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	color: #ffffff;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}
P.TableText {
	font-size: 10pt;
	margin-top: 0pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	color: #2d383b;
	margin-bottom: 2pt;
}
P.EmphasisSlate {
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 10pt;
	padding: 3pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	background-color: #7396ac;
	color: #ffffff;
	font-weight: bold;
	font-size: 10pt;
	x-next-class: ;
	x-next-type: P;
}
P.Feature_Title {
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	color: #2d383b;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-weight: bold;
	x-next-class: Feature_Desc;
	x-next-type: P;
}
A {
	color: #74271f;
}
A.expandspot {
	cursor: hand;
	font-style: italic;
	color: #51758c;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
	font-size: 10pt;
}
A.dropspot {
	cursor: hand;
	color: #51758c;
	text-decoration: none underline;
}
A.glossterm {
	cursor: hand;
	font-style: italic;
	color: #51758c;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #1e798b;
	font-size: 10pt;
}
/* TABLE STYLES */
TD {
	vertical-align: top;
	padding: 3pt;
}
table.NoBorder {
	font-family: "Century Gothic", Verdana, sans-serif;
	x-border-spacing: 0px;
}
table.SimpleGridNoShading {
	padding: 0px;
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	font-family: "Century Gothic", Verdana, sans-serif;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #7396ac;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #7396ac;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #7396ac;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #7396ac;
}
table.SimpleGridNoShading td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.SimpleGridNoShading tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #7396ac;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #7396ac;
}
table.SimpleGridNoShading tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #7396ac;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #7396ac;
}
/* LIST STYLES */
OL {
	margin-left: 0.25in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 0.0in;
	font-size: 10pt;
	font-family: "Century Gothic", Verdana, sans-serif;
}
UL {
	margin-left: 0.25in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 0.0in;
	list-style: disc;
}
rh-list.BasicNumber {
	x-lvl-2-type: lower-alpha;
	x-lvl-3-type: lower-roman;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-4-p-tag: P;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-5-p-tag: P;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-6-p-tag: P;
	x-lvl-7-margin: 120px;
	x-lvl-7-p-tag: P;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-3-format: "<x>.";
	x-lvl-1-type: decimal;
	x-lvl-1-margin: 30px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-class: ListSpacing;
	x-lvl-1-p-tag: P;
	x-lvl-2-margin: 50px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-class: ListSpacing;
	x-lvl-2-p-tag: P;
	x-level-count: 9;
	x-lvl-3-margin: 70px;
	x-lvl-3-text-indent: -20px;
	x-lvl-3-p-class: ListSpacing;
	x-lvl-3-p-tag: P;
	x-lvl-1-pfx-class: rls-1-BasicNumber;
}
rh-list.RoundSquare {
	x-lvl-1-type: disc;
	x-lvl-1-format: "<x>";
	x-lvl-2-type: square;
	x-lvl-2-format: "<x>";
	x-lvl-3-type: circle;
	x-lvl-3-format: "<x>";
	x-lvl-4-type: diamond;
	x-lvl-4-format: "<x>";
	x-lvl-4-margin: 60px;
	x-lvl-5-type: disc;
	x-lvl-5-format: "<x>";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: square;
	x-lvl-6-format: "<x>";
	x-lvl-6-margin: 100px;
	x-lvl-7-type: circle;
	x-lvl-7-format: "<x>";
	x-lvl-7-margin: 120px;
	x-lvl-8-type: diamond;
	x-lvl-8-format: "<x>";
	x-lvl-8-margin: 140px;
	x-lvl-9-type: disc;
	x-lvl-9-format: "<x>";
	x-lvl-9-margin: 160px;
	x-lvl-9-pfx-class: rls-9-Bullets;
	x-lvl-1-pfx-class: rls-1-Bullets;
	x-lvl-2-pfx-class: rls-2-Bullets;
	x-lvl-3-pfx-class: rls-3-Bullets;
	x-lvl-4-pfx-class: rls-4-Bullets;
	x-lvl-5-pfx-class: rls-5-Bullets;
	x-lvl-6-pfx-class: rls-6-Bullets;
	x-lvl-7-pfx-class: rls-7-Bullets;
	x-lvl-8-pfx-class: rls-8-Bullets;
	x-lvl-1-margin: 30px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-class: ListSpacing;
	x-lvl-1-p-tag: P;
	x-lvl-2-margin: 60px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-class: ListSpacing;
	x-lvl-2-p-tag: P;
	x-level-count: 9;
	x-lvl-3-margin: 60px;
	x-lvl-3-p-class: ListSpacing;
	x-lvl-3-p-tag: P;
}
span.rls-9-Bullets {
	font-size: 8pt;
}
span.rls-1-Bullets {
	font-size: 10pt;
}
span.rls-2-Bullets {
	font-size: 12pt;
}
span.rls-3-Bullets {
	font-size: 12pt;
}
span.rls-4-Bullets {
	font-size: 12pt;
}
span.rls-5-Bullets {
	font-size: 10pt;
}
span.rls-6-Bullets {
	font-size: 10pt;
}
span.rls-7-Bullets {
	font-size: 10pt;
}
span.rls-8-Bullets {
	font-size: 10pt;
}
li.NumberedAboutTopics {
	list-style: decimal;
	color: #000000;
	font-size: 10pt;
}
li.BulletedAboutTopics {
	list-style: disc;
	font-size: 10pt;
	color: #000000;
	font-family: "Century Gothic", sans-serif;
}
A.breadcrumbs {
	font-family: "Century Gothic", Verdana, sans-serif;
	font-size: 10pt;
	color: #51758c;
}
A:active {
	color: #1e2b33;
	text-decoration: underline;
}
table.SimpleGridShaded td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.SimpleGridShaded tr.t1Row td {
	font-family: "Century Gothic", Verdana, sans-serif;
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #7396ac;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #7396ac;
}
table.SimpleGridShaded tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #7396ac;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #7396ac;
}
table.SimpleGridShaded tr.t1st td {
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #7396ac;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #7396ac;
	color: #ffffff;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-weight: bold;
	background-color: #7396ac;
}
table.SimpleGridShaded {
	background-color: #ffffff;
	padding: 0px;
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	font-family: "Century Gothic", Verdana, sans-serif;
	color: #2d383b;
	border-left-style: Solid;
	border-left-color: #7396ac;
	border-right-style: Solid;
	border-right-color: #7396ac;
	border-top-style: Solid;
	border-top-color: #7396ac;
	border-bottom-style: Solid;
	border-bottom-color: #7396ac;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
span.AuthorComment {
	color: #ff00ff;
}
P.ListSpacing {
	font-size: 10pt;
	margin-top: 0pt;
	font-family: "Century Gothic", Verdana, sans-serif;
	margin-bottom: 2pt;
}
span.rls-1-BasicNumber {
	font-family: "Century Gothic";
	font-size: 10pt;
}
