<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="deleporter" type="DeleporterCore.Configuration.DeleporterConfigurationSection, Deleporter" />
		<sectionGroup name="userInfoSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SeleniumTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section
      name="MyArasSettings"
      type="Aras.TAF.ArasInnovatorBase.Domain.ArasSettings.ArasSettingsSection, Aras.TAF.ArasInnovatorBase"
      allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	</configSections>
  <MyArasSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="AppConfigValidation.xsd">
    <arasSettings>

      <Logging PathToLogsFolder="C:\test\Logs" PathToWorkDir="C:\test\WorkDir\" ReportingLevel="BusinessActionsOnly" />

      <Localization ClientOSLanguage="en-US" DatabaseLanguage="en-US" />

      <InnovatorApp ClientUrl="http://192.168.200.199/i12sp2/Client" ServerUrl="http://192.168.200.199/i12sp2"
                    Database="Released_i12sp2_2012" ClientTimeZone="Eastern Standard Time" Version="12.0 SP2" BuildNumber="15635"
                    ClientOS="Windows" ProductName="Aras Innovator" />

      <!-- Timeouts settings for global configuration, specify in milliseconds -->
      <Timeouts Short="500" Default="20000" Long="60000" />

      <Browser Name="Chrome" UseIncognitoMode="false" UseCleanSessionBeforeFirstTest="false" PathToExecutableLocation="" />

      <Chrome UseUserSettings="false" PathToUserProfile="c:/Users/username/AppData/Local/Google/Chrome/User Data/" />

      <SeleniumGrid ServerUrl="http://a-selenium-hub:4444/" UseSeleniumGrid="false">
        <Nodes>
          <Node MachineAlias="a-win7-selenium" AdminName="admin" AdminPassword="password" />
          <!-- Specify any amount of available nodes here-->
        </Nodes>
      </SeleniumGrid>

      <Subscriptions ArasPremierSubscription="" ArasPDFViewer="" ArasSelfServiceReporting="" ArasHTMLtoPDFConverter="" ArasEssentialsSubscription="" />

      <!--<Applications Versions="TechDoc 12.0.R1, CE 12.0.R3"/>-->

      <!--Uncomment those settings if you want to write tests for CE application-->
      <!--<ComponentEngineering IHSUsername="" IHSPassword="" IHSKey="" ArasCELevel1="" ArasCELevel2="" ArasCELevel3="" />-->

    </arasSettings>
  </MyArasSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
