<div data-dojo-attach-point="filterItemContainer" class="filterItemContainer filterItemExpanded {topFilter} {selectedFilter}">
	<div class="filterItemHeader">
		<img data-filter-id="{filterId}" data-dojo-attach-event="onclick: _onFilterExpandCollapseEventHandler"
			 src="../Images/Arrow{orange}.svg" class="filterItemExpandCollapseArrow"><!-- inline gap fix
		--><span data-dojo-attach-point="filterItemLabel" data-filter-id="filter{filterId}" class="filterItemLabel">{filterLabel}</span>
		<div class="filtersPanelRightControls">
			<div data-dojo-attach-point="filterItemMoreOptionsLinkContainer"
				 data-dojo-attach-event="onclick: _onMoreLinkClickEventHandler"
				 class="filterItemMoreOptionsLinkContainer filtersPanelLinkButton hidden">{moreLabel}
			</div>
			<img data-dojo-attach-event="onclick: _onFilterItemClearOptionsClickEventHandler" alt="{clearTooltip}" title="{clearTooltip}"
				 class="{clearVisible}" src="../Images/CloseDialog.svg" />
		</div>
	</div>
	<div class="filterItemOptionsContainer">{filterOptionsMarkup}</div>
</div>