<div class="filtersPanelContainer shadow-d">
	<div class="filtersPanelHeaderContainer">
		<button class="aras-button aras-button_primary" data-dojo-attach-event="onclick: _onFiltersPanelApplyAllButtonClickEventHandler"
				data-dojo-attach-point="filtersPanelApplyAllButton" disabled="disabled">
			<span class="aras-button__text">{3}</span>
		</button>
		<button class="aras-button aras-button_d" data-dojo-attach-event="onclick: _onFiltersPanelClearAllButtonClickEventHandler"
				data-dojo-attach-point="filtersPanelClearAllButton" disabled="disabled">
			<span class="aras-button__text">{2}</span>
		</button>
		<div class="filtersPanelControlsContainer">
			<button class="aras-button" title="{4}"
					data-dojo-attach-event="onclick: _onFiltersPanelToolbarMassExpandClickEventHandler" data-dojo-attach-point="_filtersPanelMassExpandButton">
				<div id="filtersPanelMassExpandImage" data-state="expanded" class="aras-button__icon" data-dojo-attach-point="_filtersPanelMassExpandImage"></div>
			</button>
			<input data-dojo-attach-event="oninput: _onFiltersPanelTextBoxKeyPressEventHandler" placeholder="{1}" data-action="ignored"
				   data-dojo-attach-point="filtersPanelTextBox" title="{0}" class="filtersPanelTextBox aras-input" />
		</div>
	</div>
	<div class="filtersPanelFakeScroll"></div>
	<div class="filtersPanelOptionsContainer" data-dojo-attach-point="_filtersPanelOptionsContainer"></div>
</div>