<div data-dojo-attach-point="filterOptionContainer{index}" class="filterItemOptionContainer firstLetterGroup{firstLetterGroupId}">
	<span class="filterDialogAlphabeticalLabel">{firstLetter}</span>
	<label class="filterDialogOptionLabel">
		<input data-filter-option-index="{index}" data-filter-option-name="{name}" data-dojo-attach-point="filterOptionCheckBox{index}"
			   data-dojo-attach-event="onchange: _onFilterOptionStateChangedEventHandler" type="checkbox" {checked}>
		<span title="{value}" class="filterDialogOptionLabelText">{value}</span>
	</label>
	<span class="filterOptionCountLabel" {countHidden}>({count})</span>
</div>