<div class="resultItemContainer" data-dojo-attach-point="_resultItemContainer">
	<div class="resultItemSubContainer resultItem{type}" style="border-left: 8px solid {itemTypeColor};">
		<div class="headerContainer">
			<div class="headerMiddleContainer">
				<span data-item-id="{id}" data-item-type="{type}" data-dojo-attach-event="onclick: _onResultItemClickEventHandler">
					<img src="{iconPath}" />{keyedName}</span><div class="itemState">{itemStateMarkup}</div>
			</div>
			<span class="resultItemName">{subTitle}</span>
			<div class="highlightsContainer">{highlightsMarkup}</div>
			<div data-dojo-attach-point="childItemsContainer" class="childItemsContainer">
				{childItemsMarkup}
				<div data-dojo-attach-point="moreLinkContainer" data-dojo-attach-event="onclick: _onMoreLinkClickEventHandler"
					 class="toggleChildResults hidden">{moreTextResource}</div>
			</div>
		</div>
	</div>
	<div class="aras-button aras-button_d toggleDetailsButton"
		title="{toggleDetailsButtonTooltip}"
		data-dojo-attach-point="_toggleDetailsButton"
		data-dojo-attach-event="onclick: _onToggleDetailsButtonClickEventHandler">
		<img class="aras-button__icon" src="../Images/ArrowGrey.svg">
	</div>
	<div class="detailsPanel">
		<div class="itemType">{itemType}</div>
		<div class="modifiedMessage">{modifiedMessage}</div>
		<div class="propsContainer">{propsMarkup}</div>
	</div>
</div>