<div class="container">
	<div class="searchPanelControlsToolbar">
		<div class="searchPanelQueryTextTextBox">
			<input data-dojo-attach-point="_searchTextBox" class="searchPanelTextBox aras-input" type="text">
			<div data-dojo-attach-event="onclick: _onSearchPanelSearchButtonClickEventHandler"
				 class="searchPanelSearchButton aras-button aras-button_primary" title="{0}">
				{1}
			</div>
		</div>
		<button data-dojo-attach-point="_searchPanelSyntaxHelpButton" class="aras-button" title=""
				data-dojo-attach-event="onclick: _onSyntaxHelpButtonClickEventHandler">
			<img class="aras-button__icon" src="../Images/Information.svg">
		</button>
	</div>
</div>