<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../../../styles/common.min.css" />
		<link rel="stylesheet" type="text/css" href="../../Styles/Dialogs.min.css" />
	</head>
	<script type="text/javascript">
		onload = window.frameElement.dialogArguments.onLoad;
	</script>
	<body id="serviceGroupLegend">
		<ul class="aras-list">
			<li class="aras-list-item circle-green" data-ml="service.fp.legend.active"></li>
			<li class="aras-list-item circle-red" data-ml="service.fp.legend.not_active"></li>
			<li class="aras-list-item circle-yellow" data-ml="service.fp.legend.stopping"></li>
		</ul>
	</body>
</html>