<div class="container">
	<div class="searchSyntaxHelpTitleContainer">
		<div class="searchSyntaxHelpTitle">{0}</div>
		<span title="Close" class="aras-dialog__close-button aras-icon-close" data-dojo-attach-point="_syntaxHelpCloseButton"
			  data-dojo-attach-event="onclick: _onSyntaxHelpCloseClickEventHandler"></span>
	</div>
	<div class="searchSyntaxHelpItems">
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">AND<br>&&</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">And Boolean</div>
				<div class="searchSyntaxHelpMeaningDescription">{1}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">*</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Wildcard for Multiply Characters</div>
				<div class="searchSyntaxHelpMeaningDescription">{10}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">OR<br>||</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Or Boolean</div>
				<div class="searchSyntaxHelpMeaningDescription">{2}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">?</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Wildcard for Single Character</div>
				<div class="searchSyntaxHelpMeaningDescription">{11}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">NOT<br>!</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Not Boolean</div>
				<div class="searchSyntaxHelpMeaningDescription">{3}</div>
				<div class="searchSyntaxHelpMeaningHint">{4}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">~</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Fuzzy Search</div>
				<div class="searchSyntaxHelpMeaningDescription">{12}</div>
				<div class="searchSyntaxHelpMeaningHint">{13}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">+</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Required</div>
				<div class="searchSyntaxHelpMeaningDescription">{5}</div>
				<div class="searchSyntaxHelpMeaningHint">{6}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">~#</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Proximity Search</div>
				<div class="searchSyntaxHelpMeaningDescription">{14}</div>
				<div class="searchSyntaxHelpMeaningHint">{15}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">-</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Prohibit</div>
				<div class="searchSyntaxHelpMeaningDescription">{7}</div>
				<div class="searchSyntaxHelpMeaningHint">{8}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">^#</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Term Boosting</div>
				<div class="searchSyntaxHelpMeaningDescription">{16}</div>
				<div class="searchSyntaxHelpMeaningHint">{17}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">()</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Grouping Terms</div>
				<div class="searchSyntaxHelpMeaningDescription">{9}</div>
			</div>
		</div>
		<div class="searchSyntaxHelpItem">
			<div class="searchSyntaxHelpSymbol">""</div>
			<div class="searchSyntaxHelpMeaning">
				<div class="searchSyntaxHelpMeaningTitle">Phrase Search</div>
				<div class="searchSyntaxHelpMeaningDescription">{18}</div>
			</div>
		</div>
	</div>
</div>