html,body{
	overflow: hidden;
	width : 100%;
	height : 100%;
	margin : 0px;
	padding : 0px;
}
fieldset {
	padding-top:0px;
	padding-bottom:0px;
	padding-left:7px;
	padding-right:7px;
	margin-left:0px;
	margin-right:0px;
	border-style: solid;
	border-width: 1px;
	border-color: #b3b3b3;
	border-radius: 5px;
}
.tblSearch td {
	padding: 10px;
}
.savedSearches td {
	vertical-align: top;
	width: 50%;
}