body {
	font: 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #444444;
	text-align: justify;
}

.XmlSchemaElement {
	position: relative;
	border: none;
}

.XmlSchemaText {
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.ArasItemElement {
	padding: 2px;
}

.ArasLinkElement {
	cursor: pointer;
}

.ArasTextElement {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.ArasImageElement {
	display: block;
	margin: 2px 0px;
	max-width: 100%;
	max-height: 100%;
}

.ArasStringElement[bold] {
	font-weight: bold;
}

.ArasStringElement[italic] {
	font-style: italic;
}

.ArasStringElement[under] {
	text-decoration: underline;
}

.ArasStringElement[strike] {
	text-decoration: line-through;
}

.ArasStringElement[sup] {
	position: relative;
	top: -5px;
	font-size: smaller;
}

.ArasStringElement[sub] {
	position: relative;
	top: 1px;
	font-size: smaller;
}

/*--- Inactive and Updatable styles -------*/
.ArasXmlSchemaElementInactive {
	padding-bottom: 10px;
}

.ArasXmlSchemaElementInactive.ContentCollapsed, .ArasXmlSchemaElementInactive .ArasXmlSchemaElementInactive  {
	padding-bottom: 0px;
}

.ArasXmlSchemaElementInactive .InactiveContent {
	overflow: hidden;
	opacity: 0.4;
	height: 20px;
	margin: 2px 28px 0px 24px;
	border: 1px solid #A0A0A0;
}

.ArasXmlSchemaElementInactive .InactiveContent.OpenedContent {
	height: auto;
	border: none;
	overflow: visible;
}

.ArasXmlSchemaElementUpdatable {
	border: 2px dashed #b83b1d !important;
	margin: 1px;
}

/*--- List Styles -------*/
.ArasListElement {
	counter-reset: listCounter;
	position: relative;
	list-style: none;
}

.ArasListItemElement {
	counter-increment: listCounter;
	display: list-item;
	position: relative;
	margin-left: 15px;
	min-height: 20px;
}

.ArasListItemElement.defaultListItem:before {
	content: "-";
	position: absolute;
	left: -20px;
	top: 2px;
}

.ArasListItemElement.bulletListItem:before {
	content: counter(listCounter, disc);
	position: absolute;
	left: -20px;
	top: 2px;
}

.ArasListItemElement.numericListItem:before {
	content: counter(listCounter, decimal);
	position: absolute;
	left: -20px;
	top: 2px;
}

.ArasListItemElement.alphaListItem:before {
	content: counter(listCounter, lower-alpha);
	position: absolute;
	left: -20px;
	top: 2px;
}

.ArasListItemXmlSchemaElement > .ArasTextXmlSchemaElement {
	text-align: justify;
}

/*--- Table Styles -------*/
.ArasTableElement {
	border: 1px solid #505050;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.ArasFakeTableXmlSchemaElement {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

.ArasFakeTableXmlSchemaElement tr.ArasRowXmlSchemaElement {
	outline: 1px solid grey;
	width: 100%;
}

.ArasFakeTableXmlSchemaElement td.ArasTableCellElement {
	border:  1px dotted grey;
}

.ArasTableRowElement {
	width: 100%;
	border: 0;
	height: 30px;
}

.ArasBrokenCellElement {
	border: 1px dotted red;
	color: red;
	text-align: center;
}

.ArasTableCellElement {
	border: 1px solid #505050;
	overflow: hidden;
}

.ArasTableCellElement > div {
	display: block;
}

.valign_top {
	vertical-align: top;
}

.valign_middle {
	vertical-align: middle;
}

.valign_bottom {
	vertical-align: bottom;
}

.align_center {
	text-align: center;
}

.align_justify {
	text-align: justify;
}

.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}