<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../../javascript/include.aspx?files=default.css,dojo.css&classes=dijitClaro.css,common.css,ChoiceListTemplate.css"/>
<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules"></script>
<script type="text/javascript" src="../../../javascript/include.aspx?classes=/dojo.js,ModulesHelper,ScriptSet1,SettingsChoiceListTemplate" data-dojo-config="baseUrl:'../../../javascript/dojo'"></script>
<style type="text/css">
	body {
		height: 100%;
	}
</style>
<script type="text/javascript">
</script>
<body class="claro">
	<div style="width: 100%; height: 100%;">
		<div id="choice_left_top" class="choice_top left">
			<div id="left_title" class="title">Title</div>
			<input type="text" class="search_box" name="left_searchBox" id="left_searchBox" tabindex="0" />
			<div class="searchBtn" id="searchBtn_left" ></div>
		</div>
		<div id="choice_right_top" class="choice_top right">
			<div id="right_title" class="title">Title</div>
			<input type="text" class="search_box" name="right_searchBox" id="right_searchBox" tabindex="0" />
			<div class="searchBtn" id="searchBtn_right"></div>
		</div>

		<div id="left_tree" class="choice_tree left">
		</div>
		<div class="move_buttons">
			<div id="move_right" class="move_button">
				>
			</div>
			<div id="move_left" class="move_button">
				<
			</div>
		</div>
		<div id="right_tree" class="choice_tree right">
		</div>
	</div>
</body>
</html>
