.print_button_wrapper {
	padding-bottom: 25px
}
.print_button_wrapper a, .print_button_wrapper img {
	vertical-align: middle
}
#print_button {
	width: 2rem;
	cursor: pointer;
}

@media print {
	.print_button_wrapper {
		display: none;
	}
}
