#print_button {
	width: 2rem;
	cursor: pointer;
}
.table_wrapper {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.24), 0 3px 4px rgba(0, 0, 0, 0.24);
	display: table;
	padding: 35px 25px;
	min-width: 1130px;
}
.report_name {
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 15px;
	display: inline-block;
	font-family: Roboto, Noto Sans, Arial;
}
.report_generation_time {
	font-size: 14px;
	float: right;
	font-family: Roboto, Noto Sans, Arial;
}
table {
	font-size: 16px;
	font-family: Roboto, Noto Sans, Arial;
	word-break: initial;
	width: 1130px;
}
th {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 5px 10px;
}
.print_button_wrapper {
	padding-bottom: 25px;
}
.print_button_wrapper a,
.print_button_wrapper img {
	vertical-align: middle;
}
td {
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
}

@media print {
	.print_button_wrapper {
		display: none;
	}
	.table_wrapper {
		box-shadow: none;
		width: 100%;
		padding: 0;
		min-width: auto;
	}
	body {
		margin: 0;
	}
	.report_name {
		font-size: 12px;
	}
	.report_generation_time {
		font-size: 10px;
	}
	table {
		font-size: 12px;
		width: 100%;
	}
	th {
		font-size: 10px;
	}
}
