.StateCanvas {
	position: absolute;
	display: block;
	background-color:white;
}

.FrontCanvas {
	position: absolute;
	display: block;
	z-index: 1;
	background-color:white;
}

.ViewerContainer
{
	overflow: hidden;
}
.Wrap {
    width: calc(100% - 17px);
    height: calc(100% - 17px);
}