#FilteringPopupContainer
{
	position: absolute;
	z-index: 10;
	background-color: #F8F8F8;
	border: 1px solid darkgray;
	width: 320px;
}

.fpRowGroup
{
	clear: both;
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
}

.fpLabelColumn
{
	float: left;
	width: 95px;
	text-align: right;
	margin-right: 5px;
}

.fpEditFullSize
{
	float: left;
	width: 100px;
	height: 18px;
	border: 1px solid #6B6B6B;
	font: 13px Tahoma, Arial, Helvetica, sans-serif;
}

.fpEditHalfSize
{
	float: left;
	width: 50px;
	height: 18px;
	border: 1px solid #6B6B6B;
	font: 13px Tahoma, Arial, Helvetica, sans-serif;
}

.fpEditHalfMoreSize
{
	float: left;
	width: 70px;
	height: 18px;
	border: 1px solid #6B6B6B;
	font: 13px Tahoma, Arial, Helvetica, sans-serif;
}

.fpRangeLink
{
	float: left;
	margin-left: 5px;
	cursor: pointer;
	color: blue;
	font-size: 14px;
}

.fpButtonCancel
{
	float: left;
	width: 22px;
	height: 22px;
	border: none;
	padding: 0;
	background-color: #3668B1;
	color: #FFFFFF;
}

.fpButtonCancel:hover
{
	background-color: #5789D0;
}

.fpButtonSearch
{
	float: left;
	width: 60px;
	height: 22px;
	border: none;
	background-color: #3668B1;
	color: white;
	text-align: center;
}

.fpButtonSearch:hover
{
	background-color: #5789D0;
}

.fpTo
{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.fpButtonShowDate
{
	float: left;
	width: 22px;
	height: 22px;
	background: url(../../../images/calendar.svg) no-repeat #F8F8F8 center;
}

/* dojo claro theme modification*/
#cmbMessageType .dijitArrowButtonInner, #cmbTimeFrame .dijitArrowButtonInner, #cmbDateUnits .dijitArrowButtonInner
{
	text-indent: 0 !important;
	width: 16px;
	color: white;
	text-align: center;
}

#cmbMessageType .dijitButtonNode, #cmbTimeFrame .dijitButtonNode, #cmbDateUnits .dijitButtonNode
{
	border: none;
	background-color: #3668B1;
}

.fpGrayedText
{
	color: #808080;
}
