.aras-dialog-preferences,
.aras-dialog-preferences.polyfilled.aras-dialog-preferences {
  width: 25rem;
}
.aras-dialog-preferences .aras-dialog__content,
.aras-dialog-preferences.polyfilled.aras-dialog-preferences .aras-dialog__content {
  padding: 0 16px 16px;
}
.aras-dialog-preferences .aras-buttons-bar,
.aras-dialog-preferences.polyfilled.aras-dialog-preferences .aras-buttons-bar {
  padding-top: 20px;
}
.aras-dialog-preferences__label,
.aras-dialog-preferences.polyfilled.aras-dialog-preferences__label {
  font: 500 1rem / 1.2 Roboto, 'Noto Sans JP', Arial, sans-serif;
  color: #333333;
  margin-top: 4px;
  display: block;
  width: 100%;
}
.aras-dialog-preferences__radio-buttons-area,
.aras-dialog-preferences.polyfilled.aras-dialog-preferences__radio-buttons-area {
  margin-top: 4px;
}
.aras-dialog-preferences__radio,
.aras-dialog-preferences.polyfilled.aras-dialog-preferences__radio {
  padding-top: 2px;
  padding-bottom: 2px;
}
