#MeasurePointsContainer
{
	background-color: rgba(204, 204, 204, 0.01);
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 10000;
}

	#MeasurePointsContainer text
	{
		font-size: 18pt;
	}
