.claro .dijitContentPane.ModelBrowserPanel {
	position: absolute;
	padding: 8px 0 0;
	overflow: hidden;
}

.claro .dijitSplitter {
	z-index: 10 !important;
}

.ToggleDisplayButton {
	cursor: pointer;
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	position: absolute;
	right: 10px;
}

.ToggleDisplayButtonImage {
	display: inline-block;
	height: 22px;
	width: 22px;
}

.claro .ModelBrowserPanel .ModelBrowserTree .dijitTreeRowSelected,
.claro .ModelBrowserPanel .ModelBrowserTree .dijitTreeRowHover {
	background-color: #dde7f5;
	background-image: none;
	border-color: #dde7f5;
}

.claro .ModelBrowserPanel .ModelBrowserTree .dijitTreeRowHover {
	border-width: 0;
}

.claro .ModelBrowserPanel .ModelBrowserTree .dijitTreeRow {
	color: #444;
	font-family: Tahoma;
	font-size: 12px;
	padding: 1px 15px 0 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	position: relative;
}

.claro .ModelBrowserPanel .ModelBrowserTree .dijitTreeRow .dijitTreeLabel,
.claro .ModelBrowserPanel .ViewsTree .dijitTreeRow .dijitTreeLabel {
	outline: none;
}

.claro .ModelBrowserPanel .ViewsTree .savedViewRow {
	position: relative;
}

.claro .ModelBrowserPanel .ViewsTree .ViewsTreeRoot {
	margin: 8px 12px;
}

.claro .ModelBrowserPanel .ViewsTree .savedViewButton {
	cursor: pointer;
	position: absolute;
	right: 0;
	height: 22px;
	width: 22px;
}

.claro
	.ModelBrowserPanel
	.ViewsTree
	.savedViewButton.createSavedView
	.savedViewIcon {
	padding: 0;
}

.claro .ModelBrowserPanel .ViewsTree .savedViewIcon {
	padding: 3px;
	max-height: 22px;
	max-width: 22px;
}

.claro .dijitPopup.dijitMenuPopup {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	position: absolute;
	background-color: transparent;
	margin: 0;
	border: 0;
	padding: 0;
}

.claro .dijitPopup.dijitMenuPopup .dijitMenu {
	background-color: #fff;
	border: 1px solid #6b6b6b;
	padding: 0 0 1px;
	color: #6e6e6e;
}

.claro .dijitPopup.dijitMenuPopup .dijitMenuTable {
	border-collapse: separate;
	border-spacing: 0 0;
}

.claro .dijitPopup.dijitMenuPopup .dijitMenuItemSelected td {
	background-color: #dde7f5;
	background-image: none;
	border-color: #979797;
	position: relative;
}

.claro .dijitPopup.dijitMenuPopup .dijitMenuItem {
	color: #444;
	text-align: left;
	white-space: nowrap;
	padding: 0.1em 0.2em;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.claro .dijitPopup.dijitMenuPopup .dijitMenu .dijitMenuItem td {
	border-color: #fff;
	border-style: none;
	border-width: 0 0;
	padding: 1px 2px 2px;
	height: 23px;
}

.claro
	.dijitTree
	.dijitTreeIsRoot
	> .dijitTreeRow.ViewsTypeHead
	> .dijitTreeContent
	> .dijitIcon,
.claro
	.dijitTree
	.dijitTreeIsRoot
	> .dijitTreeNodeContainer
	> .dijitTreeNode
	> .dijitTreeRow.ViewsTypeHead
	> .dijitTreeContent
	> .dijitIcon {
	display: none;
}

.claro .dijitTree .dijitTreeIsRoot > .dijitTreeRow.ViewsTypeHead {
	min-height: 22px;
}

div#modelBrowserTree {
	padding: 8px;
	margin: 0;
}

div#viewsTab {
	background: white;
	padding: 0;
}

div#modelTab {
	background: white;
	padding: 0;
}


#modelTab.dijitContentPane.dijitHidden {
	display: block !important;
	position: absolute;
	z-index: 0;
}

#modelTab.dijitContentPane.dijitVisible {
	display: block;
	position: absolute;
	z-index: 2;
}

#viewsTab.dijitContentPane.dijitContentPaneSingleChild {
	display: block;
	position: absolute;
	z-index: 1;
}

.claro .modelTreeContainer.dojoxGridTreeModel .dojoxGridContent .dojoxGridCell {
	border-bottom: 0px none transparent !important;
	border-right: 0px none !important;
	padding: 0 3px !important;
}

.claro .modelTreeContainer.dojoxGridTreeModel .dojoxGridContent .dojoxGridCell,
.aras_tree img.aras_treegrid_no_icon {
	background-color: #fff;
}

.claro .modelTreeContainer.dojoxGridTreeModel .dojoxGridContent .dojoxGridCell {
	height: 26px;
}

.claro .modelTreeContainer.dojoxGridTreeModel .dojoxGridMasterHeader {
	display: none !important;
}
