.Scroll
{
	background-color: #f0f0f0;
	cursor: default;
	display: inline-block;
	position: absolute;
    z-index: 11112 !important;
}

	.Scroll.Vertical
	{
		top: 0;
		right: 0;
		height: calc(100% - 17px);
		width: 17px;
	}

	.Scroll.Horizontal
	{
		left: 0;
		bottom: 0;
		height: 17px;
		width: 100%;
	}

	.Scroll.Vertical .PointerContainer
	{
		display: inline-block;
		cursor: default;
		position: absolute;
		width: 100%;
		height: calc(100% - 32px);
		left: 0;
		top: 16px;
	}

	.Scroll.Horizontal .PointerContainer
	{
		display: inline-block;
		position: absolute;
		width: calc(100% - 49px);
		height: 100%;
		left: 16px;
		top: 0;
	}

	.Scroll .Pointer
	{
		background-color: #e3e3e3;
		border: 1px solid gray;
		display: inline-block;
		cursor: default;
		width: 15px;
		height: 15px;
		position: absolute;
	}

	.Scroll .Horizontal .Pointer
	{
		top: 0;
		left: 0;
	}

	.Scroll .Vertical .Pointer
	{
		left: 0;
		top: 0;
	}

	.Scroll .Arrow
	{
		background-color: #e3e3e3;
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
		border: 1px solid gray;
		cursor: default;
		display: inline-block;
		width: 15px;
		height: 15px;
		position: absolute;
	}

		.Scroll .Arrow.Active
		{
			background-color: #a6a6a6;
		}

		.Scroll .Arrow.Top
		{
			background-image: url("../../../images/top.png");
			left: 0;
			top: 0;
		}

		.Scroll .Arrow.Bottom
		{
			background-image: url("../../../images/bottom.png");
			left: 0;
			bottom: 0;
		}

		.Scroll .Arrow.Left
		{
			background-image: url("../../../images/left.png");
			left: 0;
			top: 0;
		}

		.Scroll .Arrow.Right
		{
			background-image: url("../../../images/right.png");
			right: 17px;
			top: 0;
		}

		.Scroll .Arrow[disabled='disabled']
		{
			border: 1px solid #ababab;
		}

		.Scroll .Arrow.Top[disabled='disabled']
		{
			background-image: url("../../../images/top_disabled.png");
		}

		.Scroll .Arrow.Bottom[disabled='disabled']
		{
			background-image: url("../../../images/bottom_disabled.png");
		}

		.Scroll .Arrow.Left[disabled='disabled']
		{
			background-image: url("../../../images/left_disabled.png");
		}

		.Scroll .Arrow.Right[disabled='disabled']
		{
			background-image: url("../../../images/right_disabled.png");
		}
