<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Aras.IntegrationTests.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Aras.IntegrationTests.Framework.Properties.Settings>
			<setting name="admin_login_name" serializeAs="String">
				<value>admin</value>
			</setting>
			<setting name="admin_pwd" serializeAs="String">
				<value>innovator</value>
			</setting>
			<setting name="root_login_name" serializeAs="String">
				<value>root</value>
			</setting>
			<setting name="root_pwd" serializeAs="String">
				<value>innovator</value>
			</setting>
			<setting name="sql_server" serializeAs="String">
				<value>(local)</value>
			</setting>
			<setting name="integrated_security" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="dba_user" serializeAs="String">
				<value>sa</value>
			</setting>
			<setting name="dba_pwd" serializeAs="String">
				<value>don'tuseme</value>
			</setting>
			<setting name="output_path" serializeAs="String">
				<value>.</value>
			</setting>
			<setting name="innovator_server_url" serializeAs="String">
				<value>http://localhost/Server/InnovatorServer.aspx</value>
			</setting>
			<setting name="innovator_client_url" serializeAs="String">
				<value>http://localhost/Client/</value>
			</setting>
			<setting name="oauth_server_url" serializeAs="String">
				<value>http://localhost/OAuthServer/</value>
			</setting>
			<setting name="database" serializeAs="String">
				<value>master</value>
			</setting>
			<setting name="database_name" serializeAs="String">
				<value>master</value>
			</setting>
			<setting name="do_restore_db_after" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="is_fips_mode" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="language" serializeAs="String">
				<value />
			</setting>
			<setting name="restore_database_mode" serializeAs="String">
				<value>AfterAllTests</value>
			</setting>
			<setting name="run_tests_on_installed_innovator" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Aras_PremierSubscription" serializeAs="String">
				<value />
			</setting>
			<setting name="Aras_SelfServiceReporting" serializeAs="String">
				<value />
			</setting>
			<setting name="default_comparer" serializeAs="String">
				<value>XmlComparer</value>
			</setting>
		</Aras.IntegrationTests.Framework.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="IOM" publicKeyToken="524d880b05474146" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.3.0.0" newVersion="12.0.0.15974" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>