<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../styles/default.css" />
	<link rel="stylesheet" href="../../../javascript/include.aspx?classes=arasClaro.css,discussion.css,common.min.css,cuiLayout.css,toolbarElements.css" />
	<link rel="stylesheet" type="text/css" href="../../../styles/queryBuilder.css"></link>
	<style type="text/css">
		@import "../../../javascript/dojo/resources/dojo.css";
		@import "../../../javascript/dijit/themes/claro/claro.css";
		@import "../../../javascript/include.aspx?classes=common.css";

		body {
			font-size: 12px;
			line-height: 1.4;
		}

			body.claro {
				padding: 0;
				display: initial
			}
	</style>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules,ScriptSet1"></script>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=/dojo.js" data-dojo-config="async: true, isDebug: false, parseOnLoad: false, baseUrl:'../../../javascript/dojo'"></script>
	<script type="text/javascript" src="../../aras.innovator.QueryBuilder/Scripts/queryBuilder.js"></script>
	<script type="text/javascript" src="../../aras.innovator.QueryBuilder/Scripts/queryBuilderView.js"></script>
	<script type="text/javascript" src="../Scripts/MACQueryBuilderEditor/QueryBuilderEditor.js"></script>
</head>
<body class="claro">
	<div style="box-sizing: border-box; height: 100%; padding: 0 16px 16px 16px; overflow: hidden; display: grid; grid-template-rows: 1fr max-content;">
		<div id="QueryBuilderEditorContainer">
		</div>
		<div class="aras-buttons-bar aras-buttons-bar_right" style="margin-top: 20px;" id="buttonsContainer">
			<button class="aras-button aras-button_primary aras-buttons-bar__button" id="ok">
				<span class="aras-button__text"></span>
			</button>
			<button class="aras-button aras-button_secondary-light aras-buttons-bar__button" id="cancel">
				<span class="aras-button__text"></span>
			</button>
		</div>
	</div>
</body>
</html>
