<!doctype html>
<html>
<head>
	<script type="text/javascript" src="../../../../javascript/include.aspx?classes=ArasModules,XmlDocument"></script>
	<script type="text/javascript" src="../../../../javascript/include.aspx?classes=/dojo.js"
			data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl: '../../../../javascript/dojo', packages: [{ name: 'ES', location: '../../../Modules/aras.innovator.ES' }]"></script>
	<link rel="stylesheet" type="text/css" href="../../../../javascript/dijit/themes/claro/claro.css">
	<link rel="stylesheet" type="text/css" href="../../../../javascript/dojox/grid/resources/claroGrid.css">
	<link rel="stylesheet" type="text/css" href="../../../../javascript/include.aspx?classes=common.css">
	<link rel="stylesheet" href="../../../../styles/common.min.css">
	<link rel="stylesheet" href="../../Styles/Admin.min.css">
	<script type="text/javascript" src="../../Scripts/Apps/InternalReindexApp.js"></script>
</head>
<body class="claro">
	<iframe id="searchSpinner" src="../../../../scripts/spinner.html" class="dashboardSpinner hidden"></iframe>
	<div id="irStatusBar">
		<span class="irInfo">
			<span data-ml="dashboard.internal_reindex_general_status"></span>: <span id="irStatus"></span>
		</span>
		<span class="irInfo">
			<span data-ml="dashboard.internal_reindex_items_processed"></span>:
			<span id="irItemsStatus">
				<span id="irProcessed"></span> <span data-ml="dashboard.internal_reindex_of"></span> <span id="irToProcess"></span>
			</span>
		</span>
	</div>
	<div id="irToolbar">
		<!-- Role attribute is required to prevent toolbar collapsing -->
		<aras-toolbar role="irToolbar"></aras-toolbar>
		<div id="irProgressBarWrap">
			<div id="irProgressBar"></div>
		</div>
	</div>
	<div id="irGrid" class="irGrid"></div>
</body>
</html>