<!doctype html>
<html>
<head>
	<script type="text/javascript" src="../../../../javascript/include.aspx?classes=/dojo.js"
			data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl: '../../../../javascript/dojo', packages: [{ name: 'ES', location: '../../../Modules/aras.innovator.ES' }]"></script>
	<link rel="stylesheet" type="text/css" href="../../../../javascript/dijit/themes/claro/claro.css">
	<link rel="stylesheet" type="text/css" href="../../../../javascript/dojox/grid/resources/claroGrid.css">
	<link rel="stylesheet" type="text/css" href="../../../../javascript/include.aspx?classes=common.css">
	<link rel="stylesheet" href="../../../../styles/common.min.css">
	<link rel="stylesheet" href="../../Styles/Admin.min.css">
	<script type="text/javascript" src="../../../../javascript/include.aspx?classes=XmlDocument"></script>
	<script type="text/javascript" src="../../Scripts/Classes/Page/Overview.js"></script>
</head>
<body class="claro">
	<div id="headerContainer">
		<div class="buttonsWrapper">
			<button id="refreshButton" class="aras-button aras-button_primary">
				<span class="aras-button__text"></span>
			</button>
		</div>
	</div>
	<div id="errorContainer" class="hidden">
		<h1></h1>
	</div>
	<div id="gridsContainer">
		<iframe id="searchSpinner" src="../../../../scripts/spinner.html" class="dashboardSpinner hidden"></iframe>
		<span id="agentIndicator"></span>
		<span id="gridLegend"></span>
		<div id="crawlersGrid" class="crawlersGrid"></div>
		<table id="legendTable"></table>
	</div>
</body>
</html>