#top {
	height: 53px;
}

#viewers .graphViewer,
#viewers .tgvViewer {
	height: 100%;
	padding: 0;
	margin: 0;
}
#BorderContainer {
	height: calc(100% - 52px);
}

html,
body {
	background-color: white;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
