.stateButtonExpandIcon
{
	background-image:url('../../../images/TabMaximize.svg');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	width: 18px;
	height: 18px;
}

.stateButtonNormalIcon
{
	background-image:url('../../../images/TabOn.svg');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	width: 18px;
	height: 18px;
}

.stateButtonCollapseIcon
{
	background-image:url('../../../images/TabMinimize.svg');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	width: 18px;
	height: 18px;
}

.stateButton {
	margin: 0px;
	width: 18px;
	height: 18px;
}

.stateButton .dijitButtonNode {
	border: 0px solid;
	width: 18px;
	height: 18px;
	padding: 0px;
}