#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ace_keyword:not(.ace_operator) {
	background: #24b968;
	padding:1px;
	font-size:90%;
	text-transform: uppercase;
	color: white!important;
}
.warning {
	position: absolute;
	border-bottom: 1px solid red;
	z-index: 1000;
}