body {
	margin: 0px;
}

.buttons,
.buttons *,
.toolbar,
.toolbar * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.aras-tabs {
	position: relative;
	z-index: 1;
	padding: 7px 10px;
}

.showConditions, .editConditions {
	display: none;
}

.showConditions {
	padding-bottom: 10px;
}

.buttons {
	text-align: center;
}

.buttons .aras-btn {
	margin: 0 2px;
	line-height: 26px;
	width: 100px;
	padding: 0;
}

.editConditions {
	position: relative;
	top: -9px;
}

.toolbar {
	min-width: 130px;
	position: absolute;
	top: -17px;
	right: 0;
	z-index: 2;
	border-bottom: none !important;
}

.read-only-mode .aras-tabs{
	display: none;	
}
.start-execution {
	padding-top: 25px;
}

.start-execution .toolbar{
	right: auto;
	left: 0;
}

.start-execution .buttons {
	display: none;
}

.editConditions .title {
	padding: 8px 5px 5px;
}
.toolbar .top_toolbar.dijitContentPane {
	border-top: none;
	border-bottom: none;
}

.edit-container {
	overflow: auto;
	display: block;
	height: 150px;
	border: 1px solid rgb(180, 180, 180);
	padding: 2px;
	position: relative;
	top: 1px;
	width: calc(100% - 6px);
	margin: 3px;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #d4d4d4;
}

.edit-container .edit-area {
	height: 100%;
}

.edit-container .edit-area:empty:before {
	content: "\200b";
}

.conditionContainer:empty:before {
	content: "\200b";
}

.claro .dijitPopup {
	box-shadow: none;
}

.claro .dijitPopup .dijitMenu {
	border: 1px solid rgb(180, 180, 180);
	padding: 1px;
}

.claro .dijitMenu .dijitMenuItem td {
	height: 18px;
	padding: 0 2px 2px;
	vertical-align: bottom;
}

.dijitMenuItem .dijitMenuItemIconCell .intellisenseIcon {
	height: 16px;
	width: 16px;
	background-size: 16px 16px;
}

.edit-container .edit-area:focus {
	outline: none;
}

.edit-container.invalid {
	border: 1px solid red;
}

.title {
	font-weight: bold;
}

.containerConditions {
	margin-top: 5px;
}


.expressionContainer {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
}

.binaryContainer {
	display: inline;
	line-height: 14px;
}

.binaryContainer.highlighted {
	outline: 1px dotted rgb(89, 127, 189);
}

.conditionContainer {
	display: inline;
}

.selectBinary {
	display: table;
}

.expressionDiv {
	display: table-cell;
}

.expressionDiv > div {
	margin-right:10px;
}

.operationsDiv > .sys_f_div_select, .binaryContainer > .sys_f_div_select {
	vertical-align: middle;
}

.shift {
	margin-left: 20px;
}

.dijitComboBox {
	border: 1px solid black !important;
}

input[type='text'].dijitArrowButtonInner {
	border: none !important;
	background: url("../../../images/dropdown-arrow.svg") no-repeat scroll right top / 17px 17px #fff !important;
	background-size: 17px 17px !important;
	margin: 0px !important;
	padding: 0px !important;
	max-height: 17px !important;
	max-width: 17px !important;
	padding: 0px !important;
	height: 17px !important;
	width: 17px !important;
}

.dialog {
	margin: 15px;
}

.emptyExpressionPlaceholder:empty::before {
	content: attr(data-placeholder);
	font-style: italic;
	color: gray;
	cursor: text;
}

.emptyExpressionPlaceholder {
	outline: none;
}

.placeholder {
	height: 22px;
	color: rgb(175, 175, 175);
	font-style: italic;
	cursor: pointer;
}

.selected {
	background-color: #F8EEC0 !important;
}

.binaryContainer > img {
	max-height: 22px;
	max-width: 22px;
}

.binaryLabel {
	background-color: rgb(22, 184, 98);
	color: #FFF;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0px 2px;
	min-width: 22px;
	display: inline-block;
	text-align: center;
}

[contenteditable] .binaryContainer .binaryLabel:hover {
	cursor: pointer;
}

span[id] {
	color: #00a000;
}

.errorProperty {
	color: red;
}

.expressionContainer > span {
    padding-right: 10px;
}
