.claro .dojoxGridMasterMessages {
	position: absolute;
	top: 50%;
	color: #cbcbcb;
	left: 0;
	right: 0;
}
.mp-editor__container {
	height: 100%;
}

.mp-editor__content-pane {
	height: 50%;
}

.mp-editor__condition-form {
	height: 50%;
}
