<div id="container">
	<fieldset style="border-color: gray;border-style: solid;">
		<legend aras_ui_resource_key="reportdesigner.share.sharereport">Share Report</legend>
		<div id="selectionRow" class="sys_f_value_container">
			<div id="shareRadioContainer">
				<label id="mainLabel" aras_ui_resource_key="reportdesigner.share.setavailabilityto">Set availability to:</label><br/>
				<label class="aras-form-boolean"><input type="radio" name="aras-ssr-userShare" id="sWorld"><span></span><span class="bit_text" aras_ui_resource_key="reportdesigner.share.option.public">Public</span></label>
				<select disabled id="worldPermissions" style="width: 120px; margin-left: 70px;"></select><br/>
				<label class="aras-form-boolean"><input type="radio" name="aras-ssr-userShare" id="sMyself"><span></span><span class="bit_text" aras_ui_resource_key="reportdesigner.share.option.private">Private</span></label><br/>
				<label class="aras-form-boolean"><input type="radio" name="aras-ssr-userShare" id="sIds"><span></span><span class="bit_text" aras_ui_resource_key="reportdesigner.share.option.sharedwithidentities">Shared with Identities: </span></label><br/>
			</div>
			<iframe src="" id="identitiesGrid" width="400" height="155" frameborder="no" style="display: none; z-index: 9999;"></iframe>
		</div>
	</fieldset>
</div>
