.ssvc-toolbar {
	width: 100%;
	height: 100%;
}

.ssvc-toolbar > div:first-child {
	padding: 8px 0;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 10px;
}
.ssvc-toolbar > div > label {
	font-size: 14px;
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	margin-right: -4px;
}
.ssvc-toolbar > div:first-child:after {
	content: '';
	clear: both;
	display: block;
}

.ssvc-toolbar .ssvc-toolbar-buttons {
	display: inline-block;
	width: 75%;
	text-align: right;
	vertical-align: middle;
}

.ssvc-toolbar .ssvc-toolbar-buttons > .MarkupButton:hover,
.ssvc-preferences-button-active,
.ssvc-display-settings-button-active {
	background-color: #dde7f5;
}

.ssvc-toolbar .ssvc-toolbar-search {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.ssvc-toolbar .ssvc-toolbar-search > input {
	width: 127px;
	height: 20px;
	padding: 1px 44px 1px 5px;
	border: 1px solid #d4d4d4;
}
.ssvc-toolbar .ssvc-toolbar-search > span {
	position: absolute;
	border: 1px solid transparent;
	display: inline;
	z-index: 10;
}
.ssvc-toolbar .ssvc-toolbar-search > span.LoupeButton {
	background: url(../../../images/Loupe.svg) no-repeat center;
	background-size: 22px;
	top: 0;
	right: 22px;
}
.ssvc-toolbar .ssvc-toolbar-search > span.MoreOptionsButton {
	top: 0;
	right: 0;
}
.ssvc-toolbar .ssvc-toolbar-search > span.MoreOptionsButton:hover:before,
.ssvc-toolbar .ssvc-toolbar-search > span.MoreOptionsButton.fpActive:before {
	border-top-color: #3668b1;
}
.ssvc-toolbar .ssvc-toolbar-search > span.MoreOptionsButton:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: gray transparent transparent transparent;
	top: 10px;
	right: 7px;
}
.ssvc-display-settings-button-active .ssvc-display-settings-popup {
	display: table;
}
.ssvc-display-settings-button {
	display: none;
	vertical-align: middle;
	margin-left: 4px;
	position: relative;
	z-index: 20000;
}
.ssvc-display-settings-icon {
	height: 100%;
	background: url(../../../images/DisplayOptions.svg) no-repeat center;
	background-size: 22px;
}
.ssvc-toolbar .ssvc-display-settings-popup {
	white-space: nowrap;
	padding: 15px;
}
.ssvc-display-setting {
	text-align: left;
	display: table-row;
}
.ssvc-display-setting:not(:first-child) > span {
	padding-top: 10px;
}
.ssvc-display-setting:not(:first-child) > .ssvc-display-setting-field {
	padding-top: 10px;
}
.ssvc-display-setting > span {
	vertical-align: middle;
	display: table-cell;
	padding-right: 8px;
}
.ssvc-display-setting-field {
	display: table-cell;
}
.ssvc-display-setting-field select {
	/* The 'padding' property is redefined with '!important', because the one 
	in the '.aras-form select' standard selector (styles/common.min.css) is overrided 
	by the 'select' selector from the 'styles/formElements.css' file.
	This line has to be removed when the 'styles/formElements.css' file is no longer loaded */
	padding: 0.16666667rem 2.16666667rem 0.16666667rem 0.33333333rem !important;
	width: 130px;
}
.ssvc-toolbar-addComment {
	padding: 10px;
	background-color: #ebf1f9;
	border: 2px solid #9cbae2;
}

.ssvc-toolbar-addComment::after {
	/* is needed to take into account size of floated elements */
	clear: both;
	content: '';
	display: table;
}
.ssvc-toolbar-addComment > div:first-child {
	display: inline-block;
	position: relative;
	width: 100%;
	background-color: white;
	border: 1px solid #d4d4d4;
	padding: 3px;
	box-sizing: border-box;
	margin-right: -4px;
	min-height: 34px;
}
.ssvc-toolbar-addComment .ssvc-toolbar-addComment-resize {
	display: block;
	width: 18px;
	height: 18px;
	background: url(../../../images/ResizeArea.svg) no-repeat center;
	background-size: 12px;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: s-resize;
}
.ssvc-toolbar-addComment-resize2 {
	display: block;
	width: 18px;
	height: 18px;
	background: url(../../../images/ResizeArea.svg) no-repeat center;
	background-size: 12px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: s-resize;
}
.ssvc-toolbar-addComment div:first-child > textarea {
	height: 22px;
	width: calc(100% - 20px);
	border-width: 0;
	overflow: auto;
	resize: none;
}
.ssvc-toolbar-addComment > input {
	height: 34px;
	margin-left: 10px;
	width: 104px;
	color: #fff;
	background-color: #3668b1;
	box-sizing: border-box;
}
.ssvc-toolbar-addComment > input.btn[disabled] {
	background-color: rgba(54, 104, 177, 0.3);
}
.ssvc-toolbar-addComment > input.btn[disabled]:hover {
	background-color: rgba(54, 104, 177, 0.3);
	color: #fff;
}
.ssvc-toolbar-addComment > input.btn:hover {
	background-color: #5789d0;
}
.ssvc-toolbar-addComment-input {
	outline: none;
	border: 1px solid #eee;
	padding: 3px 5px;
	border-radius: 2px;
	font-size: 15px;
	min-height: 32px;
	cursor: text;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}
.ssvc-toolbar-addComment-input p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.MarkupButton {
	display: inline-block;
	cursor: pointer;
	width: 22px;
	height: 22px;
}
.RefreshFeedButton {
	background: url(../../../images/Refresh.svg) no-repeat center;
	vertical-align: middle;
	background-size: 100% 100%; /*existing troubles in MS Edge browser with scaling of this svg*/
	margin-right: 4px;
}

.ssvc-toolbar-myDisscusion .ssvc-preferences-button {
	display: inline-block;
}

.ssvc-preferences-button {
	display: none;
	vertical-align: middle;
	margin-right: 4px;
	position: relative;
	z-index: 20000;
}

.ssvc-preferences-button-icon {
	height: 100%;
	background: url(../../../images/Preference.svg) no-repeat center;
	background-size: calc(
		100% + 2px
	); /* fix for svg because of existing troubles in browsers with scaling of this svg */
}
.ssvc-preferences-button-active .ssvc-preferences-popup {
	display: block;
}
.ssvc-display-settings-popup,
.ssvc-preferences-popup {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #aeaeae;
	box-shadow: 3px 3px 5px #aaa;
	padding: 15px 25px 15px 15px;
	cursor: default;
	top: 100%;
	margin-top: 1px;
	font-size: 12px;
	text-align: left;
	right: 0;
}
.ssvc-preferences-popup-title {
	white-space: nowrap;
}
.ssvc-preferences-property {
	margin: 10px 0 0;
}
.ssvc-preferences-property > input,
.ssvc-preferences-property > label {
	cursor: pointer;
}
.ssvc-toolbar.ssvc-toolbar-myDisscusion > div:first-child {
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 10px;
	min-height: 30px;
	margin-right: -4px;
	padding-bottom: 0;
}
.ssvc-toolbar.ssvc-toolbar-myDisscusion > div > label {
	width: 40%;
}
.ssvc-toolbar.ssvc-toolbar-myDisscusion .ssvc-toolbar-buttons {
	width: 60%;
}
.ssvc-toolbarReply {
	display: none;
	margin: 10px 10px 0 40px;
}
.ssvc-toolbarReply.ssvc-toolbar-addComment > input {
	width: auto;
}
