/* Select Share Dialog */
html, body
{
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
}

#container
{
	margin: 0 auto;
	padding: 10px;
}

#selectionRow
{
	width: 100%;
	padding-left: 4px;
	text-align: left;
}

#container #selectionRow label {
	line-height: 18px;
}

#buttonRow
{
	padding: 4px 10px 5px 10px;
}

#mainLabel
{
	display: block;
	margin-bottom: 1px;
}

#sIdsLabel
{
	padding-right: 5px;
}

.taginputContainer {
	margin-left: 4px;
	margin-top: 6px;
	margin-bottom: 10px;
}

.popupSelect.popup-shareForum {
	box-shadow: none;
	border: none;
	position: relative;
	padding: 0;
	right: auto;
}

.popupSelect.popup-shareForum .taginputContainer #identityNameInput {
	border: 1px
}

.popupSelect.popup-shareForum .popupSelect-itemsList  {
	height: 172px;
	width: 300px;
	margin-left: 4px;
	margin-bottom: 10px;
	box-sizing: border-box;
	overflow-y: auto;
	text-align: left;
}
.popupSelect .popupSelect-listItem.shareForum-listItem {
	padding: 0;
	line-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.popupSelect .popupSelect-itemsList .popupSelect-listItem.shareForum-listItem .followUsers-follow-icon {
	display: inline-block;
	position: absolute;
	right: 2px;
	height: 16px;
	top: 3px;
}

.popupSelect .popupSelect-listItem.shareForum-listItem:after {
	content: " ";
	display: table;
	clear: both;
}

.popupSelect .popupSelect-listItem.shareForum-listItem img {
	height: 22px;
	width: 22px;
	float: left;
	margin-top: 2px;
}

/* Select Share Dialog */

/* Create Forum Dialog */
#create_forum_container 
{
	height: 100%;
	width: 100%;
	display: table;
}

.inputRow
{
	width: 100%;
	padding: 13px 0;
}

#buttonsRow
{
	width: 100%;
	padding-top: 1px;
}

#buttonsRow .btn {
	min-width: 84px;
	margin-left: 2px;
	margin-right: 2px;
}

#buttonsRow .btn.btn_share_forum {
	min-width: 86px;
}

#main_forum_container 
{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.forum_table 
{
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.forum_field input, .forum_field textarea
{
	box-sizing: border-box;
	width: 234px;
	height: 20px;
}

.forum_field input[type="image"]
{
	display: none;
}

.forum_field.forum_field_ml input[type="image"]
{
	max-width: 19px;
	max-height: 19px;
	margin: -6px -1px -5px -5px;
	height: 19px;
	width: 19px;
	display: inline-block;
	border: 0 none;
}

.forum_field.forum_field_ml input[type="text"]
{
	width: 169px;
	padding-left: 0;
	padding-right: 0;
}

@-moz-document url-prefix() 
{
	.forum_field.forum_field_ml input[type="image"]
	{
		margin: -6px -1px -6px -4px;
		max-width: 21px;
		max-height: 21px;
		height: 21px;
		width: 21px;
	}

	.forum_field.forum_field_ml input[type="text"]
	{
		width: 166px;
	}
}

.forum_field textarea
{
	height: 40px;
}

.forum_label
{
	margin-right: 4px;
}

.forum_label_descript
{
	vertical-align: sub;
	padding-bottom: 30px;
}
/* Create Forum Dialog */