.tribute-container {
	background-color: white;
	padding: 0px 3px 3px 3px;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid #AEAEAE;
	width: 311px;
	box-sizing: border-box;
}

.ssvc-toolbar-addComment > div:first-child {
	min-height: 52px;
}

.tribute-container ul {
	margin: 0;
	margin-top: 2px;
	padding:0px;
	list-style: none;
}

.tribute-container ul li {
	padding: 5px;
	line-height: 1.3em;
}

.ssvc-toolbar-addComment-area:empty:not(:focus):before {
	content:attr(data-text);
	color:red;
	white-space: pre;
	display: inline-block;
	color:#a6a6a6;
	font-style: italic;
	font-family: Helvetica, sans-serif;
}

.ssvc-toolbar-addComment-placeholder {
	width:100px;
	height:30px;
}

.ssvc-toolbar-addComment2 {
	padding: 10px;
	background-color: #EBF1F9;
	border: 2px solid #9CBAE2;
}

.ssvc-toolbar-addComment2::after { 
	clear: both;
	content: "";
	display: table;
}

.ssvc-toolbar-addComment2 > div:first-child {
	display: inline-block;
	position: relative;
	width: calc(100% - 114px);
	background-color: white;
	border: 1px solid #d4d4d4;
	padding: 3px;
	box-sizing: border-box;
	margin-right: -4px;
	min-height: 34px;
}

.tribute-container ul li.highlight {
	background-color: #f8eec0;
}

.ssvc-toolbar-addComment .placeholder {
	color:#a6a6a6;
	font-style: italic;
	font-family: Helvetica, sans-serif;
}

.ssvc-toolbar-addComment-area {
	height: 40px;
	width: calc(100% - 20px);
	border-width: 0;
	overflow: auto;
	resize: none;
}

.ssvc-toolbar-addComment-area:focus {
	outline: none;
}

.tribute-container ul li:hover {
	background-color: #f8eec0;
}

.tribute-container .popupSelect-nameField {
	height: 26px;
	border: 1px solid #505050;
	width: 100%;
	padding: 5px;
	font: 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin-top: 9px;
}

.tribute-container .popup-container {

	max-height: 265px;
	margin-top: 0px;
	overflow: auto;
	cursor: default;
	display: block;
}

.tribute-container .popup-container .popupSelect-listItem.followUsers-listItem .followUsers-follow-icon,
.tribute-container .popup-container .popupSelect-listItem.followForum-listItem .followUsers-follow-icon {
	display: inline-block;
	position: absolute;
	right: 5px;
	height: 16px;
	top: 12px;
}

.popupSelect.shareWithIdentity .popupSelect-itemsList .popupSelect-listItem {
	padding: 2px 0;
}

.tribute-container .popup-container .popupSelect-listItem:after {
	display: table;
	clear: both;
	content: " ";
}

tribute-container .popupSelect-listItem:focus{
	background-color: #f8eec0;
}

.tribute-container .popup-container .popupSelect-listItem.popupSelect-listItem-selected {
	background-color: #f8eec0;
}

.tribute-container .popup-container .popupSelect-listItem.popupSelect-listItem-selected.followed {
	background-color: transparent;
}

.tribute-container .popup-container .popupSelect-listItem.followUsers-listItem .followUsers-avatar {
	width: 30px;
	height: 30px;
	float: left;
}

.popupSelect.shareWithIdentity .popupSelect-itemsList .popupSelect-listItem .identity-avatar {
	display: inline;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}

.popupSelect.shareWithIdentity .popupSelect-itemsList .popupSelect-listItem .identity-name {
	margin-left: 4px;
	vertical-align: middle;
}

.tribute-container .popup-container .popupSelect-listItem.followUsers-listItem .followUsers-userInfoCell {
	padding-left: 37px;
}

.tribute-container .popup-container .popupSelect-listItem.followUsers-listItem .followUsers-userName {
	font-size: 12px;
	color: #444444;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
	line-height: 15px;
	white-space: nowrap;
}

.tribute-container .popup-container .popupSelect-listItem.followUsers-listItem .followUsers-userLogin {
	color: #e78e46;
	padding-left: 4px;
	display: inline-block;
	vertical-align: top;
	line-height: 15px;
}
.tribute-container .popup-container .popupSelect-listItem.followUsers-listItem .followUsers-companyName {
	font-size: 11px;
	color: #727272;
	display: block;
	margin-top: -1px;
}

.tribute-container .popup-container .followUsers-listItem.followUsers-listItem-noCompany .followUsers-userName,
.tribute-container .popup-container .followUsers-listItem.followUsers-listItem-noCompany .followUsers-userLogin {
	line-height: 30px;
}

.tribute-container .popup-container .popupSelect-listItem.followForum-listItem .followForum-forumLabel,
.tribute-container .popup-container .popupSelect-listItem.followForum-listItem .followForum-forumOwner {
	line-height: 15px;
	height: 15px;
	display: block;
}

.tribute-container .popup-container .popupSelect-listItem.followForum-listItem .followForum-forumLabel {
	font-size: 12px;
	color: #444444;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ssvc-toolbar-addComment-area p{
	margin:0px;
	line-height: 1.15em;
}

.user-mention-link {
	color:#1066cf;
}

.user-mention-link:visited {
	color:#1066cf;
}

.tribute-container .popup-container .popupSelect-listItem.followForum-listItem .followForum-forumOwner {
	font-size: 11px;
	color: #727272;
	display: block;
}