.ssvc-message {
	position: relative;
	padding: 10px 8px 10px 0;
	border-bottom: 1px solid #d4d4d4;
}
.ssvc-message.ssvc-message-reply {
	margin-left: 40px;
}
.MessageContainer.ssvc-containerMessage-flat .ssvc-message.ssvc-message-reply {
	margin-left: 0;
}
.ssvc-message .ssvc-message-container {
	position: relative;
	margin-top: 10px;
}
.ssvc-message-text {
	overflow: hidden;
	height: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding-bottom: 1px; /*fix for IE*/
}
.ssvc-message-toggle {
	right: 0;
	bottom: 2px;
	position: absolute;
	text-decoration: underline;
	color: #3668b1;
	font: 11px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	padding-left: 20px;
	background: #fff
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAACCAIAAAABwbG5AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAaSURBVBhXYzjS4eKSvuzhfxDAymZiwA8YGACVixc9b8IMlgAAAABJRU5ErkJggg==')
		no-repeat 5px 12px;
}
.ssvc-message-toggle-disclosed {
	position: inherit;
	background: none;
	padding-left: 0;
}
.ssvc-message-action {
	position: relative;
	float: right;
	display: none;
	bottom: 0;
	right: 0;
}
.ssvc-message .ssvc-message-info {
	position: relative;
	margin-left: 26px;
	line-height: 1;
}
.ssvc-message .ssvc-message-info:before {
	display: inline-block;
	position: absolute;
	left: -26px;
	width: 20px;
	height: 20px;
	background: url(../../../images/CommentMessage.svg) no-repeat center;
	background-size: 20px;
	content: ' ';
}
.ssvc-message .ssvc-message-info:after {
	display: table;
	clear: both;
	content: ' ';
}

.ssvc-message .item-actions-button {
	float: right;
	position: relative;
	width: 12px;
	height: 22px;
	margin-top: 1px;
	cursor: pointer;
}

.ssvc-message .item-actions-button:hover,
.ssvc-message .item-actions-button-active {
	background-color: #dde7f5;
}

.ssvc-message .item-actions-button-icon {
	height: 100%;
}

.ssvc-message .item-actions-button-icon:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0;
	border-color: gray transparent transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -25%);
}

.ssvc-message .item-actions-button-active .item-actions-menu {
	display: block;
}

.ssvc-message .item-actions-menu {
	display: none;
	position: absolute;
	right: 0;
	top: calc(100% + 1px);
	border: 1px solid #aeaeae;
	background-color: #fff;
	box-shadow: 3px 3px 2px #9e9e9e;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 10000;
}

.ssvc-message .item-actions-menu-node {
	line-height: 26px;
	padding: 0 35px 0 5px;
	white-space: nowrap;
	font-size: 12px;
}
.ssvc-message .item-actions-menu-separator {
	border-bottom: 1px solid #979797;
}
.ssvc-message .item-actions-menu-node:hover {
	background-color: #dde7f5;
}

.ssvc-message.ssvc-message-history .ssvc-message-info:before {
	background-image: url(../../../images/AutomaticMessage.svg);
}
.ssvc-message.ssvc-message-reply.ssvc-message-disabled
	.ssvc-message-info:before,
.ssvc-message.ssvc-message-disabled .ssvc-message-info:before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSImIzEwNTc7JiMxMDgzOyYjMTA4NjsmIzEwODE7XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiM3MjcyNzIiIGQ9Ik01Niw0M2gtOHYxM0wzNSw0M0g4VjhoNDhWNDN6Ii8+DQo8L3N2Zz4NCg==);
	opacity: 0.5;
}
.ssvc-message.ssvc-message-reply .ssvc-message-info:before {
	background-image: url(../../../images/ReplyMessage.svg);
}
.ssvc-message .ssvc-message-info img {
	max-width: 22px;
	max-height: 22px;
	margin-left: 4px;
	margin-top: 1px;
}
.ssvc-message .ssvc-message-info .ssvc-message-time {
	display: inline-block;
	overflow: inherit;
	text-overflow: inherit;
	font-size: 10px;
	line-height: 1.4;
	color: #727272;
}
.ssvc-message .ssvc-message-info .ssvc-message-userName {
	display: block;
}
.ssvc-message .ssvc-message-info .ssvc-message-modified {
	display: none;
	min-width: 15px;
	height: 15px;
	background: url(../../../images/Modified.svg) no-repeat;
	background-size: 15px;
	content: ' ';
}

.ssvc-message .ssvc-message-info > div:first-child {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ssvc-message .ssvc-message-info > div:last-child > a {
	color: #444;
	font-size: 12px;
	border-bottom: 1px solid black;
	float: right;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ssvc-message .ssvc-message-info > div:last-child > a:hover {
	text-decoration: none;
}

.ssvc-message.forum-message .ssvc-message-info > div:last-child > a {
	color: #444;
	cursor: default;
	text-decoration: none;
	border-bottom: none;
}

.ssvc-message .ssvc-message-info > div:last-child > span {
	float: right;
	font-size: 10px;
	height: 11px;
	margin-top: -1px;
	color: #727272;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ssvc-message .ssvc-message-info > div {
	max-width: 50%;
	width: 50%;
}
.ssvc-message .ssvc-message-info > div:last-child > span,
.ssvc-message .ssvc-message-info > div:last-child > a {
	max-width: calc(100% - 40px);
}
.ssvc-message .ssvc-message-image {
	position: relative;
	margin-top: 10px;
}

.ssvc-message .ssvc-message-image > div {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 15px;
	height: 15px;
	background: url(../../../images/ExpandSnapshot.svg) no-repeat transparent
		center;
	background-size: 20px;
}
.ssvc-message .ssvc-message-image > img {
	cursor: pointer;
	width: 60px;
	height: 60px;
	border: 1px solid #727780;
	transition-property: width, height;
	transition-duration: 0.2s;
}
.ssvc-message > .ssvc-message-image > div.thumbnailArrowClose {
	background-image: url(../../../images/ContractSnapshot.svg);
}

.ssvc-message video {
	max-height: 120px;
}
.ssvc-message audio {
	width: 250px;
}

/* this padding is necessary to avoid cutting off of text with float: right, font-style: italic and overflow: hidden */
.ssvc-message.ssvc-message-disabled .ssvc-message-info > div:last-child > a,
.ssvc-message.ssvc-message-disabled .ssvc-message-info > div:last-child > span {
	padding-right: 2px;
}

.ssvc-message.ssvc-message-disabled .ssvc-message-info,
.ssvc-message.ssvc-message-disabled .ssvc-message-container {
	font-style: italic;
}

.ssvc-message.ssvc-message-disabled video,
.ssvc-message.ssvc-message-disabled audio,
.ssvc-message.ssvc-message-disabled .ssvc-message-image,
.ssvc-message.ssvc-message-disabled .ssvc-message-bottom > .ssvc-message-erase,
.ssvc-message.ssvc-message-disabled .ssvc-message-bottom > .ssvc-message-reply,
.ssvc-message.ssvc-message-disabled .ssvc-message-bottom > .ssvc-message-edit,
.ssvc-message.ssvc-message-disabled
	.ssvc-message-bottom
	> .ssvc-message-flagging,
.ssvc-message.ssvc-message-disabled
	.ssvc-message-bottom
	> .ssvc-message-flagging-info,
.ssvc-message.ssvc-message-disabled .ssvc-message-bottom > .ssvc-message-flag {
	display: none;
}

.ssvc-message .ssvc-message-bottom {
	margin-top: 10px;
	line-height: 1;
}

.ssvc-message .ssvc-message-bottom a {
	text-decoration: underline;
	color: #3668b1;
	font-size: 11px;
	margin-left: 5px;
}
.ssvc-message .ssvc-message-bottom a:first-child {
	margin-left: 0;
}

.ssvc-message .ssvc-message-bottom > .ssvc-message-flagging {
	color: orange;
	text-decoration: underline;
	cursor: pointer;
	font-size: 11px;
	border-right: 1px solid #d4d4d4;
	padding-right: 7px;
}

.ssvc-message .ssvc-message-bottom > .ssvc-message-flagging:before {
	display: inline-block;
	position: relative;
	margin-right: 3px;
	top: 3px;
	left: 0;
	width: 15px;
	height: 15px;
	background: url(../../../images/Flag.svg) no-repeat center;
	background-size: 15px;
	content: ' ';
}

.ssvc-message .ssvc-message-bottom .visibleTo {
	float: right;
	height: 22px;
	width: 22px;
	margin-top: -3px; /*necessary for aligning image's bottom with bottom of right border*/
}

.ssvc-message
	.ssvc-message-bottom
	> .ssvc-message-flagging.ssvc-message-flaggingGray:before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgaGVpZ2h0PSI2NCIgdmlld0JveD0iMCAwIDY0IDY0IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjQgNjQiPjxnIGZpbGw9IiM3MjcyNzIiPjxwYXRoIGQ9Im04LDEwaDR2NDZoLTR6Ii8+PHBhdGggZD0iTTU2LDExLjA5NnYyNS44MDdjMCwwLTUuMjc0LDMuMDk3LTEyLjAwMSwzLjA5N0MzMi4wNzEsNDAsMjguMTMsMzUuODcyLDIwLDM1Ljg3MlM4LDM3LjkzNiw4LDM3LjkzNlYxMC4wNjMgIEM4LDEwLjA2MywxMC4wODUsOCwyMCw4YzkuOTE0LDAsMTQuMDQ3LDYuMTkzLDIzLjk5OSw2LjE5M0M1MC4yOCwxNC4xOTMsNTUuMTI4LDExLjU4Miw1NiwxMS4wOTZ6Ii8+PC9nPjwvc3ZnPg==);
	opacity: 0.5;
}

.ssvc-message-flagging-info:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: -5px;
	display: block;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent rgb(235, 241, 249) transparent;
}
.ssvc-message-flagging-info {
	position: relative;
	font-size: 8pt;
	background-color: rgb(235, 241, 249);
	padding: 7px;
	margin-top: 10px;
}
.ssvc-message-flagging-user-restricted {
	color: #ff0000;
}
.ssvc-message .ssvc-message-type-line {
	position: absolute;
	width: 4px;
	height: calc(100% - 20px);
	top: 10px;
	right: 0;
}
.floatRight {
	float: right;
	font-size: 14px;
}
.floatLeft {
	float: left;
}

.disabled {
	opacity: 0.5;
}

.creatorActions {
	display: none;
}
