body {
	font: 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	color: #444;
}

.taginputContainer {
	text-align: left;
	font-size: 11px;
	min-height: 22px;
	max-height: 66px;
	box-sizing: content-box;
	border: 1px solid #505050;
	width: 298px;
	max-width: 298px;
	padding: 1px 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.taginputContainer.tag-container-disabled {
	border: 1px solid #cccccc;
}

.taginputContainer #identityNameInput {
	display: inline-block;
	outline: none;
	padding-left: 4px;
	line-height: 20px;
	margin-top: 1px;
	vertical-align: top;
	max-width: calc(100% - 4px);
	white-space: nowrap;
	overflow: hidden;
	padding-right: 1px;
}

.taginputContainer.tag-container-disabled > #identityNameInput{
	display: none;
}

.taginputContainer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
}

.taginputContainer ul li {
	display: inline-block;
	margin: 1px 2px;
	padding: 0 4px 0 6px;
	background-color: #dde7f5;
	word-break: break-all;
	height: 20px;
	line-height: 20px;
	box-sizing: border-box;
	cursor: default;
	max-width: calc(100% - 4px);
	white-space: nowrap;
}

.taginputContainer.tag-container-disabled li {
	background-color: #cccccc;
}

.taginputContainer.tag-container-disabled {
	overflow: hidden;
}

.taginputContainer li span {
	max-width: calc( 100% - 15px);
	overflow: hidden;
	text-overflow: ellipsis;
	height: 17px;
	white-space: nowrap;
	display: inline-block;
	margin-right: 5px;
}

.taginputContainer li .tag-delete-btn {
	font-size: 16px;
	font-family: Garamond,'Apple Garamond','Lucida Sans Unicode';
	color: #505050;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: -2px;
}
