#bannerPanel {
	height: 30px;
	background: #3e4f66;
	line-height: 30px;
	color: white;
	padding-left: 14px;
	font-weight: bold;
}

#settingsPanel {
	width: 255px;
	position: relative;
	border-right-color: #6c7680;
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #f8f8f8;
}

#gridPanel {
	width: calc(100% - 255px);
}

#centerContainer {
	height: calc(100% - 54px);
}

#bottom {
	height: 24px;
}

#grid {
	height: calc(100% - 30px);
}

.aras-grid-row-image {
	margin: 0px;
	max-height: 24px;
	max-width: 24px;
	vertical-align: bottom;
}

.aras-grid-row-cell__image {
	text-align: center;
}

.mpo-invalid-cell {
	color: #b83b1d;
}

.mpo-settings-module {
	padding: 5px 0 0 5px;
}

.mpo-settings-module-header {
	font-weight: bold;
	margin-left: 10px;
}

.mpo-settings-module-description {
	padding: 5px;
}

.mpo-settings-module-content {
	margin: 2px 0 0 10px;
	width: 240px;
	overflow: hidden;
}

#lifeCycleMap .mpo-settings-module-content {
	margin-top: 0;
}

.mpo-settings-module-transition-comment {
	width: 220px;
	height: 100px;
	margin: 2px 0 0 10px;
}

#lifeCycleMapSelect select {
	width: 198px;
	float: left;
	margin-top: 4px;
}

#targetStateSelect select {
	width: 225px;
}

.claro .dijitComboBox .dijitButtonNode {
	background-color: rgb(54, 104, 177);
	background-image: none;
	height: 19px;
	width: 19px;
}

.claro .dijitComboBox .dijitButtonNode input{
	max-width: 19px;
	max-height: 19px;
	border: none;
	background-position-x: 1px;
	background-position-y: 5px;
}

.claro .dijitComboBox .dijitButtonNode input:hover{
	max-width: 19px;
	max-height: 19px;
	border: none;
	background-position-x: 1px;
	background-position-y: 5px;
}

.claro .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,.claro .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
	background-position-x: 1px;
	background-position-y: 5px;
}


#resolveConflicts .mpo-settings-module-header {
	margin: 5px 0 10px 10px;
}

#resolveConflicts .radiobuttons .aras-form-boolean {
	margin-bottom: 4px;
}

#resolveConflicts #Apply {
	float: right;
	width: 100px;
}

#execute {
	float: left;
	position: absolute;
	bottom: 0px;
	width: 255px;
	padding: 0px;
}

#execute input {
	width: 109px;
}

#status {
	width:226px;
	margin-bottom: 15px;
	margin-left:14px;
	margin-top:8px;
}

#status pre {
	height: 49px;
	width: 214px;
	border: none;
	padding: 0px;
	color: #ced7e5;
	background-color: #78848F;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size:12px;
	line-height:15px;
}

#mpo_statusWrapper {
	padding: 6px 0 0 8px;
	border-left-width: 3px;
	border-left-style: solid;
	background-color: #78848F;
}


#mpo_statusWrapper.errorStatus {
	border-left-color: #e5704f;
}

#mpo_statusWrapper.warningStatus {
	border-left-color: #edc87e;
}

#mpo_statusWrapper.okStatus {
	border-left-color: #00B050;
}

#mpo_statusWrapper.executeStatus {
	border-left-width: 0;
}

.mpo-execute-panel {
	background-color: #6c7680;
}

.mpo-execute-buttons{
	margin-bottom:3px;
	margin-top:15px;
}

.mpo-promoted-cell {
	opacity: 0.5;
}

#cancelButton{
	margin-left:5px;
}

#showLifeCycleMapButton {
	float: left;
}

#apply {
	float: right;
	width: 110px;
	color: #444444;
	background-color: #ffffff;
	border: 1px double #8a8a8a;
	margin-top: 7px;
	margin-right: 15px;
}

#apply:hover {
	color: #3668B1;
	border-color: #3668B1;
}

#bottom #status {
	text-align:center;
} 