.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
.aras-input {
  display: inline-block;
  height: 2.667rem;
  padding: 0.5833rem;
  border: 1px solid #aaaaaa;
  background-color: #fbfbfb;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08) inset, 0 1px 1px rgba(0, 0, 0, 0.16) inset;
  font-size: 1.1667rem;
  color: #333333;
  border-radius: 0.1667rem;
}
.aras-input::placeholder {
  color: #777777;
}
.aras-input:not(:disabled)[readonly] {
  border-color: rgba(170, 170, 170, 0.4);
  background-color: rgba(251, 251, 251, 0.4);
  box-shadow: none;
}
.aras-input:not(:disabled):hover {
  background-color: #ffffff;
  border-color: #999999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08) inset, 0 1px 1px rgba(0, 0, 0, 0.16) inset;
}
.aras-input:not(:disabled):focus {
  outline: 0;
  background-color: #ffffff;
  border-color: #333380;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16) inset, 0 1px 2px rgba(0, 0, 0, 0.24) inset;
}
.aras-input:not(:disabled).aras-input_invalid {
  border-color: #d32f2f;
}
.aras-input:disabled {
  background-color: #fbfbfb;
  border-color: #aaaaaa;
  box-shadow: none;
  opacity: 0.4;
  cursor: default;
}
.aras-input-icon-wrapper {
  position: relative;
}
.aras-input-icon-wrapper .aras-input {
  padding-left: 2.667rem;
}
.aras-input-icon-wrapper .aras-input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.667rem;
  height: 1.667rem;
  margin: 0.5rem;
  pointer-events: none;
}
.filterDialog {
  width: 336px;
  height: 462px;
  outline: none;
}
.aras-button {
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.aras-button[data-state='checked'] {
  background-image: url('../../../../../../Images/CheckboxSelect.svg');
}
.aras-button[data-state='unchecked'] {
  background-image: url('../../../../../../Images/CheckboxUnselect.svg');
}
.aras-button[data-state='indet'] {
  background-image: url('../../../../../../Images/CheckboxIndet.svg');
}
.aras-button[data-filter-control-sort-mode='label'] {
  background-image: url('../../../../../../Images/SortAlphaOff.svg');
}
.aras-button[data-filter-control-sort-mode='count'] {
  background-image: url('../../../../../../Images/SortFreqOff.svg');
}
.filterDialogContentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.filterDialogContentContainer span[disabled] {
  pointer-events: none;
}
.filterDialogContentContainer[data-filter-sort-mode='count'][data-filter-sort-order='desc'] .active {
  background-image: url('../../../../../../Images/SortFreqDescend.svg');
}
.filterDialogContentContainer[data-filter-sort-mode='count'][data-filter-sort-order='asc'] .active {
  background-image: url('../../../../../../Images/SortFreqAscend.svg');
}
.filterDialogContentContainer[data-filter-sort-mode='count'] .filterDialogAlphabeticalLabel {
  visibility: hidden !important;
}
.filterDialogContentContainer[data-filter-sort-mode='label'][data-filter-sort-order='desc'] .active {
  background-image: url('../../../../../../Images/SortAlphaDescend.svg');
}
.filterDialogContentContainer[data-filter-sort-mode='label'][data-filter-sort-order='asc'] .active {
  background-image: url('../../../../../../Images/SortAlphaAscend.svg');
}
.filterDialogAlphabeticalLabel {
  width: 16px;
  color: #999999;
  font-size: 14px;
  margin-right: 8px;
  flex-shrink: 0;
  align-self: baseline;
  line-height: 18px;
  text-align: center;
  visibility: hidden;
}
.filterItemOptionContainer.firstLetterVisible .filterDialogAlphabeticalLabel {
  visibility: visible;
}
.filterDialogOptionsContainer {
  width: 100%;
  display: flex;
  margin-top: 6px;
  overflow-y: auto;
  flex-wrap: nowrap;
  flex-direction: column;
}
.filterDialogOptionLabelText {
  max-width: 226px !important;
}
.aras-button:not([disabled]).active {
  background-color: #e2e6f3;
  border-color: #777a9c;
  box-shadow: none;
}
.filterDialogSearchContainer {
  width: 100%;
}
.filterDialogSearchContainer > * {
  float: left;
  margin-right: 7px;
}
.filterDialogSearchContainer > span:last-child {
  margin-right: 0;
}
.filterDialog2SearchTextBoxContainer {
  position: relative;
}
.filterDialog2SearchTextBoxContainer input {
  width: 192px;
  padding-right: 2.8336rem;
}
.filterDialog2SearchTextBoxContainer aras-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 1.667rem;
  height: 1.667rem;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
.filterDialog2SearchTextBoxContainer aras-dropdown aras-menu {
  margin-top: 5px;
  margin-left: 6px;
}
.filterDialog2SearchTextBoxContainer aras-dropdown [dropdown-button] {
  background-image: url('../../../../../../Images/InputMenu.svg');
  background-size: 1.667rem;
  width: 1.667rem;
  height: 1.667rem;
}
.filterDialog2SearchTextBoxContainer aras-dropdown:hover,
.filterDialog2SearchTextBoxContainer aras-dropdown[open] {
  background-color: #e2e6f3;
}
.filterDialog2SearchTextBoxContainer aras-dropdown:active,
.filterDialog2SearchTextBoxContainer aras-dropdown[open] {
  border: 1px solid #1a237e;
}
.filterDialogBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  margin: 8px -12px 0 -12px;
  padding: 0 12px;
  color: #333333;
  background-color: #fef7af;
}
.filterDialogBannerLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.filterDialogBannerButton {
  flex-shrink: 0;
  margin-left: 4px;
  cursor: pointer;
  color: #0d47a1;
  text-decoration: underline;
  -moz-user-select: none;
       user-select: none;
}
.hidden {
  display: none !important;
}
.filtersPanelTextBox::-ms-clear,
.filterDialog2SearchTextBox::-ms-clear {
  width: 0;
  height: 0;
  display: none !important;
}
.es-message {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.es-message.info {
  color: #1b1b98;
  padding: 25px 0;
}
.filterTooltipItem {
  font-family: 500 0.83333333rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  font-weight: 500;
}
.claro .dijitTooltipConnector {
  background-image: url('../../../../../../Images/TooltipArrow.svg');
}
