/*Created with Adobe RoboHelp 10.*/
body {
  font-family: Arial;
  background-color: #ffffff;
  counter-reset: p\.note_indented p\.figure_title p\.figure_indented p\.warning_paragraph;
}

h1 {
  font-size: 18pt;
  background-color: #dde5f4;
  color: #000000;
  font-weight: bold;
  font-family: Arial;
  x-next-class: Content_body;
  x-next-type: p;
}

h2 {
  font-weight: bold;
  color: #000000;
  font-family: Arial;
  font-size: 16pt;
  x-next-class: Content_body;
  x-next-type: p;
}

h3 {
  font-weight: bold;
  font-size: 14.0pt;
}

h4 {
  font-weight: bold;
  font-size: 12.0pt;
}

h5 {
  font-weight: bold;
  font-size: 10.0pt;
}

h6 {
  font-weight: bold;
  font-size: 8.0pt;
}

p {
  font-size: 12.0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

a {
  color: #0000ff;
  font-size: 10pt;
  display: inline;
  font-family: Arial;
  text-decoration: underline;
}

a.expandspot {
  color: #008000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}

span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}

a.dropspot {
  cursor: hand;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}

a.glossterm {
  color: #800000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}

span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}

ol,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.Content_body {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 12pt;
  font-family: Arial;
  x-next-class: Content_body;
  x-next-type: p;
}

img.Image {
  border-left-style: Solid;
  border-left-width: 1px;
  border-right-style: Solid;
  border-right-width: 1px;
  border-top-style: Solid;
  border-top-width: 1px;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-left-color: #000000;
  border-right-color: #000000;
  border-top-color: #000000;
  border-bottom-color: #000000;
  float: none;
  margin-left: 0pt;
}

p.Note {
  border-top-style: Solid;
  border-bottom-style: Solid;
  background-color: #dddddd;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 10pt;
  line-height: 150%;
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-weight: bold;
  font-family: Arial;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

p.Figure_title {
  font-size: 10pt;
  margin-top: 3pt;
  margin-bottom: 12pt;
  font-family: Arial;
  x-next-class: Content_body;
  x-next-type: p;
}

p.Numbered {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-family: Arial;
  font-size: 12pt;
  text-indent: -0.25in;
  margin-left: 0.75in;
}

p.Bulleted_list {
  font-size: 12pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  font-family: Arial;
  text-indent: -0.25in;
  margin-left: 0.319in;
}

span.rls-1-Bullet_list {
  font-size: 10pt;
  font-family: Arial;
}

span.rls-2-Bullet_list {
  font-size: 10pt;
  font-family: Arial;
}

span.rls-3-Bullet_list {
  font-size: 10pt;
  font-family: Arial;
}

span.rls-1-Numbered_list {
  font-size: 10pt;
  font-family: Arial;
}

span.rls-2-Numbered_list {
  font-size: 10pt;
  font-family: Arial;
}

p.Procedure_Title {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 11pt;
  font-family: Arial;
  font-weight: bold;
}

p.Content_body_indented {
  font-size: 10pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-family: Arial;
  margin-left: 0.52in;
}

table.Aras_Table {
  font-family: Tahoma;
  x-1st-row: 1;
  border-left-style: Solid;
  border-left-width: 1px;
  border-left-color: #dddddd;
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #dddddd;
  border-top-style: Solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  font-size: 10pt;
}

table.AlternateBlueWithBlankHeader {
  padding: 0px;
  x-border-spacing: 0px;
  x-row-pat-count: 2;
  x-1st-row: 1;
}

rh-seq.Note {}

p.Figure_indented {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 10pt;
  font-family: Arial;
  margin-left: 0.52in;
}

table.AlternateBlueColorGrid {
  x-border-spacing: 0px;
  x-row-pat-count: 2;
  border-left-style: Solid;
  border-left-width: 1px;
  border-left-color: #4F81BD;
  border-top-style: Solid;
  border-top-width: 1px;
  border-top-color: #4F81BD;
}

table.Aras_Blue {
  font-family: Tahoma;
  font-size: 10pt;
  x-border-spacing: 0px;
  x-1st-row: 1;
  border-left-style: Solid;
  border-right-style: Solid;
  border-top-style: Solid;
  border-bottom-style: Solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-color: #c0c0c0;
  border-right-color: #c0c0c0;
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
  margin-left: 0.5in;
}

span.Bold {
  font-size: 10pt;
  font-weight: bold;
  font-family: Arial;
}

p.Table_Body {
  font-size: 10pt;
  margin-left: 3pt;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Arial;
}

p.Table_header {
  color: #545454;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Arial;
}

p.Copyright_footer {}

span.rls-4-Bullet_list {
  font-family: Arial;
  font-size: 10pt;
}

span.rls-3-Numbered_list {
  font-family: Arial;
  font-size: 10pt;
}

p.Note_indented {
  border-top-style: Solid;
  border-bottom-style: Solid;
  background-color: #dddddd;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 10pt;
  line-height: 150%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-weight: bold;
  font-family: Arial;
  margin-left: 0.52in;
}

span.Code {
  font-family: Courier;
  font-size: 10pt;
}

p.Code_Sample {
  font-family: Courier;
  font-size: 10pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}

p.Warning_paragraph {
  font-size: 10pt;
  border-top-style: Solid;
  border-top-width: 1px;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-top-color: #ff0000;
  border-bottom-color: #ff0000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8pt;
  margin-bottom: 8pt;
  text-indent: -0in;
  margin-left: 0in;
}

span.rls-1-Warning_Black {
  font-family: Arial;
  font-size: 10pt;
  color: #ff0000;
  font-weight: bold;
}

span.rls-2-Warning_Black_Indented {
  font-family: Arial;
  font-size: 10pt;
  color: #ff0000;
  font-weight: bold;
}

ol.rl-p-Note {
  list-style: none;
  counter-reset: item1;
  padding-left: 35.5px;
  margin-left: 4.5px;
}

ol.rl-p-Note>li {
  position: relative;
}

ol.rl-p-Note>li:before {
  counter-increment: item1;
  content: "Note:";
  text-align: right;
  position: absolute;
  left: -39.5px;
  margin-right: 4px;
  width: 35.5px;
  overflow: hidden;
}

ol.rl-p-Figure_title {
  list-style: none;
  counter-reset: item1;
  padding-left: 71.8px;
  margin-left: -31.8px;
}

ol.rl-p-Figure_title>li {
  position: relative;
}

ol.rl-p-Figure_title>li:before {
  counter-increment: item1;
  content: "Figure "counter(item1, decimal)"";
  text-align: right;
  position: absolute;
  left: -75.8px;
  margin-right: 4px;
  width: 71.8px;
  overflow: hidden;
}

ol.Bullet_list {
  list-style: none;
  counter-reset: item1;
  padding-left: 26.0px;
  margin-left: 24px;
}

ol.Bullet_list>li {
  position: relative;
}

ol.Bullet_list>li:before {
  counter-increment: item1;
  content: counter(item1, disc)"";
  font-size: 10pt;
  font-family: Arial;
  text-align: right;
  position: absolute;
  left: -30px;
  margin-right: 4px;
  width: 26.0px;
  overflow: hidden;
}

ol.Bullet_list>li>ol {
  list-style: none;
  counter-reset: item2;
  padding-left: 26.0px;
  margin-left: 4px;
}

ol.Bullet_list>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, circle)"";
  font-size: 10pt;
  font-family: Arial;
  text-align: right;
  position: absolute;
  left: -56px;
  margin-right: 30px;
  width: 26.0px;
  overflow: hidden;
}

ol.Bullet_list>li>ol>li>ol {
  list-style: none;
  counter-reset: item3;
  padding-left: 26.0px;
  margin-left: -6px;
}

ol.Bullet_list>li>ol>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, square)"";
  font-size: 10pt;
  font-family: Arial;
  text-align: right;
  position: absolute;
  left: -30px;
  margin-right: 4px;
  width: 26.0px;
  overflow: hidden;
}

ol.Bullet_list>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item4;
  padding-left: 36.7px;
  margin-left: -76.7px;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  font-family: Arial;
  font-size: 10pt;
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item7;
  padding-left: 30.0px;
  margin-left: -10px;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item7;
  content: counter(item7, decimal)".";
  text-align: right;
  position: absolute;
  left: -34px;
  margin-right: 4px;
  width: 30.0px;
  overflow: hidden;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item8;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item8;
  content: counter(item8, lower-alpha)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item9;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Bullet_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item9;
  content: counter(item9, lower-roman)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

ol.Numbered_list {
  list-style: none;
  counter-reset: item1;
  padding-left: 30.0px;
  margin-left: 20px;
}

ol.Numbered_list>li {
  position: relative;
}

ol.Numbered_list>li:before {
  counter-increment: item1;
  content: counter(item1, decimal)".";
  font-size: 10pt;
  font-family: Arial;
  text-align: right;
  position: absolute;
  left: -34px;
  margin-right: 4px;
  width: 30.0px;
  overflow: hidden;
}

ol.Numbered_list>li>ol {
  list-style: none;
  counter-reset: item2;
  padding-left: 30.0px;
  margin-left: 0px;
}

ol.Numbered_list>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, lower-alpha)".";
  font-size: 10pt;
  font-family: Arial;
  text-align: right;
  position: absolute;
  left: -60px;
  margin-right: 30px;
  width: 30.0px;
  overflow: hidden;
}

ol.Numbered_list>li>ol>li>ol {
  list-style: none;
  counter-reset: item3;
  padding-left: 30.0px;
  margin-left: -10px;
}

ol.Numbered_list>li>ol>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, lower-roman)".";
  font-family: Arial;
  font-size: 10pt;
  text-align: right;
  position: absolute;
  left: -50px;
  margin-right: 20px;
  width: 30.0px;
  overflow: hidden;
}

ol.Numbered_list>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item4;
  padding-left: 30.0px;
  margin-left: -70px;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: counter(item4, lower-alpha)".";
  text-align: right;
  position: absolute;
  left: -34px;
  margin-right: 4px;
  width: 30.0px;
  overflow: hidden;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item7;
  padding-left: 30.0px;
  margin-left: -10px;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item7;
  content: counter(item7, decimal)".";
  text-align: right;
  position: absolute;
  left: -34px;
  margin-right: 4px;
  width: 30.0px;
  overflow: hidden;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item8;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item8;
  content: counter(item8, lower-alpha)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item9;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Numbered_list>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item9;
  content: counter(item9, lower-roman)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

ol.rl-p-Warning {
  list-style: none;
  counter-reset: item1;
  padding-left: 59.1px;
  margin-left: -19.1px;
}

ol.rl-p-Warning>li {
  position: relative;
}

ol.rl-p-Warning>li:before {
  counter-increment: item1;
  content: "Warning:";
  font-size: 10pt;
  font-weight: bold;
  font-family: Arial;
  text-align: right;
  position: absolute;
  left: -63.1px;
  margin-right: 4px;
  width: 59.1px;
  overflow: hidden;
}

ol.rl-p-Figure_indented {
  list-style: none;
  counter-reset: item1;
  padding-left: 71.8px;
  margin-left: -31.8px;
}

ol.rl-p-Figure_indented>li {
  position: relative;
}

ol.rl-p-Figure_indented>li:before {
  counter-increment: item1;
  content: "Figure "counter(item1, decimal)"";
  text-align: right;
  position: absolute;
  left: -75.8px;
  margin-right: 4px;
  width: 71.8px;
  overflow: hidden;
}

ol.Warning_Black {
  list-style: none;
  counter-reset: item1;
  padding-left: 59.1px;
  margin-left: -19.1px;
}

ol.Warning_Black>li {
  position: relative;
}

ol.Warning_Black>li:before {
  counter-increment: item1;
  content: "Warning:";
  font-family: Arial;
  font-size: 10pt;
  color: #ff0000;
  font-weight: bold;
  text-align: right;
  position: absolute;
  left: -63.1px;
  margin-right: 4px;
  width: 59.1px;
  overflow: hidden;
}

ol.Warning_Black>li>ol {
  list-style: none;
  counter-reset: item2;
  padding-left: 31.4px;
  margin-left: -11.4px;
}

ol.Warning_Black>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: -35.4px;
  margin-right: 4px;
  width: 31.4px;
  overflow: hidden;
}

ol.Warning_Black>li>ol>li>ol {
  list-style: none;
  counter-reset: item3;
  padding-left: 31.4px;
  margin-left: -11.4px;
}

ol.Warning_Black>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -35.4px;
  margin-right: 4px;
  width: 31.4px;
  overflow: hidden;
}

ol.Warning_Black>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item4;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item7;
  padding-left: 30.0px;
  margin-left: -10px;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item7;
  content: counter(item7, decimal)".";
  text-align: right;
  position: absolute;
  left: -34px;
  margin-right: 4px;
  width: 30.0px;
  overflow: hidden;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item8;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item8;
  content: counter(item8, lower-alpha)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item9;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item9;
  content: counter(item9, lower-roman)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

ol.rl-p-Warning_paragraph {
  list-style: none;
  counter-reset: item1;
  padding-left: 59.1px;
  margin-left: -19.1px;
}

ol.rl-p-Warning_paragraph>li {
  position: relative;
}

ol.rl-p-Warning_paragraph>li:before {
  counter-increment: item1;
  content: "Warning:";
  text-align: right;
  position: absolute;
  left: -63.1px;
  margin-right: 4px;
  width: 59.1px;
  overflow: hidden;
}

ol.Warning_Black_Indented {
  list-style: none;
  counter-reset: item1;
  padding-left: 59.1px;
  margin-left: -9.1px;
}

ol.Warning_Black_Indented>li {
  position: relative;
}

ol.Warning_Black_Indented>li:before {
  counter-increment: item1;
  content: "Warning:";
  font-family: Arial;
  font-size: 10pt;
  color: #ff0000;
  font-weight: bold;
  text-align: right;
  position: absolute;
  left: -63.1px;
  margin-right: 4px;
  width: 59.1px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol {
  list-style: none;
  counter-reset: item2;
  padding-left: 63.1px;
  margin-left: -73.1px;
}

ol.Warning_Black_Indented>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li:before {
  counter-increment: item2;
  content: "Warning: ";
  font-family: Arial;
  font-size: 10pt;
  color: #ff0000;
  font-weight: bold;
  text-align: right;
  position: absolute;
  left: -67.1px;
  margin-right: 4px;
  width: 63.1px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol>li>ol {
  list-style: none;
  counter-reset: item3;
  padding-left: 31.4px;
  margin-left: 8.6px;
}

ol.Warning_Black_Indented>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -35.4px;
  margin-right: 4px;
  width: 31.4px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item4;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 36.7px;
  margin-left: -16.7px;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item7;
  padding-left: 30.0px;
  margin-left: -10px;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item7;
  content: counter(item7, decimal)".";
  text-align: right;
  position: absolute;
  left: -34px;
  margin-right: 4px;
  width: 30.0px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item8;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item8;
  content: counter(item8, lower-alpha)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item9;
  padding-left: 30.5px;
  margin-left: -10.5px;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.Warning_Black_Indented>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item9;
  content: counter(item9, lower-roman)":";
  text-align: right;
  position: absolute;
  left: -34.5px;
  margin-right: 4px;
  width: 30.5px;
  overflow: hidden;
}

p.Note::before {
  counter-increment: p\.note;
  content: "Note:";
  margin-right: 0.5rem;
}

p.Figure_title::before {
  counter-increment: p\.figure_title;
  content: "Figure "counter(p\.figure_title, decimal)"";
  margin-right: 0.5rem;
}

p.Figure_indented::before {
  counter-increment: p\.figure_indented;
  content: "Figure "counter(p\.figure_indented, decimal)"";
  margin-right: 0.5rem;
}

p.Note_indented::before {
  counter-increment: p\.note_indented;
  content: "Note:";
  margin-right: 0.5rem;
}

p.Warning_paragraph::before {
  counter-increment: p\.warning_paragraph;
  content: "Warning:";
  margin-right: 0.5rem;
}

table.Aras_Table tr:first-child td {
  font-family: Tahoma;
  background-color: #dddddd;
  font-size: 10pt;
}

table.AlternateBlueWithBlankHeader td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

table.AlternateBlueWithBlankHeader tr:nth-child(2n+1) td {
  font-family: "Times New Roman";
  font-size: 12pt;
  background-color: NewColor2;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
}

table.AlternateBlueWithBlankHeader tr:nth-child(2n+2) td {
  background-color: #D3DFEE;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
}

table.AlternateBlueWithBlankHeader tr:first-child td {
  font-family: "Times New Roman";
  font-size: 12pt;
  font-weight: bold;
  border-top-style: Solid;
  border-top-width: 2px;
  border-top-color: #0000ff;
  border-bottom-style: Solid;
  border-bottom-width: 2px;
  border-bottom-color: #0000ff;
}

table.AlternateBlueColorGrid td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

table.AlternateBlueColorGrid tr:nth-child(2n+1) td {
  font-family: "Times New Roman";
  font-size: 12pt;
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #4F81BD;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
}

table.AlternateBlueColorGrid tr:nth-child(2n+2) td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #4F81BD;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
  background-color: #D3DFEE;
}

table.Aras_Blue td {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

table.Aras_Blue tr:first-child td {
  font-family: Tahoma;
  font-size: 10pt;
  font-weight: bold;
  background-color: #dde5f4;
  color: #545454;
}

ul.Disc {
  list-style-type: disc;
}

ol.Decimal {
  list-style-type: decimal;
}

ol.UpperAlpha {
  list-style-type: upper-alpha;
}

ol.LowerAlpha {
  list-style-type: lower-alpha;
}

ul.Circle {
  list-style-type: circle;
}