/* This styles is responsible for expanding of the rule editor iframe and
removing paddings to the all fieldsets inside 'effs_expression'
form when it's opened in the EffectivityExpressionEditor view */

div[name='effs_scope_id'] {
	top: 0px !important;
	left: 0px !important;
}

div[name='effs_scope_id'] > fieldset,
div[name='rule_editor'] > fieldset {
	padding: 0;
}

div[name='rule_editor'],
div[name='definition'] {
	top: 47px !important;
	left: 0px !important;
}

div[name='rule_editor'] .effs-definition-editor__source-frame {
	width: 100% !important;
	height: calc(100% - 2 * 33px) !important;
	position: fixed;
}
