.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
body#addPropertiesDialog,
body#addPropertiesWarnDialog {
  display: flex;
  flex-direction: column;
}
body#addPropertiesDialog #dialogContent,
body#addPropertiesWarnDialog #dialogContent {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  margin: 0 16px 0 16px;
}
body#addPropertiesDialog #dialogContent > *:not(:last-child),
body#addPropertiesWarnDialog #dialogContent > *:not(:last-child) {
  margin-right: 16px;
}
body#addPropertiesDialog #buttonsContainer,
body#addPropertiesWarnDialog #buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 16px 16px 16px;
}
body#addPropertiesDialog #buttonsContainer > .aras-button,
body#addPropertiesWarnDialog #buttonsContainer > .aras-button {
  min-width: 80px;
}
body#addPropertiesDialog #buttonsContainer > .aras-button:not(:first-child),
body#addPropertiesWarnDialog #buttonsContainer > .aras-button:not(:first-child) {
  margin-left: 8px;
}
body#addPropertiesDialog #buttonsContainer > .aras-button .aras-button__text,
body#addPropertiesWarnDialog #buttonsContainer > .aras-button .aras-button__text {
  width: 100%;
  font-weight: bold;
}
body#addPropertiesDialog .hidden,
body#addPropertiesWarnDialog .hidden {
  display: none !important;
}
body#addPropertiesDialog .subtitle {
  font: 500 1.166667rem / 1.2 Roboto, 'Noto Sans JP', Arial, sans-serif;
  margin-bottom: 8px;
}
body#addPropertiesDialog #availablePropsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
body#addPropertiesDialog #availablePropsContainer > .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
body#addPropertiesDialog #availablePropsContainer #searchSpinner {
  border: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: white;
}
body#addPropertiesDialog #availablePropsContainer #gridToolbar {
  margin-bottom: 12px;
}
body#addPropertiesDialog #availablePropsContainer #gridToolbar .aras-grid-head-cell:first-child {
  border-left: 1px solid #aaaaaa;
}
body#addPropertiesDialog #availablePropsContainer #gridToolbar .aras-grid-search-row-cell:first-child {
  border-left: 1px solid #cccccc;
}
body#addPropertiesDialog #availablePropsContainer #gridToolbar .aras-grid-row {
  border-left: 1px solid #dddddd;
}
body#addPropertiesDialog #selectedPropsContainer {
  display: flex;
  flex-direction: column;
}
body#addPropertiesDialog #selectedPropsContainer .listbox {
  flex-grow: 1;
  width: 256px;
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  border: #aaaaaa 1px solid;
  border-radius: 2px;
}
body#addPropertiesDialog #selectedPropsContainer .propItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body#addPropertiesDialog #selectedPropsContainer .propItem .propItemLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body#addPropertiesDialog #selectedPropsContainer .propItem:not(:last-child) {
  margin-bottom: 8px;
}
body#addPropertiesDialog #selectedPropsContainer .propItem .aras-button {
  border-radius: 16px;
}
body#addPropertiesWarnDialog #warnIcon {
  width: 48px;
  height: 48px;
}
body#addPropertiesWarnDialog #warnMessage {
  font: 500 1rem / 1.2 Roboto, 'Noto Sans JP', Arial, sans-serif;
}
body#addPropertiesWarnDialog #acceptButton {
  width: 192px;
  background-color: #d32f2f;
}
body#serviceGroupLegend ul.aras-list {
  list-style: none;
  padding: 0 16px 16px;
}
body#serviceGroupLegend ul.aras-list li.aras-list-item {
  font: 500 1.166667rem / 1.2 Roboto, 'Noto Sans JP', Arial, sans-serif;
  padding: 0;
}
body#serviceGroupLegend ul.aras-list li.aras-list-item.aras-list-item:hover {
  background-color: #ffffff;
  cursor: default;
}
body#serviceGroupLegend ul.aras-list li.aras-list-item:before {
  content: '';
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}
body#serviceGroupLegend ul.aras-list li.aras-list-item.circle-green:before {
  background-color: #a5d6a7;
}
body#serviceGroupLegend ul.aras-list li.aras-list-item.circle-red:before {
  background-color: #ef9a9a;
}
body#serviceGroupLegend ul.aras-list li.aras-list-item.circle-yellow:before {
  background-color: #ffcc80;
}
