<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../styles/default.css" />
	<link rel="stylesheet" type="text/css" href="../../../styles/common.min.css" />
	<link rel="stylesheet" href="../Styles/filterViewer.css" />
</head>
<body>
	<div class="max-visible-children">
		<label></label>
		<input type="text">
	</div>
	<div class="filter-viewer-content">
		<div id="filter-viewer__grid"></div>
	</div>
	<div class="button_wrapper">
		<button class="aras-btn"></button>
		<button class="aras-btn btn_cancel"></button>
	</div>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules"></script>
	<script src='../Scripts/Viewer/FilterViewerFormatters.js'></script>
	<script src='../Scripts/Viewer/filterViewer.js'></script>
	<script>
		window.dialogArguments = window.frameElement.dialogArguments;
		new FilterViewer();
	</script>
</body>
</html>