/*Created with Adobe RoboHelp 2017.*/
BODY {
	font-family: Arial;
	background-color: #ffffff;
}
H1 {
	font-weight: bold;
	font-size: 24.0pt;
}
LI.h1 {
	font-weight: bold;
	font-size: 24.0pt;
}
H2 {
	font-weight: bold;
	font-size: 18.0pt;
}
LI.h2 {
	font-weight: bold;
	font-size: 18.0pt;
}
H3 {
	font-weight: bold;
	font-size: 14.0pt;
}
LI.h3 {
	font-weight: bold;
	font-size: 14.0pt;
}
H4 {
	font-weight: bold;
	font-size: 12.0pt;
}
LI.h4 {
	font-weight: bold;
	font-size: 12.0pt;
}
H5 {
	font-weight: bold;
	font-size: 10.0pt;
}
LI.h5 {
	font-weight: bold;
	font-size: 10.0pt;
}
H6 {
	font-weight: bold;
	font-size: 8.0pt;
}
LI.h6 {
	font-weight: bold;
	font-size: 8.0pt;
}
P {
	font-size: 12.0pt;
	margin-bottom: 0pt;
	margin-top: 9pt;
	font-weight: normal;
	font-style: normal;
}
LI.p {
	font-size: 12.0pt;
	font-weight: normal;
	font-style: normal;
}
A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
P.Note {
	background-color: #639ace;
}
LI.p-Note {
}
P.Tip {
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	border-bottom-style: None;
	background-color: #cccc99;
}
LI.p-Tip {
}
P.InstructionFirst {
	margin-top: 14pt;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
}
LI.p-InstructionFirst {
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
}
P.InstructionList {
	list-style: decimal;
	margin-left: 18pt;
	margin-top: 4.5pt;
}
LI.p-InstructionList {
	list-style: decimal;
}
