@{
	Layout = "../../aras.innovator.core.ItemWindow/Views/Shared/_cuiTabItemViewLayout.cshtml";
}
@section extra_header
{
	<style>
		body {
			font-size: 12px;
			line-height: 1.4;
		}
	</style>
	<link rel="stylesheet" href="@Url.ContentWithSalt("~/javascript/include.aspx?classes=toolbarElements.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.ContentWithSalt("~/styles/queryBuilder.css")"></link>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.QueryBuilder/Scripts/queryBuilderView.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.QueryBuilder/Scripts/queryBuilder.js")"></script>
}
@section editor
{
	<div data-dojo-type="Controls/Tab" id="QueryBuilderEditorContainer">
	</div>
}
