#grid {
	height: 100% !important;
	border: 0px none !important;
	word-wrap: break-word;
}

#centerLayout {
	border: 1px solid #aaa;
	border-top: none;
	border-bottom: none;
}

.dgrid-header .dgrid-cell {
	text-align: center;
	vertical-align: middle;
	font-weight:100;
}

.dgrid-content .dgrid-cell {
	text-align: center;
	vertical-align: middle;
}

.dgrid-content .dgrid-cell span {
	text-decoration: inherit;
}

#grid .dgrid-content .dgrid-cell {
    height: 20px;
}

#grid .emptyCell {
  background-color: #EEE !important;
}

#grid .editableCell {
	background-color: #d1e9cd !important;
}

#grid td.dgrid-related-cell {
	background-color: #fefad4 !important
}

#grid td.dgrid-focus {
	background-color: #fcec9f !important
}

#grid .found {
	background-color: gold
}

#grid .currentFound {
	background-color: greenyellow
}

#grid .dgrid-row:hover {
	background-color: transparent;
}

#grid td.referenced, #grid td.stale-reference, #grid td.missed-reference, #grid td.non-tracking-reference {
	background-position: top right;
	position: relative;
}

#grid td.referenced div.binding-area {
	background-image: url(../Images/blue-dot.svg);
}

#grid td.stale-reference div.binding-area {
	background-image: url(../Images/orange-dot.svg);
}

#grid td.missed-reference div.binding-area {
	background-image: url(../Images/red-dot.svg);
}

#grid td.non-tracking-reference div.binding-area {
	background-image: url(../Images/grey-dot.svg);
}

#grid td div.binding-area {
	background-repeat: no-repeat;
	height: 10px; 
	width: 10px;
	background-color: transparent;
	position: absolute;
	top: 0px;
	right: 0px;
}

#listCellEditorInput .dgrid-row-odd {
	background: #F2F5F9;
}

#listCellEditorInput .dgrid-row:hover {
	background: #fefad4;
}

.claro .dgrid-selected {
	background: #fcec9f !important;
}

.dgrid-row-table {
	width: 0px;
    border-collapse: separate;
}

.claro .dgrid-header {
	background: transparent;
}

.claro .dgrid-header .dgrid-cell:hover {
	background: transparent
}

#grid #grid-header, #listCellEditorInput .dgrid-header {
	background-color: rgba(38,108,194,1);
	color: white;
	font-weight: 100;
}

.lowHeader {
	background-color: rgba(102,151,210,1);
	color: white;
}

#grid span {
	/*font-weight: 100;*/
}

#grid pre {
	font-family: inherit;
	white-space: pre-wrap;
	margin: inherit;
	text-decoration: inherit;
}

#grid .restricted {
	background-image: url("../images/restricted.svg");
	background-repeat: repeat;
}

#grid .alternative_permission {
	border: 1px dashed #b8391d;
	font: italic 12px Tahoma;
	color: #444444;
}

#dateCellEditor .calendar {
	background-image: url("../../../images/calendar.svg");
	width: 20px;
	height: 20px;
	max-height: 20px;
	max-width: 20px;
	background-size: 20px 20px;
	background-position: 0px 0px;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	vertical-align: bottom;
}

#dateCellEditor .dijitArrowButton {
	height: 18px !important;
}

#dateCellEditor #dateCellEditorInput {
	height: 14px;
}

#dateCellEditor .dijitValidationTextBoxError .dijitValidationContainer {
 	height: 14px;
}

#dateCellEditor .calendar:hover {
	background-image: url("../../../images/calendar-hover.svg");
}

#dateCellEditor .dijitArrowButtonInner {
	display: none;
}

.dijitSpinner .dijitSpinnerButtonContainer, .dijitComboBox .dijitArrowButtonContainer {
	border: transparent;
}

#dateCellEditorInput::-ms-clear { display: none; }

#comboCellEditorInput::-ms-clear { display: none; }

html, body {
	height: 100%;
	overflow: hidden;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #444444;
	position: fixed;
	width: 100%;
}
 
#appLayout {
    height: 100%;
}

textarea {
	/*used for popup text area, for collapsed tooltips*/
	border: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 0em;
	width: 100%;
	min-height: 20px !important;
	padding: 2px !important;
}

table {
  border-width: 1px;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: solid;
  font-size: 12px;
}

.dijitSelectLabel, .dijitMenuItem[role="listitem"] {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    line-height: 13px;
}

.cmfMenuItemIcon {
	height: 16px;
	width: 16px;
	max-height: 16px;
	max-width: 16px;
	background-position: 0 0;
	background-size: 16px 16px;
}

.claro .dijitTreeRowSelected, .claro .dijitTreeRowHover {
	background-color: #DDE7F5;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-image: none;
}

.claro .dijitMenu {
	border: 1px solid #505050;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.claro .dijitPopup .dijitMenuItem{
	height: 26px;
	color: #444444;
}

.dijitMenuItemLabel {
	color: #444444;
}

/*media screen*/
.claro .dijitSelect, .claro .dijitSelect .dijitButtonContents, .claro .dijitTextBox, .claro .dijitTextBox .dijitButtonNode, #stringCellEditorInput {
	border-color: #505050 !important;
}

#stringCellEditorInput {
	border: 1px solid #505050;
}

.claro .dijitToolbar {
	height: 29px;
}

.claro .dijitTooltipContainer {
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border: 1px solid #505050 !important;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4) !important;
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.4) !important;
	font-family: Tahoma;
	font-size: 12px;
	color: #444444;
	padding: 4px;
}

.dijitTextBox .dijitInputField {
	padding: 0;
}

.dijitTooltipContents .dijitTooltipFocusNode {
	min-height: 18px;
	color: #444444;
	padding: 0;

}

.dijitTooltipContainer .dijitTooltipFocusNode {
	padding: 0;
}

.claro .dijitInputInner, .claro .dijitTextBox {
	color: #444444;
	padding: 0;
}

.claro .dijitTooltipFocusNode {
	padding: 0px;
}

.dijitTooltipContainer .dgrid {
	overflow: visible;
}

.dijitTooltipContainer .dgrid-scroller {
	overflow-y: auto;
	position: relative;
}

div.dijitTooltipContainer pre {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

.dijitArrowButtonInner:hover {
	background: url("../../../images/dropdown-hover.svg") !important;
	background-size: 18px 18px !important;
}

.dijitArrowButtonInner {
	background: url("../../../images/dropdown-arrow.svg") !important;
	height: 18px !important;
	width: 18px !important;
	border: none !important;
	background-size: 18px 18px !important;
	padding: 0px 2px!important;
}

.dijitTextBox input.dijitArrowButtonInner {
	height: 18px !important;
}

.claro .dijitTooltipConnector {
	background-image: url("../Images/tooltip-grey.png") !important;
}

.claro .dijitTooltipABRight .dijitTooltipConnector {
	right: 7px;
}

.claro .dgrid-cell {
	border-color: #CCCCCC;
	border-left-style: none;
	border-top-style: none;
}

.dijitTooltipDialog .dijitButtonNode {
	height: 18px;
}

#intCellEditorInput {
	height: 14px;
}

.dijitMenuItemHover, .dijitMenuItemSelected {
	background: #DDE7F5 !important;
	border-color: transparent !important;
}

.claro .dijitMenu .dijitMenuItemSelected td, .claro .dijitComboBoxMenu .dijitMenuItemSelected {
	background: #DDE7F5 !important;
	border-color: transparent !important;
}

#comboCellEditorInput {
	height: 14px;
}

.dijitTreeRow .dijitTreeExpando {
	background-position: 0 0 !important;
	background-repeat: no-repeat;
	background-size: 13px auto;
	height: 13px;
	margin: 2px 2px 2px 7px;
	width: 13px;
}

.claro .dijitTreeExpando {
	background-image: url("../../../images/minus.svg");
}

.claro .dijitTreeExpandoClosed {
	background-image: url("../../../images/plus.svg");
}

.dijitTreeRow .dijitTreeExpando.dijitTreeExpandoLeaf {
	background-image: none;
}

#grid td   {
	border-left-style: none;
	border-top-style: none;
}


#grid td.candidate {
	font-style: italic;
	color: #B9B9B9;
	font-size: 12px;
	border: 1px solid #40825e;
}

#grid td.flagged {
	border: 1px solid #b83a1d;
    font-size: 12px;
    font-style: italic;
    color: #b83a1d;
}

.smm-container {
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    background-position-x: center;
    background-position-y: center;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin-bottom: 2px;
	margin-top: 2px;
	margin-right: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.smm-candidate-in-tree {
	font-style: italic;
	color: #B3B3B3;
	font-size: 12px;
}

.smm-flagged-in-tree {
    font-size: 12px;
    font-style: italic;
    color: #b83a1d;
}

.smm-candidate {
	background-image: url(../Images/candidate.svg);
}

.smm-flagged {
	background-image: url(../Images/flagged.svg);
}
.dijitPopup[aria-label='listCellEditor'] {
	overflow-y: visible !important;
}