#find {
	display: none;
	margin-top: 5px;
	margin-right: 8px;
}

#find #txtBoxFind {
	width: 127px;
	height: 17px;
	padding-right: 16px !important;
	padding-left: 4px !important;
	border: 1px #505050 solid;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	font-family: tahoma;
	font-size: 11px;
	color: #444444;
	box-sizing: border-box;
}

#find .cleanable.x {
	background: url("../../../images/Close.svg") no-repeat right 0px center;
	border: 1px solid #999;
	padding: 3px 18px 3px 4px;
	border-radius: 3px;
}

#find .cleanable.onX { cursor: pointer; }

#find #txtBoxFind::-ms-clear {
	display: none;
}

#find #txtBoxFind:-ms-input-placeholder {
	font-family: tahoma;
	font-size: 11px;
	color: #828282;
	font-style: italic;
}

#find #txtBoxFind:-moz-placeholder {
	font-family: tahoma;
	font-size: 11px;
	font-style: italic;
	color: #828282;
}

#find #lblTotal {
	font-size: 12px;
	margin-right: 5px;
	vertical-align: middle;
	color: #444444;
	font-family: tahoma;
}

#find #btnUp {
	background: url("../../../images/FindPrevious.svg") no-repeat;
	background-size: 17px 17px;
	background-position: center center;
	height: 19px;
	width: 19px;
	border-top: 1px solid #505050 !important;
	border-bottom: 1px solid #505050 !important;
	border-right: 1px solid #505050 !important;
	border-left: none !important;
	vertical-align: middle;
	margin: 0px !important;
}

#find #btnDown {
	background: url("../../../images/FindNext.svg") no-repeat;
	background-size: 17px 17px;
	background-position: center center;
	height: 19px;
	width: 19px;
	border-top: 1px solid #505050 !important;
	border-bottom: 1px solid #505050 !important;
	border-right: 1px solid #505050 !important;
	border-left: none !important;
	vertical-align: middle;
	margin: 0px !important;
}