#Chart_InnovatorTab, #Chart2_InnovatorTab {
	padding-left: 15px;
}

#Chart_InnovatorTab table, #Chart2_InnovatorTab table {
	border-collapse: collapse;
}

#Chart_InnovatorTab table td, #Chart2_InnovatorTab table td {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.breadcrumb-tr-like {
	position: relative;
}

.breadcrumb-tr-like .breadcrumb-container {
	position: relative;
	top: 0px;
	overflow: visible;
	width: 0px;
	white-space: nowrap;
}