.iz-table-require-row td:first-child, .iz-table-logic-row td:first-child {
	min-width: 70px;
}

#Filters_InnovatorTab .iz-table-filters tbody tr:last-child {
	display: none;
}

#Filters_InnovatorTab .iz-table-filters thead th:nth-child(2) {
	min-width: 70px;
}

#Filters_InnovatorTab .iz-table-filters thead th:nth-child(3) {
	min-width: 150px;
}

#Filters_InnovatorTab .iz-table-filters thead th:nth-child(5) {
	min-width: 200px;
}
/*
#Filters_InnovatorTab .iz-table-filters thead th:nth-child(6) {
	min-width: 45px;
}
*/
#Filters_InnovatorTab .iz-table-filters thead th:nth-child(7), #Filters_InnovatorTab .iz-table-filters thead th:nth-child(8)  {
	min-width: 40px;
}

#Filters_InnovatorTab .iz-table-filters thead th:nth-child(9) {
	min-width: 80px;
}

#Filters_InnovatorTab #ctl00_PlaceHolder_Adhocreportdesigner1_ctl01_cc_TableValuesShouldBe tbody tr:last-child {
	display: table-row;
}

#Filters_InnovatorTab .iz-table-filters+.iz-table-logic-row tbody tr:last-child {
	display: table-row;
}

#AdHocPopupFilerTable td .checkBoxContainer {
	vertical-align: text-bottom;
	margin-right: 5px;
	margin-left: 5px;
}

#mbd table#AdHocPopupFilerTable tr td:first-child {
	min-width: 0px;
}

#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) .checkBoxContainer {
	margin-left: 5px;
	vertical-align: text-bottom;
}

#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(2):not(.aras_grid_checkbox):not(.checkBoxContainer),
#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(3):not(.aras_grid_checkbox):not(.checkBoxContainer),
#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(4):not(.aras_grid_checkbox):not(.checkBoxContainer) {
	float:left;
}

#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(2) input,
#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(4)  input {
	width: 120px !important;
}

#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(9):not(.aras_grid_checkbox):not(.checkBoxContainer),
#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(10):not(.aras_grid_checkbox):not(.checkBoxContainer),
#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(11):not(.aras_grid_checkbox):not(.checkBoxContainer){
	display: inline-block;
	margin-right: 5px;
}

#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(9) input,
#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(10) input,
#Filters_InnovatorTab .iz-table-filters tbody td:nth-child(6) div:nth-child(11) input {
width:calc(100% - 22px) !important;
}

.date_pickup {
	display: inline-block;
	width: 18px !important;
	height: 18px !important;
	top: 0px !important;
	vertical-align: top;
}