#Gauge_InnovatorTab {
	margin-left: 15px;
}

#Gauge_InnovatorTab table {
	border-collapse: collapse;
}

.titleAndResultsRow td {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titleAndResultsRow tr td:first-child {
	/*padding-left: 50px;*/
}

.titleAndResultsRow tr:first-child td {
	padding-bottom: 30px;
	padding-left: 0px;
}

.secondTable {
	margin-top: 20px;
}

.secondTable td {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.secondTable .gaugeColorSelector + tr td:first-child {
	padding-right: 17px;
}
