#Misc_InnovatorTab {
	margin-left: 15px;
}

#Misc_InnovatorTab table table:first-child {
	margin-top: 10px;
}

#Misc_InnovatorTab table table:first-child .MultivaluedCheckbox {
	vertical-align: text-top;
}

#Misc_InnovatorTab table div table {
	border-collapse: collapse;
}

#Misc_InnovatorTab table div table tr {
	float: left;
}

#Misc_InnovatorTab table div table tr:first-child {
	width: 70px;
}

#Misc_InnovatorTab table div table tr:last-child td:first-child {
	width: 290px;
	padding-right: 10px;
}

#Misc_InnovatorTab table div table tr td input[type=text] {
	min-width: 200px;
	max-width: 290px;
}

#Misc_InnovatorTab table table:nth-child(3) {
	background-color: red;
}

#Misc_InnovatorTab table div table label[for='miscControls_csvOnly'] {
	white-space: nowrap;
}

.share_with_and_right table tr {
	display: inline-block;
}