#Properties_InnovatorTab .iz-table-fields tbody tr:last-child {
	display: none;
}

#Properties_InnovatorTab .iz-table-fields thead th:nth-child(1) {
	min-width: 70px;
}

#Properties_InnovatorTab .iz-table-fields thead th:nth-child(2) {
	min-width: 150px;
}

#Properties_InnovatorTab .iz-table-fields thead th:nth-child(4) {
	min-width: 130px;
}

#Properties_InnovatorTab .iz-table-fields thead th:nth-child(5), #Properties_InnovatorTab .iz-table-fields thead th:nth-child(6), #Properties_InnovatorTab .iz-table-fields thead th:nth-child(7) {
	min-width: 45px;
}

#Properties_InnovatorTab .iz-table-fields thead th:nth-child(8), #Properties_InnovatorTab .iz-table-fields thead th:nth-child(9)  {
	min-width: 220px;
}

#Properties_InnovatorTab .iz-table-fields thead th:nth-child(10) {
	min-width: 80px;
}