html {
	height: 100%;
}
body {
	box-sizing: border-box;
	border-top: 1px solid #b5bcc7;
	height: 100%;
	margin: 0;
}
.template {
	float: left;
	margin: 10px 20px;
	width: 325px;
}
.template_label {
	margin: 0;
}
.template_input {
	box-sizing: border-box;
	width: 100%;
}
.helper {
	height: calc(100% - 30px);
	overflow: hidden;
}
.helper_label {
	border-left: 1px solid rgb(169, 169, 169);
	font-size: 12px;
	height: 14px;
	margin: 0;
	padding: 5px 0;
	text-align: center;
}
.helper_select {
	border: 1px solid rgb(169, 169, 169);
	box-sizing: border-box;
	font-size: 12px;
	height: calc(100% - 24px);
	padding: 0;
	width: 100%;
}