.aras-grid-row_show-more {
	cursor: pointer;
}
.aras-grid-row_show-more span.aras-grid-row-cell__link {
	overflow: visible;
	position: relative;
}
.aras-grid-row_show-more span.aras-grid-row-cell__link:before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	left: -23px;
	top: 50%;
	margin-top: -8px;
}
.aras-grid-row-icon {
	display: inline-block;
	margin-right: 3px;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}

.glyph_icon:before {
	content: '';
	width: 22px;
	height: 22px;
	background-image: url('../../../images/ReferenceGlyph.svg');
	background-size: 22px;
	position: absolute;
	left: 0;
	top: 2px;
	display: block;
}

.img-container {
	display: inline-block;
	position: relative;
}
.aras-icon-loading {
	animation: none;
}
