#rb_tree_grid_error {
	display: none;
	text-align: center;
	font-size: 12px;
	color: #727272;
}

.claro .dojoxGridTreeModel .dojoxGridNoChildren .aras_lazytreegrid_expando_with_icon {
	width: 50px !important;
}

.claro .aras_lazytreegrid_expando_with_icon {
	width: 50px !important;
}

.claro td.dojoxGridCell img.aras_item_image {
	margin-top: 1px;
}

img.aras_lazytreegrid_icon {
	width: auto;
	height: auto;
	max-height: 22px;
	max-width: 22px;
}

.dojoxGridCell div{
	height: 23px;
}