wbr:after {
	content: '\00200B';
}

.aras-rule-editor {
	line-height: 30px;
	border: 1px solid transparent;
	transition: border-color 0.1s ease;
}

.aras-rule-editor_disabled {
	background-color: #fbfbfb;
}

.aras-rule-editor.editorInvalidInput {
	border-color: #b71c1c;
}

.aras-rule-editor .menuAnchorNode {
	position: absolute;
	display: none;
}

.intellisenseMenu .dijitMenuItem .dijitMenuArrowCell {
	width: 16px;
}

.intellisenseMenu .dijitMenuItem.selectedMenuItem .dijitMenuArrowCell {
	background-image: url('../../../images/Checkmark.svg') !important;
	background-position: 4px 5px;
	background-size: 13px 13px !important;
	background-repeat: no-repeat;
}

.inputGroup {
	position: relative;
	width: 100%;
	display: inline-block;
	margin-bottom: 14px;
	padding: 3px;
	line-height: 22px;
	vertical-align: middle;
	font-family: Roboto, 'Noto Sans JP', Arial, sans-serif;
	font-size: 14px;
	color: #333333;
}

.editorContentNode {
	width: 100%;
	height: 100%;
}

.inputGroup .groupContent {
	padding: 0px 5px 0px 5px;
	min-height: 22px;
}

.inputGroup .focusMark {
	display: none;
}

.inputGroup.emptyGroup {
	opacity: 0.5;
}

.inputGroup.inactiveGroup {
	display: none;
}

.staticGroup {
	min-width: 20px;
	background-color: #2573ba;
	color: #ffffff;
	text-align: center;
}

.inputGroup.staticGroup:focus {
	border-bottom: 1px dashed #ffffff;
}

.inputGroup.selectGroup {
	min-width: 40px;
	color: #404040;
	text-align: center;
}

.inputGroup.multiSelectGroup {
	text-align: left;
}

.inputGroup.selectGroup p,
.inputGroup.selectGroup font {
	display: inline-block;
	font-size: inherit;
	margin: 0px;
}

.inputGroup + .inputGroup {
	margin-left: 10px;
}

.inputGroup.invalidInput {
	background-color: #e39981;
	color: #b71c1c;
}

.inputGroup.operandsInputGroup {
	margin-left: 20px;
	margin-right: 20px;
	min-width: 30px;
}

.inputGroup.conditionInputGroup {
	min-width: 25px;
	background-color: #76a797;
	color: #ffffff;
}

.inputGroup.thenGroup {
	background-color: #2573ba;
	color: #ffffff;
}

.inputGroup.multiSelectGroup {
	border: none;
}

.InputEnd {
	display: inline-block;
}

.grammarInputGroup.emptyGroup {
	opacity: 1;
}

.grammarInputGroup .groupContent {
	padding-right: 20px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.grammarInputGroup .groupContent .Lexem::selection {
	background-color: #f8eec0;
	color: #7d7138;
}

.grammarInputGroup.invalidInput {
	background-color: transparent !important;
}

.Disabled .grammarInputGroup .Lexem {
	background-color: transparent !important;
	color: #505050 !important;
}

.invalidInput .Lexem {
	color: #404040;
}

.Lexem.InvalidLexem {
	color: #c96a59 !important;
	background-color: transparent !important;
}

.Lexem.unknown {
	color: #808080;
	border-bottom: 1px dashed red;
}

.multiSelectGroup:before {
	position: absolute;
	z-index: 10;
	content: '';
	left: -4px;
	width: 8px;
	top: -3px;
	bottom: -3px;
	border-left: 2px solid #808080;
	border-radius: 50%;
}

.multiSelectGroup:after {
	position: absolute;
	z-index: 10;
	content: '';
	right: -4px;
	width: 8px;
	top: -3px;
	bottom: -3px;
	border-right: 2px solid #808080;
	border-radius: 50%;
}
