@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@@import '@Url.ContentWithSalt("~/javascript/include.aspx?classes=dijitClaro.css")';

		html, body {
			width: 100%;
			height: 100%;
			margin: 0;
			overflow: hidden;

			font-family: Tahoma;
			color: #444444;
			font-size: 12px;
		}

		#sbsViewContainer {
			width: 100%;
			height: 100%;
		}

		.dijitLayoutContainer .dijitContentPane {
			padding: 0px !important;
			overflow: visible;
		}

		.techDocEditor .dijitSplitter {
			border-right: none;
			width: 3px;
			background-color: #444444 !important;
			background-image: none !important;
		}

		.techDocEditor .dijitSplitter:hover {
			background-color: #555555 !important;
		}
	</style>
	<script type="text/javascript" src="../../javascript/include.aspx?classes=/dojo.js" data-dojo-config="packages: [{ name: 'TechDoc', location: '../../Modules/aras.innovator.TDF/Scripts' }], isDebug: false, parseOnLoad: false, async: true, baseUrl:'../../javascript/dojo'"></script>
	<script type="text/javascript" src="../../Modules/aras.innovator.TDF/Scripts/Aras/Client/Controls/TechDoc/EditorTabViewController.js"></script>
	<script type="text/javascript">
		initEditorTabViewController(window);
	</script>
</head>
<body class="claro techDocEditor">
	<div id="sbsViewContainer"></div>
</body>
</html>
