.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
.deep-linking {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.deep-linking__logo {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deep-linking__main {
  flex-grow: 1;
  background: #eef3fa;
  padding: 3rem;
}
.deep-linking__main > p {
  margin: 1.5rem auto;
  width: 30rem;
}
.logo {
  width: 30rem;
}
