/* Item properties */
.table-col {
	display: table-cell;
	height: 100%;
	vertical-align: top;
	border-right: 1px solid #D4D4D4 !important;
}

.properties-block {
	width: 200px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 15px 20px;
	background-color: transparent;
	border-style: none;
	border-top-width: 2px;
}

.properties-block .properties-block {
	padding: 0;
}

.properties-block h2 {
	margin: 0;
	font-size: 15px;
	word-break: normal;
	white-space: normal;
}

.properties-block .side-header h3 {
	margin: 0 0 10px;
	line-height: 1.4rem;
	font-size: 1.2rem;
	font-weight: normal;
	padding: 0 15px 10px 0;
	border-bottom: 1px solid #d4d4d4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.prop-header img {
	margin: 6px 0;
	width: 45px;
	height: 45px;
}

.prop-field {
	white-space: nowrap;
}

.prop-value {
	padding-left: 1em;
}

.prop-label {
	display: inline-block;
	width: 75px;
	text-transform: capitalize;
}
/* end of Item properties */