/* Main window */
body {
	font-size: 12px;
	line-height: 1.4;
}

#bottom,
#BorderContainer,
#center,
#centerMiddle {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* end of Main window */
