/* Splitter */
.claro .dijitSplitter {
	background-color: transparent;
	z-index: 9999;
}

.claro .dijitSplitterH {
	border-top: 1px solid #d4d4d4;
}

.claro .dijitSplitterV {
	border-right: 1px solid #d4d4d4;
}

#leading_splitter { 
	width: 12px;
}

#leading_splitter .dijitSplitterThumb {
	left: 9px !important;
}

.claro .dijitSplitterVHover {
	background-image: none !important;
}
/* end of Splitter */