/* do not change	---------------------- */
DIV.TabsDiv				{ width:'100%';overflow-x:hidden; }

/* button style		---------------------- */
BUTTON.TabsB			{ height:'20px'; border-bottom-style:none; cursor:'pointer'; }
/* selected button style	-------------- */
BUTTON.TabsBsel		{ height:'25px'; border-bottom-style:none; cursor:'pointer'; color:'coral'; }	