@{
    Layout = "Shared/_cuiTabItemViewLayout.cshtml";
}
@section extra_header
{
    <style type="text/css">@@import "@Url.ContentWithSalt("~/javascript/include.aspx?classes=ExtendedClassification.css")"</style>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=XClassificationTreeEditor")"></script>
}
@section editor
{
    <div id="xClass-editor" data-dojo-type="Controls/Tab">
        <div class="xClassEditorContainer aras-flex">
            <div>
                <div id="xClassTreeToolbar"></div>
                <div class="class-tree"></div>
            </div>
            <aras-splitter class="splitter"></aras-splitter>
            <div class="properties-grid">
                <iframe src="@Url.ContentWithSalt("~/Modules/aras.innovator.ExtendedClassification/Views/xClassEditorGridWrapper.html")" id="wrapper" frameBorder="0" width="100%" scrolling="no"></iframe>
            </div>
        </div>
    </div>
}