<div class="dijitDialog DialogContainer" style="z-index:11111;" data-dojo-attach-point="dialogContainer">
	<div data-dojo-attach-point="titleBar" class="DialogTitleBar">
		<span data-dojo-attach-point="titleBarImage" class="DialogTitleBarImage">.</span>
		<span data-dojo-attach-point="titleBarText" class="DialogTitleBarText">{0}</span>
		<span data-dojo-attach-point="closeIcon" class="DialogCloseIcon" data-dojo-attach-event="onclick: _onCrossClick" title="{%closeBtnTitle%}" role="button" tabindex="0">
			<span data-dojo-attach-point="closeText" class="closeText" title="{%closeBtnTitle%}">x</span>
		</span>
	</div>
	<div class="dijitDialogPaneContent DialogPaneContent" data-dojo-attach-point="paneContent">
		<div class="CompareContent">
			<div id="fileInfoContent" data-dojo-attach-point="fileInfoContent">
			</div>

			<div id="compareContent" data-dojo-attach-point="compareContent">
				<div class="CompareTitle">{%compDialConpareToLabel%}</div>
				<div class="DifferentVersion">
					{%compDialFileFromDifVerLabel%}
					<span id="selectPlaceHolder" data-dojo-attach-point="selectPlaceHolder"></span>
					<div class="ButtonContainer">
						<button id="dvStartComparison" data-dojo-attach-point="dvStartComparison" class="Blue">{%compDialStartComparBtn%}</button>
					</div>
				</div>
				<div class="OrBlock">{%compDialOrLabel%}</div>
				<div id="anotherItem" data-dojo-attach-point="anotherItem" class="AnotherItem" title="Select File">
					<img alt="" src="../../../images/SelectFile.svg" />
					<span>{%compDialSelectOtherFileBtn%}</span>
				</div>
			</div>

			<div id="buttonsContainer" data-dojo-attach-point="buttonsContainer" class="ButtonContainer">
				<button id="startComparison" data-dojo-attach-point="startComparison" class="Blue">{%compDialStartComparBtn%}</button>
				<button id="cancel" data-dojo-attach-point="cancel" class="Grey">{%compCancelBtn%}</button>
			</div>
		</div>
	</div>
</div>