<div>
    <div class="Wrap">
		<div id="toolbarContainers"></div>
	    <div data-dojo-attach-point="OverflowContainer" class="OverflowContainer">
		    <div data-dojo-attach-point="ViewerContainer" class="ViewerContainer">
			    <canvas data-dojo-attach-point="CompareCanvasFront" class="FrontCanvas"></canvas>
			    <canvas data-dojo-attach-point="CompareCanvasBack" class="StateCanvas"></canvas>
			    <canvas data-dojo-attach-point="CompareCanvasDiff" class="StateCanvas"></canvas>
		    </div>
		    <div data-dojo-attach-point="SnapshotContainer" class="SnapshotContainer">
			    <img data-dojo-attach-point="SnapshotImage" src="" class="SnapshotImage" />
		    </div>
       
	    </div>
    </div>
</div>