<div class="ComparePalleteRow">
	<span class="DialogButton">
		<span title="Display file 1" style='background-image: url("../../../images/File1Indicator.svg");'>.</span>
	</span>
	<span class="DialogButton">
		<span title="Display file 1" style='background-image: url("../../../images/File1Indicator.svg");'>.</span>
	</span>
	<span class="DialogButton">
		<span title="Display file 1" style='background-image: url("../../../images/images/File1Indicator.svg");'>.</span>
	</span>

	<!--<span id="displayFirstFile" style="background-image: url('../../../../../images/File1Indicator.svg')"></span>
	<span id="displaySecondFile" style="background-image: url('../../../../../images/File1Indicator.svg')"></span>
	<span id="displayBothFile" style="background-image: url('../../../../../images/Compare.svg'); "></span>-->
</div>
<div class="ComparePalleteRow">
	<span id="difference" style="background-image: url('../../../images/Compare.svg'); "></span>
</div>
<div id="differencePanel" class="ComparePalleteRow">
	<div id="sliderPlace">
	</div>
	<div id="colorPickerPlace">
	</div>
</div>