<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr" mozdisallowselectionprint moznomarginboxes>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="google" content="notranslate">
	<title>PDF</title>
	<link rel="stylesheet" href="../../../javascript/dijit/themes/claro/claro.css" />

	<link rel="stylesheet" href="../styles/svgSettings.css" />
	<link rel="stylesheet" href="../styles/Viewer.css" />
	<link rel="stylesheet" href="../styles/ViewerToolbar.css" type="text/css" />
	<link rel="stylesheet" href="../styles/PDFTronViewer.css" type="text/css" />
	<link rel="stylesheet" href="../styles/ComparisonViewer.css" type="text/css" />
	<link rel="stylesheet" href="../styles/ScrollControl.css" type="text/css" />
	<link rel="stylesheet" href="../styles/Dialogs.css" type="text/css" />
	<link rel="stylesheet" href="../../../styles/controls/toolbar.css" type="text/css" />
	<link rel="stylesheet" href="../../../javascript/include.aspx?classes=common.min.css" />

	<script src="../Scripts/3rdPartyLibs/pdftronwebviewer-v2.2/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="../Scripts/3rdPartyLibs/pdftronwebviewer-v2.2/lib/WebViewer.js"></script>

	<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules"></script>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=/dojo.js" data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl:'../../../javascript/dojo'"></script>
	<script type="text/javascript" src="../Scripts/canvg/canvg.js"></script>
	<script type="text/javascript" src="../Scripts/canvg/rgbcolor.js"></script>

	<script type="text/javascript" src="../../../javascript/ClientUrlsUtility.js"></script>
	<script type="text/javascript" src="../Scripts/Utils.js"></script>
	<script type="text/javascript" src="../Scripts/3rdPartyLibs/resemble/resemble.js"></script>
	<script type="text/javascript" src="../../../javascript/cookie.js"></script>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=XmlDocument"></script>
</head>

<body tabindex="1" class="claro" style="overflow:hidden;">

	<script type="text/javascript">
		require(["dojo/ready"], function(ready) {
			ready(function() {
				//comparison
				VC.Utils.registerModulePaths();
				VC.Utils.Page.LoadGeometry();
				VC.Utils.Page.LoadModules(["ComparisonViewer", "ViewerAgent"]);

				var args = VC.Utils.Page.GetParams();

				window.aras = args.itemWindow ? args.itemWindow.aras : top.aras;
                args.aras = window.aras;

				//should be assigned from another place. These parameters are required only by SM, not by Viewer
				top.smparams = args;
				window.SSVCViewer = new VC.ComparisonViewer(args);
				window.SSVCViewer.displayFile("url1");
				if (window.onViewerIsReady) {
					window.onViewerIsReady();
				}
			});
		});

	</script>
	<div id="trash" style="z-index: 999;"></div>
</body>
</html>
