<div class="dijitDialog DialogContainer" style="z-index:11111;" data-dojo-attach-point="dialogContainer">
	<div data-dojo-attach-point="titleBar" class="DialogTitleBar">
		<span data-dojo-attach-point="titleBarImage" class="DialogTitleBarImage">.</span>
		<span data-dojo-attach-point="titleBarText" class="DialogTitleBarText">{0}</span>
		<span data-dojo-attach-point="closeIcon" class="DialogCloseIcon" data-dojo-attach-event="onclick: _onCrossClick" title="{%closeBtnTitle%}" role="button" tabindex="0">
			<span data-dojo-attach-point="closeText" class="closeText" title="{%closeBtnTitle%}">x</span>
		</span>
	</div>
	<div class="dijitDialogPaneContent DialogPaneContent" data-dojo-attach-point="paneContent">
		<div class="LayersPanel">
			<div id="checkAll" data-dojo-attach-point="checkAll" class="Checkbox Blue"></div><span id="checkAllText" data-dojo-attach-point="checkAllText" class="LinkButton">{%layersDialCheckAllLabel%}</span>
			<span id="resetLayersButton" data-dojo-attach-point="resetLayersButton" class="LinkButton">{%layersDialResetBtn%}</span>
		</div>
		<div id="layerContainer" data-dojo-attach-point="layerContainer" class="LayerContainer"></div>
		<div id="confirmContainer" data-dojo-attach-point="confirmContainer" class="ConfirmContainer">
			<button id="confirmButton" data-dojo-attach-point="confirmButton" class="Blue">{%layersDialApplyBtn%}</button>
		</div>
	</div>
</div>