<div data-dojo-attach-point="passwordDialog"
		 class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable"
		 tabindex="-1" style="height: auto; width: 300px; top: 249px; left: 211px; display: none; z-index: 99999;">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
		<span data-dojo-attach-point="passwordDialogTitle" class="ui-dialog-title">&nbsp;</span>
		<button data-dojo-attach-point="passwordButtonClose" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
			<span class="ui-button-text">Close</span>
		</button>
	</div>
	<div data-dojo-attach-point="passwordDialogContent" class="ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 62px; max-height: none; height: auto;">
		<div data-dojo-attach-point="passwordError" style="color:red"></div>
		<label data-dojo-attach-point="passwordLabel" for="passwordInput">Enter the document password:</label>
		<input data-dojo-attach-point="passwordInput" type="password" />
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset">
			<button data-dojo-attach-point="passwordButtonOk" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
				<span class="ui-button-text">OK</span>
			</button>
			<button data-dojo-attach-point="passwordButtonCancel" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
				<span class="ui-button-text">Cancel</span>
			</button>
		</div>
	</div>
</div>