<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oauth" type="Aras.OAuth.Configuration.OAuthSection, Aras.OAuth.Configuration"></section>
		<section name="mimeTypeModule" type="Aras.Vault.Core.MimeTypeModuleConfigurationSection, Aras.Vault.Server"></section>
		<sectionGroup name="Aras">
			<sectionGroup name="Net">
				<section name="RequestProvider" type="Aras.Net.Configuration.RequestProviderConfigurationSection, Aras.Net"></section>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="InnovatorServerUrl" value="http://localhost/InnovatorServer/Server/InnovatorServer.aspx"></add>
		<add key="LocalPath" value="C:\Aras\Vault\"></add>
		<add key="VaultServerName" value="Default"></add>
		<add key="VaultLoginName" value="vadmin"></add>
	</appSettings>
	<oauth configSource="OAuth.config"></oauth>
	<mimeTypeModule>
		<mimeType value="drawing/x-dwf">
			<headers>
				<add name="Content-Disposition" value="attachment"></add>
			</headers>
		</mimeType>
		<mimeType value="application/x-xvlplayer">
			<headers>
				<add name="Content-Disposition" value="attachment"></add>
			</headers>
		</mimeType>
		<mimeType value="text/html">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
				<!-- X-Content-Security-Policy is used only for IE -->
				<add name="X-Content-Security-Policy" value="sandbox"></add>
				<!-- script-src is used only for Firefox 45 -->
				<add name="Content-Security-Policy" value="sandbox;script-src 'none'"></add>
			</headers>
		</mimeType>
		<mimeType value="x-gzip">
			<headers>
				<add name="Content-Disposition" value="attachment"></add>
			</headers>
		</mimeType>
		<mimeType value="application/zip">
			<headers>
				<add name="Content-Disposition" value="attachment"></add>
			</headers>
		</mimeType>
		<mimeType value="text/xml">
			<headers>
				<add name="Content-Disposition" value="attachment"></add>
			</headers>
		</mimeType>
		<mimeType value="image/png">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
			</headers>
		</mimeType>
		<mimeType value="image/tiff">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
			</headers>
		</mimeType>
		<mimeType value="image/bmp">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
			</headers>
		</mimeType>
		<mimeType value="application/pdf">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
			</headers>
		</mimeType>
		<mimeType value="image/gif">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
			</headers>
		</mimeType>
		<mimeType value="image/jpeg">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
			</headers>
		</mimeType>
		<mimeType value="image/svg+xml">
			<headers>
				<add name="Content-Disposition" value="inline"></add>
			</headers>
		</mimeType>
		<mimeType value="*">
			<headers>
				<add name="Content-Disposition" value="attachment"></add>
			</headers>
		</mimeType>
	</mimeTypeModule>
	<!--Specify the providers; if authentication mode="Basic" then use Example1, if mode="Windows" or another use Example2-->
	<Aras>
		<Net>
			<RequestProvider>
				<providers>
					<provider uriPattern=".*">
						<Timeout value="7200000"></Timeout>
					</provider>
					<!--Example1:-->
					<!--<provider uriPattern="{uriPattern}" type="{type}">
							<authentication mode="{mode}">
								<Basic>
									<credentials>
										<user name="{name}" password="{password}" />
									</credentials>
								</Basic>
							</authentication>
							<Proxy mode="{mode}">
								<Basic>
									<credentials>
										<user name="{name}" password="{password}" />
									</credentials>
								</Basic>
							</Proxy>
					</provider>-->
					<!--Example2:-->
					<!--<provider uriPattern="{uriPattern}" type="{type}">
							<authentication mode="{mode}">
							</authentication>
							<Proxy mode="{mode}">
							</Proxy>
					</provider>-->
				</providers>
			</RequestProvider>
		</Net>
	</Aras>
</configuration>
