body {
	box-sizing: border-box;
	padding: 30px 35px 0 30px;
	position: relative;
}
.content {
	height: 255px;
	overflow: auto;
}
button {
	bottom: 35px;
	left: 50%;
	margin-left: -55px;
	position: absolute;
	width: 110px;
}
.aras-grid-header,
.aras-grid-active-cell {
	display: none;
}
.aras-grid-row:nth-child(odd):not(:hover):not(.aras-grid-row_selected) {
	background-color: #fff;
}
.aras-grid-row-levelpad:first-child:nth-last-child(2):empty:after {
	display: none;
}
.aras-grid-row-cell {
	border-width: 0;
	font-size: 12px;
}
.aras-grid-row-icon {
	display: inline-block;
	margin-right: 3px;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}
.aras-treegrid-cell-container span.aras-grid-row-cell__iconLink {
	text-overflow: clip;
}
.aras-grid-row-cell__iconLink:after {
	background: radial-gradient(
			circle at 0 0,
			#9c9c9c 1px,
			transparent 1px,
			transparent 100%
		)
		repeat-x;
	background-size: 2px 2px;
	content: '';
	display: inline-block;
	height: 1px;
	margin-left: 5px;
	vertical-align: middle;
	width: 100%;
}
.aras-grid-row.aras-grid-row_not-child .aras-grid-row-levelpad > div,
.aras-grid-row.aras-grid-row_not-child .aras-grid-row-levelpad:after {
	display: none;
}
