@using Models.Helpers
@model Models.FieldRenderModel

<span id="@(Model.FieldNode.Id)" name="@(Model.FieldNode.Name)" class="@(Model.FieldNode.Name)">
	@Html.Raw(MethodsExUtils.PreserveTags(Model.FieldNode.Label.Value)) 
</span>