/* start of fixes for IE*/

/*IE10+ CSS*/
/*Fix for icons downscale issue for item type tree*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	*::-ms-backdrop,
	#leftTree .dijitTreeIcon,
	#rightTree .dijitTreeIcon,
	.reporting-structure-top .dijitTreeIcon {
		height: 64px !important;
		width: 64px !important;
		zoom: 0.34375;
		background-size: contain !important;
	}
}

/* end of fixes for IE*/
