div[name='showHideMeInIE6'] {
	overflow: visible;
}

.izenda-toolbar {
	display: none !important;
}

/*
#ctl00_PlaceHolder_Adhocreportdesigner1_ctl01__MultiPage > div:nth-child(1)
{
	display: block !important;
}
#ctl00_PlaceHolder_Adhocreportdesigner1_ctl01__MultiPage > div:nth-child(2)
{
	display: block !important;
}
#ctl00_PlaceHolder_Adhocreportdesigner1_ctl01__MultiPage > div:nth-child(1) > table
{
	display: block !important;
}
*/

#InsertTableRowGlyphElement {
	height: 40px !important;
}

.x-dd-drag-ghost img {
	width: 22px;
	height: 22px;
}

td[adhochelpcontrol='true'] {
	display: none;
}

.disabled.btn,
[disabled].btn {
	opacity: 0.3;
	background-color: #3668b1;
	color: white;
}

input[disabled],
input[readonly],
[disabled].btn:hover {
	background-color: #3668b1;
	border-color: #b3b3b3;
	box-shadow: none;
	color: #fff;
	opacity: 0.6;
}

/* remove unnec. stuff from Izenda ReportDesigner UI BEGIN */
#blueHeader,
#whiteHeader {
	display: none;
}

.footer.applyStyles {
	display: none;
}
#repHeader {
	display: none;
}

.ReportTable img {
	display: inline;
}

#ctl00_PlaceHolder_Adhocreportdesigner1_ctl01_jtcs_ct666 {
	display: none;
}
/* remove unnec. stuff from Izenda ReportDesigner UI END */

#innReportDesignerContainer {
	height: 100%;
}
#SSRReportDesigner {
	height: 100%;
}
#mainContentDiv {
	height: 100%;
	/*overflow: hidden;*/
}
.layout {
	/*height: 100%;*/
	display: none;
}

#rightTree .delete-node-btn {
	display: block;
	width: 22px;
	height: 22px;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 12px;
	position: absolute;
	top: 0px;
	right: 0px;
}

#rightTree .dijitTreeRow {
	position: relative;
}

#rightTree .dijitTreeRow:hover {
	background-color: #dde7f5;
}

#rightTree .dijitTreeRow:hover .delete-node-btn {
	background-position: 0px 0px;
	background-image: url('../Images/DeleteSet.png');
}

#rightTree .dijitTreeRow:hover .delete-node-btn:hover {
	background-image: url('../Images/DeleteSet.png');
	background-position: 22px 0px;
}

.borderContainer {
	width: 100%;
	height: 100%;
}

.leftTogglePanel {
	width: 250px;
}

.toggle-panel-collapsed .leftTogglePanel {
	padding: 5px !important;
	background-color: #f6f6f6;
	width: 1.3rem !important;
	border-right: 1px solid #d4d4d4 !important;
}

.toggle-panel-collapsed .collapsed-panel-hover {
	background-color: #dde7f5 !important;
}

.toggle-panel-collapsed div[role='separator'],
.toggle-panel-collapsed .leftPanelContent {
	display: none;
}

.toggle-panel__header {
	font-size: 1.2rem;
	margin: 0px 0px 0px 0px;
	padding: 0 0 9px 0;
	border-bottom: 1px solid #d4d4d4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.toggle-icon-arrow {
	position: relative;
}

.toggle-icon-arrow:after,
.toggle-icon-arrow:before {
	content: '';
	display: block;
	position: absolute;
}

.toggle-icon-arrow:before {
	width: 0;
	height: 0;
	border: 0.4rem solid transparent;
	border-left-color: #fff;
	border-right: 0;
}

.toggle-icon-arrow_left:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	top: calc(50% - 0.4rem);
	left: calc(50% - 0.4rem / 2);
}

.toggle-panel__toggler {
	border: 1px solid #8a8a8a;
	background-color: #fff;
	height: 1.2rem;
	width: 1.2rem;
	position: relative;
}

.toggle-panel__toggler .toggle-icon-arrow {
	position: static;
}

.toggle-panel__toggler .toggle-icon-arrow::before {
	border-width: 0.35rem;
	border-left-color: #787878;
	left: 0.4rem;
	top: 0.2rem;
}

.toggle-panel__header .toggle-panel__toggler:hover {
	background-color: #dde7f5;
}

.iz-table-fields,
.iz-table-filters {
	border-collapse: collapse;
}

.iz-table-fields tr,
.iz-table-filters tr {
	min-height: 20px;
}

.iz-table-fields thead,
.iz-table-filters thead {
	background-color: #f6f6f6 !important;
	font-family: tahoma, arial, helvetica, sans-serif;
}

.iz-table-fields thead th,
.iz-table-filters thead th {
	text-align: center;
}

.iz-table-fields .iz-label,
.iz-table-filters .iz-label,
.iz-table-filters th[name='filter-format-header'] {
	position: relative;
	border-style: solid;
	font: 12px Tahoma;
	color: #444444;
	background-color: #f1f1f1;
	height: 28px;
	white-space: nowrap;
	padding: 4px 3px 4px 2px !important;
	text-align: center;
}

.iz-table-fields tbody td,
.iz-table-filters tbody td {
	padding: 10px;
}

.iz-table-fields tbody td img,
.iz-table-filters tbody td img {
	width: 22px;
	height: 22px;
}

.records-table {
	margin-bottom: 10px;
}

.records-table td {
	padding-right: 10px;
}

.iz-table-fields .MultivaluedCheckbox,
.iz-table-filters .MultivaluedCheckbox {
	margin-left: 0px;
}

.iz-table-extrafield {
	margin-top: 30px;
}

.iz-table-extrafield td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.iz-table-extrafield img {
	width: 22px;
	height: 22px;
}

.pivot-table input[type='checkbox'] {
	margin: 3px;
}

.layout input.btn:hover {
	background-color: #5789d0 !important;
}

.sys_f_div_select {
	height: 1.667rem;
}

.sys_f_div_select .sys_f_span_select {
	left: 0px;
	margin: 0 2px 0 -1px;
	padding: 2px 0 0 5px;
	height: 1.667rem;
	width: 100%;
	font-size: 12px;
	background: url(#);
}

.MultivaluedCheckbox {
	display: inline-block !important;
	vertical-align: text-top !important;
	height: 12px !important;
	width: 12px !important;
	border-color: #909090 !important;
}

.MultivaluedCheckbox input {
	color: #4a76b8 !important;
	left: 0px !important;
	font-weight: bold !important;
	padding: 0px !important;
	background: none !important;
	width: 100%;
}

td,
a {
	font-size: 12px;
}

.btn {
	margin-right: 10px;
	background-color: #3668b1 !important;
	color: #ffffff !important;
}

.layout button.btn:hover {
	background-color: #5789d0 !important;
}

.sys_f_div_select[ellipsis_select='1'] {
	background: url(../../../images/ellipsis.svg) no-repeat scroll right top /
		20px 20px;
}

.sys_f_div_select[ellipsis_select='1']:hover {
	background: url(../../../images/ellipsis-hover.svg) no-repeat scroll right top /
		20px 20px;
}

.sys_f_div_select[ellipsis_select='1'] select {
	z-index: 0 !important;
}

.inline-block {
	display: inline-block;
}

.summary_bottom_controls {
	margin-right: 10px;
	margin-top: 30px;
}

.iz-table-fields tbody td[name='dragIcon'],
.iz-table-filters tbody td[name='dragIcon'] {
	padding-left: 20px;
	background-image: url('../../../images/DragAndDrop.svg');
	background-repeat: no-repeat;
	background-position-y: center;
	cursor: move;
	background-position: 0px;
}

.checkBoxContainer {
	display: inline-block;
}

.breadcrumb-container {
	font-style: italic;
}
