.izenda-vis-tooltip  {
    border: 1px solid #3767B1 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7) !important;
    background-color: #fff !important;
}

.izenda-vis-tooltip td {
    text-align: left;
    vertical-align: top;
}

#ol {
    opacity: 0 !important;
}

.container .iz-table-properties td {
    padding-bottom: 6px;
}

.container table table {
    margin: 0px;
    border-collapse: collapse;
}

.container input, .container textarea {
    padding-left: 0px;
    padding-right: 0px;
}

.container table tr td:first-child {
    min-width: 140px;
}

.container table tr td div {
    margin: 0px; !important;
}

.container table table tr td {
    padding: 0px !important;
    text-align: left !important;
}

.container table tr:last-child input{
    margin-left: 5px;
    margin-right: 5px;
}

.izenda-vis-tooltip textarea {
    vertical-align: middle;
    margin: 2px 2px 2px 2px;
}

.izenda-vis-tooltip input, .izenda-vis-tooltip textarea {
    margin: 0px !important;
}

.footer {
	padding: 7px !important;			/* !important required because Izenda set its styles directly */
	text-align: center !important;		/* !important required because Izenda set its styles directly */
	border-width: 0px !important;		/* !important required because Izenda set its styles directly */
	width: auto !important;				/* !important required because Izenda set its styles directly */
}

.footer input {
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}

.izenda-vis-tooltip .footer button {
	background-color: rgb(54, 104, 177);
	border-width: 0px;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	margin: 0px 5px !important;		/* !important required because Izenda set its styles directly */
	padding: 3px 10px;
	min-width: 62px;
	color: #FFFFFF;
	height: auto;
	line-height: 18px;
}

.izenda-checkbox label {
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
}

.izenda-vis-tooltip .title {
    background-color: #3768B1 !important;
    background-image: none;
    background-repeat: repeat-x;
    padding: 3px 7px !important;
    border: 1px solid #3768B1 !important;
    text-align: left;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 0 1px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.4;
}

.title .popupCloseIcon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    display: inline-block;
}
