/* Hide Pivots and Fields tabs */
#pivots_tab, #fields_tab {
	display: none;
}

/* Update Results button */
td.filtersButtons div.f-button a.blue, .f-button a.blue, .f-button a.disabled.blue:hover, #filters_reports_box div.tabbable div.tab-content div.active div.f-button a.blue, a.blue {
	background-color: #3668b1 !important;
}

td.filtersButtons div.f-button a.blue:hover, td.filtersButtons div.f-button a.disabled.blue:hover, #filters_reports_box div.tabbable div.tab-content div.active div.f-button a.blue:hover, a.blue:hover{
	background-color: #5789d0 !important;
}

td.filtersButtons div.f-button a.blue, div.f-button a.blue, a.blue {
	cursor: pointer;
	min-width: 85px;
	width: 150px;
	height: 25px;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
	font-family: tahoma;
	padding: 0px;
}

td.filtersButtons div.f-button span.text, div.f-button a.blue span.text, a.blue span.text {
	margin-right: 0px;
	text-transform: none;
	letter-spacing: normal;
	position: relative;
}

td.filtersButtons div.f-button {
	margin: 0px 0px 25px !important;
}

td.filtersButtons div.f-button a.blue img[alt="Refresh"], .f-button a.blue img[alt="Refresh"], td.filtersButtons div.f-button a.blue:hover img[alt="Refresh"], td.filtersButtons div.f-button a.disabled.blue:hover img[alt="Refresh"], a.blue img[alt="Refresh"], a.blue:hover img[alt="Refresh"] {
	display: none;
}
/* End of Update Results button */

/* Filters tab */
.btn-toolbar {
	float: none !important;
}

ul.nav.nav-tabs.tabs-header {
	float: left !important;
}

ul.nav.nav-tabs.tabs-header li.active a img, ul.nav.nav-tabs.tabs-header li a img  {
	display: none;
}

ul.nav.nav-tabs.tabs-header li.active a {
	color: #3668b1 !important;
}

ul.nav.nav-tabs > li > a, .nav-pills > li > a {
	padding-left: 0px;
	padding-right: 9px;
	text-transform: none;
	color: #444444 !important;
	text-decoration: none !important;
	letter-spacing: 0px;
	font-size: 14px;
	font-family: tahoma;
	float: left;
}

.nav > li > a:hover {
	background-color: transparent !important;
	color: #3668b1 !important;
}

/* End of Filters tab */

/* Filters tab contents */

.newFilterFieldDropDown {
	width: 180px !important;
}

.filterInnerContent .filterHeader {
	background-color: transparent;
}

.filterRemoveButton, .filterPropertiesButton {
	float: right;
	cursor: pointer;
	background-size: 26px !important;
	width: 22px !important;
	height: 22px !important;
	display: inline-block !important;
}

.filterRemoveButton {
	background-image: url("../../../images/Delete.svg")
}

.filterPropertiesButton {
	background-image: url("../../../images/Tool.svg")
}


.filter_criteria, .filter_criteria.disaled {
	font-size: 12px;
	width: 246px;
	height: 15px;
	border: 1px solid #505050;
	color: #444;
	margin-top: 7px;
}

#repHeader {
	display: none;
}

#htmlFilters {
	margin-top: 10px;
}

div.filterRemoveButton.disabled, div.filterPropertiesButton.disabled {
	cursor: default;
}


/* Select */
.filterTitle {
	font-size: 12px;
	color: #444;
	margin-top: 5px;
}

.filterInnerContent .sys_f_div_select {
	margin-bottom: -9px;
}

/* End of Select */

/* Properties Dialog */

div.iz-ui-dialog.iz-ui-widget.iz-ui-widget-content.iz-ui-corner-all.iz-ui-draggable.dialog_properties {
	border: 1px solid #3767B1 !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7) !important;
}

div.dialog_properties div.iz-ui-dialog-titlebar.iz-ui-widget-header.iz-ui-corner-all.iz-ui-helper-clearfix {
	cursor: move;
	background-color: #3768B1 !important;
	background-image: none;
	background-repeat: repeat-x;
	padding: 3px 7px !important;
	border: 1px solid #3768B1 !important;
}

div.dialog_properties div.iz-ui-dialog-titlebar.iz-ui-widget-header.iz-ui-corner-all.iz-ui-helper-clearfix span.iz-ui-dialog-title {
	color: #FFFFFF;
	font-size: 10pt;
	padding: 0 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.4;
}

div.iz-ui-widget-overlay {
	background-color: #ffffff !important;
}

.dialog_properties .iz-ui-icon .iz-ui-icon-closethick, .dialog_properties iz-ui-dialog-titlebar-close.iz-ui-corner-all,  .dialog_properties iz-ui-dialog-titlebar-close.iz-ui-corner-all.iz-ui-state-hover {
	background-image: none !important;
}

div.dialog_properties .iz-ui-dialog-titlebar-close.iz-ui-corner-all {
	background-image: url('../../../images/ic-close.svg') !important;
	background-position: 2px center !important;
	background-position-x: 2px !important;
	background-position-y: center !important;
}

.iz-ui-state-hover {
	background-image: none !important;
}

.dialog_properties .iz-ui-dialog-titlebar.iz-ui-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 4px;
	top: 5px;
}

.dialog_properties span.iz-ui-icon.iz-ui-icon-closethick {
	background-image: none !important;
}

.dialog_properties .iz-ui-state-hover, .dialog_properties .iz-ui-widget-content .iz-ui-state-hover {
	border: none !important;
	margin: -9px -11px 0px 0px;
	padding: 0px !important;
}

.dialog_properties #titleDiv {
	display: none;
}

.dialog_properties.iz-ui-widget td #propDescription, .dialog_properties.iz-ui-widget td #propWidth {
	font-size: 12px;
	width: 249px !important;
	height: 15px;
	border: 1px solid #505050;
	color: #444;
	margin-top: 7px;
}

div.dialog_properties.iz-ui-widget .label{
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}

div.dialog_properties .sys_f_select {
	z-index: 9999;
}

#div_propFormats, #div_propFilterOperators {
	width: 250px;
}

.sys_f_span_select {
	margin-left: 0px !important;
}

div.dialog_properties.iz-ui-widget {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/* End of Properties Dialog */

/* Properties Dialog buttons */

div.dialog_properties.iz-ui-widget .iz-ui-dialog-buttonset {
	float: none;
	text-align: center;
}

button.btn.iz-ui-state-hover {
	font-weight: normal;
}

div.dialog_properties.iz-ui-widget .iz-ui-button-text-only .iz-ui-button-text {
	 padding: 0px;
}

.dialog_properties .iz-ui-state-hover, .dialog_properties .iz-ui-widget-content .btn.iz-ui-state-hover, .dialog_properties .iz-ui-state-hover, .dialog_properties .iz-ui-widget-content .btn {
	margin: 0px 5px 6px 0px;
	
}

/* End of Properties Dialog buttons */

/* Properties Dialog checkbox */

div.dialog_properties.iz-ui-widget input[type="checkbox"] {
	position: absolute;
	z-index: 9999;
	opacity: 0;
	border: 0px none;
	padding: 2px 1px 1px 1px;
	padding-bottom: 2px \0/IE9;
}

div.dialog_properties.iz-ui-widget input[type="checkbox"] + label:before {
	content: '';
	display: inline-block;
	background: url('../../../images/checkbox-unchecked.svg') 0 0 no-repeat;
	width: 14px;
	height: 14px;
	margin-right: 4px;
	vertical-align: -5px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-size: 14px 14px;
}

div.dialog_properties.iz-ui-widget input[type="checkbox"]:checked + label:before {
	background-image: url('../../../images/checkbox-checked.svg');
}

/* End of Properties Dialog checkbox */

#viewer_toolbar div.btn-group {
	display: none;
}

#viewer_toolbar input[type=button] {
	padding: 0px;
	cursor: default;
}

#viewer_toolbar.btn-toolbar {
	margin-top: 1px;
}

div.layout div.footer.applyStyles, div.layout div.top-nav.applyStyles, div.layout div.header.applyStyles {
	display: none;
}

li .filter_expand {
	background-image: url("../../../images/arrow-r.svg");
	background-position: 9px 8px;
	background-repeat: no-repeat;
	max-height: 21px;
	max-width: 22px;
	height: 21px;
	width: 22px;
	float: left;
}

li.active .filter_expand {
	background-image: url("../../../images/arrow-b.svg");
	background-position: 7px 10px;
	float: left;
}

#tab1li.active a, #fields_tab.active a, #pivots_tab.active a {
	float: left;
}

.filter_expand_fake {
	background-image: url("../../../images/arrow-r.svg");
	background-position: 9px 6px;
	visibility: hidden;
}

.claro {
	overflow: hidden;
}

.btn-toolbar {
	margin-bottom: 0px !important;
}
/* End of Filters tab contents */

.reporting-structure-ok-block .btn, .reporting-structure-ok-block .btn:hover {
	color: #FFFFFF !important;
}

.reporting-structure-ok-block .disabled.btn,.reporting-structure-ok-block [disabled].btn {
	opacity: 0.3;
	background-color: #3668b1;
	color: #FFFFFF !important;
}

.reporting-structure-ok-block [disabled].btn:hover {
	background-color: #3668b1;
	border-color: #b3b3b3;
	color: #FFFFFF !important;
	box-shadow: none;
	opacity: 0.6;
}

#tab3 .pivot-selector div.pivot_label {
	margin-right: 5px; 
	float: left;
}

#tab3 div.pivot-selector {
	text-align: right;
	width: 280px;
}

#tab3 div.pivot-selector div.sys_f_div_select, #tab3 div.pivot-selector div.sys_f_div_select select {
	width: 200px;
}

#tab3 div.pivot-selector div.sys_f_div_select select
{
	min-width: 200px;
	margin-left: 1px;
}

#tab3 div.pivot-selector .sys_f_div_select[ellipsis_select="1"] {
	background-image: url("../../../images/ellipsis.svg");
}

#tab3 div.pivot-selector .sys_f_div_select[ellipsis_select="1"]:hover {
	background-image: url("../../../images/ellipsis-hover.svg");
}

#tab3 div.pivot-selector .sys_f_div_select[ellipsis_select="1"] select {
	z-index: 0!important;
}

div.pivot-selector {
	margin-bottom: 16px;
}

#tab3 {
	margin-bottom: 25px;
}

.ReportItem a {
	display: inline-block;
}

a[href='__REPLACE_TEXT_WITH_CLICKABLE_IMAGE20x20__'] {
	font-size: 0px;
	color: rgba(0, 0, 0, 0);
}
