.with-hidden-bottom-panel div[role=separator]{
    display: none;
}

.reporting-structure-top {
    overflow: auto;
}

.bottom-panel-row {
    margin: 2px 0px;
}

.bottom-panel-row {
    vertical-align: middle;
}

.bottom-panel-row input {
    margin-right: 5px;
}

.bottom-panel-row .label * {
    vertical-align: middle;
}

.reporting-structure-top p {
    display: none;
}

.reporting-structure-bottom .isHiddenField {
    display: none;
}

.reporting-structure-bottom.showAllProps .isHiddenField {
    display: block;
}

.reporting-structure-bottom .more_link {
    color: #3668B1;
    text-decoration: underline;
    cursor: pointer;
}

.reporting-structure-bottom.showAllProps .more_link {
    display: none;
}

.reporting-structure-bottom .checkBoxContainer {
    position: relative;
    display: inline-block;
}

.reporting-structure-bottom, .reporting-structure-top {
    text-align: left;
}

.reporting-structure-top .dijitTreeExpando {
    display: none;
}

.reporting-structure-ok-block {
    margin: 15px 0px;
    text-align: center;
}

.ok-button {
    display: inline-block;
}

.reporting-structure-top .dijitTreeRow:hover {
    background-color: #dde7f5;
}