#treeContainer {
	padding: 9px 14px 0 5px;
}

.dijitTreeIndent {
	width: 25px;
	padding-left:0.5px;
}

#reportsTree, #treeContainer {
	height: 100%;
}

#reportsTree {
	border-right: 1px solid #D4D4D4 !important;
}

.claro .dijitLeaf {
	background-image: none;
	display: none;
}

.dijitTreeLabel {
	font: 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	color: #444444;
}