<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../../javascript/include.aspx?classes=DynamicTreeGrid.css"/>
	<link rel="stylesheet" type="text/css" href="../Styles/EffectivityStyles.min.css"/>
	<script type="text/javascript" src="../../../javascript/include.aspx?classes=ArasModules,XmlDocument,ToolbarWrapper,DynamicTreeGrid,pageReturnBlocker"></script>
	<script type="text/javascript" src="../../../jsBundles/cui.js"></script>
	<script type="text/javascript" src="../Scripts/effs_cuiFormatters.js"></script>
	<script type="text/javascript" src="../Scripts/EffectivityCriteriaDialogViewController.js"></script>
	<script type="text/javascript">
		window.addEventListener('DOMContentLoaded', function() {
			EffectivityCriteriaDialogViewController.createInstance({
				dialogArguments: window.frameElement.dialogArguments,
				toolbarConnectId: 'toolbar_container',
				gridConnectId: 'grid_container',
				applyButtonConnectId: 'apply_button',
				clearButtonConnectId: 'clear_button'
			});
		});
	</script>
	<base href="../../../scripts/">
</head>
<body class="aras-flex aras-flex_column effs-dialog effs-criteria-dialog effs-no-overflow">
	<div class="effs-dialog__item">
		<div id="toolbar_container"></div>
	</div>
	<div class="effs-dialog__item effs-dialog__item_margin-top_regular effs-dialog__item_height_full">
		<div id="grid_container" class="effs-criteria-dialog__grid aras-flex-grow"></div>
	</div>
	<div class="effs-dialog__item effs-dialog__item_margin-top_large effs-dialog__item_flex-alignment_end aras-flex">
		<button id="apply_button" class="aras-button aras-button_primary effs-dialog__button">
			<span class="aras-button__text"></span>
		</button>
		<button id="clear_button" class="aras-button aras-button_secondary-light effs-dialog__button">
			<span class="aras-button__text"></span>
		</button>
	</div>
</body>
</html>